In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
git add .

SyntaxError: invalid syntax (<ipython-input-2-3d6cfb4a5e4d>, line 1)

In [3]:
import numpy as np
from scipy import stats

In [16]:
DATASET2017 = "datasets/NPS/surveys/2017/survey1.csv"

In [17]:
df2017 = pd.read_csv(DATASET2017)

In [29]:
df.count()

ID                 1453
Location           1406
Track              1406
Week               1453
Rating (Num)       1453
Schedule Pacing    1450
dtype: int64

In [34]:
df["Rating (Num)"]

0        3
1        4
2        4
3        4
4        4
5        5
6        5
7        5
8        5
9        5
10       5
11       5
12       5
13       5
14       5
15       5
16       5
17       5
18       5
19       5
20       6
21       6
22       6
23       6
24       6
25       6
26       6
27       6
28       6
29       6
        ..
1423    10
1424     8
1425     9
1426    10
1427     9
1428     9
1429     8
1430    10
1431    10
1432     9
1433     9
1434    10
1435     8
1436     7
1437     7
1438     7
1439     9
1440     8
1441     7
1442    10
1443    10
1444     9
1445     9
1446     3
1447    10
1448    10
1449     8
1450    10
1451     1
1452     8
Name: Rating (Num), Length: 1453, dtype: object

In [35]:
df[NaN]

NameError: name 'NaN' is not defined

In [36]:
df

,ID,Location,Track,Week,Rating (Num),Schedule Pacing
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right
1,36,Los Angeles,Apps,Week 1,4,A little too fast
2,117,San Francisco,Games,Week 1,4,Way too slow
3,253,NaN,NaN,Week 2,4,A little too fast
4,350,New York City,"Apps, Explorer",Week 1,4,Just right
5,23,Redwood City,Apps,Week 1,5,Just right
6,28,Los Angeles,Apps,Week 7,5,Just right
7,65,San Francisco,Apps,Week 1,5,A little too slow
8,101,Santa Clara,Apps,Week 1,5,A little too slow
9,124,Santa Clara,Apps,Week 1,5,Just right
10,157,Redwood City,Apps,Week 2,5,Just right
11,170,Oakland,Apps,Week 2,5,Just right
12,255,San Francisco,Apps,Week 2,5,Way too fast
13,289,Washington DC,Apps,Week 1,5,Just right
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow
15,307,NaN,NaN,Week 3,5,A little too slow
16,319,Redwood City,Apps,Week 3,5,Just right
17,336,New York City,Apps,Week 1,5,A little too slow
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right
19,482,Santa Clara,Apps,Week 3,5,Just right
20,37,Los Angeles,Games,Week 1,6,Just right
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right
22,45,Chicago,Apps,Week 1,6,A little too slow
23,47,Chicago,Apps,Week 1,6,A little too slow
24,77,San Francisco,Apps,Week 1,6,A little too fast
25,78,San Francisco,Apps,Week 1,6,A little too fast
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right
27,193,Santa Clara,Apps,Week 2,6,Just right
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right
29,254,San Francisco,Apps,Week 2,6,Way too fast
...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right
1424,1471,New York City,Apps,Week 7,8,Just right
1425,1472,New York City,Games,Week 7,9,Just right
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right
1427,1474,New York City,Games,Week 7,9,Just right
1428,1475,New York City,Apps,Week 7,9,Just right
1429,1476,New York City,Apps,Week 7,8,A little too fast
1430,1477,New York City,Games,Week 7,10,Just right
1431,1478,New York City,Apps,Week 7,10,Just right
1432,1479,New York City,Games,Week 7,9,Just right
1433,1480,New York City,Apps,Week 7,9,Just right
1434,1481,New York City,Apps,Week 7,10,Just right
1435,1482,New York City,Apps,Week 7,8,Just right
1436,1483,New York City,Apps,Week 7,7,A little too fast
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast
1438,1485,New York City,Apps,Week 7,7,Just right
1439,1486,New York City,Apps,Week 7,9,Just right
1440,1487,New York City,Apps,Week 7,8,Just right
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right
1444,1491,New York City,Games,Week 7,9,A little too fast
1445,1492,New York City,Apps,Week 7,9,Just right
1446,1493,New York City,Apps,Week 7,3,Just right
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right
1450,1497,New York City,Apps,Week 7,10,Just right
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow
1452,1499,New York City,Apps,Week 5,8,Just right

In [37]:
df["Year"] = 2017

In [38]:
df

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Year
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,2017
1,36,Los Angeles,Apps,Week 1,4,A little too fast,2017
2,117,San Francisco,Games,Week 1,4,Way too slow,2017
3,253,NaN,NaN,Week 2,4,A little too fast,2017
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,2017
5,23,Redwood City,Apps,Week 1,5,Just right,2017
6,28,Los Angeles,Apps,Week 7,5,Just right,2017
7,65,San Francisco,Apps,Week 1,5,A little too slow,2017
8,101,Santa Clara,Apps,Week 1,5,A little too slow,2017
9,124,Santa Clara,Apps,Week 1,5,Just right,2017
10,157,Redwood City,Apps,Week 2,5,Just right,2017
11,170,Oakland,Apps,Week 2,5,Just right,2017
12,255,San Francisco,Apps,Week 2,5,Way too fast,2017
13,289,Washington DC,Apps,Week 1,5,Just right,2017
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,2017
15,307,NaN,NaN,Week 3,5,A little too slow,2017
16,319,Redwood City,Apps,Week 3,5,Just right,2017
17,336,New York City,Apps,Week 1,5,A little too slow,2017
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,2017
19,482,Santa Clara,Apps,Week 3,5,Just right,2017
20,37,Los Angeles,Games,Week 1,6,Just right,2017
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,2017
22,45,Chicago,Apps,Week 1,6,A little too slow,2017
23,47,Chicago,Apps,Week 1,6,A little too slow,2017
24,77,San Francisco,Apps,Week 1,6,A little too fast,2017
25,78,San Francisco,Apps,Week 1,6,A little too fast,2017
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,2017
27,193,Santa Clara,Apps,Week 2,6,Just right,2017
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,2017
29,254,San Francisco,Apps,Week 2,6,Way too fast,2017
...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,2017
1424,1471,New York City,Apps,Week 7,8,Just right,2017
1425,1472,New York City,Games,Week 7,9,Just right,2017
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,2017
1427,1474,New York City,Games,Week 7,9,Just right,2017
1428,1475,New York City,Apps,Week 7,9,Just right,2017
1429,1476,New York City,Apps,Week 7,8,A little too fast,2017
1430,1477,New York City,Games,Week 7,10,Just right,2017
1431,1478,New York City,Apps,Week 7,10,Just right,2017
1432,1479,New York City,Games,Week 7,9,Just right,2017
1433,1480,New York City,Apps,Week 7,9,Just right,2017
1434,1481,New York City,Apps,Week 7,10,Just right,2017
1435,1482,New York City,Apps,Week 7,8,Just right,2017
1436,1483,New York City,Apps,Week 7,7,A little too fast,2017
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,2017
1438,1485,New York City,Apps,Week 7,7,Just right,2017
1439,1486,New York City,Apps,Week 7,9,Just right,2017
1440,1487,New York City,Apps,Week 7,8,Just right,2017
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,2017
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1444,1491,New York City,Games,Week 7,9,A little too fast,2017
1445,1492,New York City,Apps,Week 7,9,Just right,2017
1446,1493,New York City,Apps,Week 7,3,Just right,2017
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,2017
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,2017
1450,1497,New York City,Apps,Week 7,10,Just right,2017
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,2017
1452,1499,New York City,Apps,Week 5,8,Just right,2017

In [41]:
df["Rating (Num)"].dropna().values

array(['3', '4', '4', ..., '10', '1', '8'], dtype=object)

In [42]:
df

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Year
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,2017
1,36,Los Angeles,Apps,Week 1,4,A little too fast,2017
2,117,San Francisco,Games,Week 1,4,Way too slow,2017
3,253,NaN,NaN,Week 2,4,A little too fast,2017
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,2017
5,23,Redwood City,Apps,Week 1,5,Just right,2017
6,28,Los Angeles,Apps,Week 7,5,Just right,2017
7,65,San Francisco,Apps,Week 1,5,A little too slow,2017
8,101,Santa Clara,Apps,Week 1,5,A little too slow,2017
9,124,Santa Clara,Apps,Week 1,5,Just right,2017
10,157,Redwood City,Apps,Week 2,5,Just right,2017
11,170,Oakland,Apps,Week 2,5,Just right,2017
12,255,San Francisco,Apps,Week 2,5,Way too fast,2017
13,289,Washington DC,Apps,Week 1,5,Just right,2017
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,2017
15,307,NaN,NaN,Week 3,5,A little too slow,2017
16,319,Redwood City,Apps,Week 3,5,Just right,2017
17,336,New York City,Apps,Week 1,5,A little too slow,2017
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,2017
19,482,Santa Clara,Apps,Week 3,5,Just right,2017
20,37,Los Angeles,Games,Week 1,6,Just right,2017
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,2017
22,45,Chicago,Apps,Week 1,6,A little too slow,2017
23,47,Chicago,Apps,Week 1,6,A little too slow,2017
24,77,San Francisco,Apps,Week 1,6,A little too fast,2017
25,78,San Francisco,Apps,Week 1,6,A little too fast,2017
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,2017
27,193,Santa Clara,Apps,Week 2,6,Just right,2017
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,2017
29,254,San Francisco,Apps,Week 2,6,Way too fast,2017
...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,2017
1424,1471,New York City,Apps,Week 7,8,Just right,2017
1425,1472,New York City,Games,Week 7,9,Just right,2017
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,2017
1427,1474,New York City,Games,Week 7,9,Just right,2017
1428,1475,New York City,Apps,Week 7,9,Just right,2017
1429,1476,New York City,Apps,Week 7,8,A little too fast,2017
1430,1477,New York City,Games,Week 7,10,Just right,2017
1431,1478,New York City,Apps,Week 7,10,Just right,2017
1432,1479,New York City,Games,Week 7,9,Just right,2017
1433,1480,New York City,Apps,Week 7,9,Just right,2017
1434,1481,New York City,Apps,Week 7,10,Just right,2017
1435,1482,New York City,Apps,Week 7,8,Just right,2017
1436,1483,New York City,Apps,Week 7,7,A little too fast,2017
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,2017
1438,1485,New York City,Apps,Week 7,7,Just right,2017
1439,1486,New York City,Apps,Week 7,9,Just right,2017
1440,1487,New York City,Apps,Week 7,8,Just right,2017
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,2017
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1444,1491,New York City,Games,Week 7,9,A little too fast,2017
1445,1492,New York City,Apps,Week 7,9,Just right,2017
1446,1493,New York City,Apps,Week 7,3,Just right,2017
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,2017
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,2017
1450,1497,New York City,Apps,Week 7,10,Just right,2017
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,2017
1452,1499,New York City,Apps,Week 5,8,Just right,2017

In [51]:
df

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Year
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,2017
1,36,Los Angeles,Apps,Week 1,4,A little too fast,2017
2,117,San Francisco,Games,Week 1,4,Way too slow,2017
3,253,NaN,NaN,Week 2,4,A little too fast,2017
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,2017
5,23,Redwood City,Apps,Week 1,5,Just right,2017
6,28,Los Angeles,Apps,Week 7,5,Just right,2017
7,65,San Francisco,Apps,Week 1,5,A little too slow,2017
8,101,Santa Clara,Apps,Week 1,5,A little too slow,2017
9,124,Santa Clara,Apps,Week 1,5,Just right,2017
10,157,Redwood City,Apps,Week 2,5,Just right,2017
11,170,Oakland,Apps,Week 2,5,Just right,2017
12,255,San Francisco,Apps,Week 2,5,Way too fast,2017
13,289,Washington DC,Apps,Week 1,5,Just right,2017
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,2017
15,307,NaN,NaN,Week 3,5,A little too slow,2017
16,319,Redwood City,Apps,Week 3,5,Just right,2017
17,336,New York City,Apps,Week 1,5,A little too slow,2017
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,2017
19,482,Santa Clara,Apps,Week 3,5,Just right,2017
20,37,Los Angeles,Games,Week 1,6,Just right,2017
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,2017
22,45,Chicago,Apps,Week 1,6,A little too slow,2017
23,47,Chicago,Apps,Week 1,6,A little too slow,2017
24,77,San Francisco,Apps,Week 1,6,A little too fast,2017
25,78,San Francisco,Apps,Week 1,6,A little too fast,2017
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,2017
27,193,Santa Clara,Apps,Week 2,6,Just right,2017
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,2017
29,254,San Francisco,Apps,Week 2,6,Way too fast,2017
...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,2017
1424,1471,New York City,Apps,Week 7,8,Just right,2017
1425,1472,New York City,Games,Week 7,9,Just right,2017
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,2017
1427,1474,New York City,Games,Week 7,9,Just right,2017
1428,1475,New York City,Apps,Week 7,9,Just right,2017
1429,1476,New York City,Apps,Week 7,8,A little too fast,2017
1430,1477,New York City,Games,Week 7,10,Just right,2017
1431,1478,New York City,Apps,Week 7,10,Just right,2017
1432,1479,New York City,Games,Week 7,9,Just right,2017
1433,1480,New York City,Apps,Week 7,9,Just right,2017
1434,1481,New York City,Apps,Week 7,10,Just right,2017
1435,1482,New York City,Apps,Week 7,8,Just right,2017
1436,1483,New York City,Apps,Week 7,7,A little too fast,2017
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,2017
1438,1485,New York City,Apps,Week 7,7,Just right,2017
1439,1486,New York City,Apps,Week 7,9,Just right,2017
1440,1487,New York City,Apps,Week 7,8,Just right,2017
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,2017
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1444,1491,New York City,Games,Week 7,9,A little too fast,2017
1445,1492,New York City,Apps,Week 7,9,Just right,2017
1446,1493,New York City,Apps,Week 7,3,Just right,2017
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,2017
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,2017
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,2017
1450,1497,New York City,Apps,Week 7,10,Just right,2017
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,2017
1452,1499,New York City,Apps,Week 5,8,Just right,2017

In [54]:
df['Score'] = df["Rating (Num)"]

In [55]:
df

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Year,Score
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,2017,3
1,36,Los Angeles,Apps,Week 1,4,A little too fast,2017,4
2,117,San Francisco,Games,Week 1,4,Way too slow,2017,4
3,253,NaN,NaN,Week 2,4,A little too fast,2017,4
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,2017,4
5,23,Redwood City,Apps,Week 1,5,Just right,2017,5
6,28,Los Angeles,Apps,Week 7,5,Just right,2017,5
7,65,San Francisco,Apps,Week 1,5,A little too slow,2017,5
8,101,Santa Clara,Apps,Week 1,5,A little too slow,2017,5
9,124,Santa Clara,Apps,Week 1,5,Just right,2017,5
10,157,Redwood City,Apps,Week 2,5,Just right,2017,5
11,170,Oakland,Apps,Week 2,5,Just right,2017,5
12,255,San Francisco,Apps,Week 2,5,Way too fast,2017,5
13,289,Washington DC,Apps,Week 1,5,Just right,2017,5
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,2017,5
15,307,NaN,NaN,Week 3,5,A little too slow,2017,5
16,319,Redwood City,Apps,Week 3,5,Just right,2017,5
17,336,New York City,Apps,Week 1,5,A little too slow,2017,5
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,2017,5
19,482,Santa Clara,Apps,Week 3,5,Just right,2017,5
20,37,Los Angeles,Games,Week 1,6,Just right,2017,6
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,2017,6
22,45,Chicago,Apps,Week 1,6,A little too slow,2017,6
23,47,Chicago,Apps,Week 1,6,A little too slow,2017,6
24,77,San Francisco,Apps,Week 1,6,A little too fast,2017,6
25,78,San Francisco,Apps,Week 1,6,A little too fast,2017,6
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,2017,6
27,193,Santa Clara,Apps,Week 2,6,Just right,2017,6
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,2017,6
29,254,San Francisco,Apps,Week 2,6,Way too fast,2017,6
...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,2017,10
1424,1471,New York City,Apps,Week 7,8,Just right,2017,8
1425,1472,New York City,Games,Week 7,9,Just right,2017,9
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1427,1474,New York City,Games,Week 7,9,Just right,2017,9
1428,1475,New York City,Apps,Week 7,9,Just right,2017,9
1429,1476,New York City,Apps,Week 7,8,A little too fast,2017,8
1430,1477,New York City,Games,Week 7,10,Just right,2017,10
1431,1478,New York City,Apps,Week 7,10,Just right,2017,10
1432,1479,New York City,Games,Week 7,9,Just right,2017,9
1433,1480,New York City,Apps,Week 7,9,Just right,2017,9
1434,1481,New York City,Apps,Week 7,10,Just right,2017,10
1435,1482,New York City,Apps,Week 7,8,Just right,2017,8
1436,1483,New York City,Apps,Week 7,7,A little too fast,2017,7
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,2017,7
1438,1485,New York City,Apps,Week 7,7,Just right,2017,7
1439,1486,New York City,Apps,Week 7,9,Just right,2017,9
1440,1487,New York City,Apps,Week 7,8,Just right,2017,8
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,2017,7
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1444,1491,New York City,Games,Week 7,9,A little too fast,2017,9
1445,1492,New York City,Apps,Week 7,9,Just right,2017,9
1446,1493,New York City,Apps,Week 7,3,Just right,2017,3
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,2017,8
1450,1497,New York City,Apps,Week 7,10,Just right,2017,10
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,2017,1
1452,1499,New York City,Apps,Week 5,8,Just right,2017,8

In [59]:
df.drop(['Rating (Num)'], axis=1)

,ID,Location,Track,Week,Schedule Pacing,Year,Score
0,134,San Francisco,"Apps, Explorer",Week 1,Just right,2017,3
1,36,Los Angeles,Apps,Week 1,A little too fast,2017,4
2,117,San Francisco,Games,Week 1,Way too slow,2017,4
3,253,NaN,NaN,Week 2,A little too fast,2017,4
4,350,New York City,"Apps, Explorer",Week 1,Just right,2017,4
5,23,Redwood City,Apps,Week 1,Just right,2017,5
6,28,Los Angeles,Apps,Week 7,Just right,2017,5
7,65,San Francisco,Apps,Week 1,A little too slow,2017,5
8,101,Santa Clara,Apps,Week 1,A little too slow,2017,5
9,124,Santa Clara,Apps,Week 1,Just right,2017,5
10,157,Redwood City,Apps,Week 2,Just right,2017,5
11,170,Oakland,Apps,Week 2,Just right,2017,5
12,255,San Francisco,Apps,Week 2,Way too fast,2017,5
13,289,Washington DC,Apps,Week 1,Just right,2017,5
14,299,Washington DC,"Apps, Explorer",Week 1,A little too slow,2017,5
15,307,NaN,NaN,Week 3,A little too slow,2017,5
16,319,Redwood City,Apps,Week 3,Just right,2017,5
17,336,New York City,Apps,Week 1,A little too slow,2017,5
18,441,San Francisco,"Apps, Explorer",Week 3,Just right,2017,5
19,482,Santa Clara,Apps,Week 3,Just right,2017,5
20,37,Los Angeles,Games,Week 1,Just right,2017,6
21,41,Chicago,"Apps, Explorer",Week 1,Just right,2017,6
22,45,Chicago,Apps,Week 1,A little too slow,2017,6
23,47,Chicago,Apps,Week 1,A little too slow,2017,6
24,77,San Francisco,Apps,Week 1,A little too fast,2017,6
25,78,San Francisco,Apps,Week 1,A little too fast,2017,6
26,94,San Francisco,"Apps, Explorer",Week 1,Just right,2017,6
27,193,Santa Clara,Apps,Week 2,Just right,2017,6
28,251,San Francisco,"Apps, Explorer",Week 2,Just right,2017,6
29,254,San Francisco,Apps,Week 2,Way too fast,2017,6
...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,Just right,2017,10
1424,1471,New York City,Apps,Week 7,Just right,2017,8
1425,1472,New York City,Games,Week 7,Just right,2017,9
1426,1473,New York City,"Games, Explorer",Week 7,Just right,2017,10
1427,1474,New York City,Games,Week 7,Just right,2017,9
1428,1475,New York City,Apps,Week 7,Just right,2017,9
1429,1476,New York City,Apps,Week 7,A little too fast,2017,8
1430,1477,New York City,Games,Week 7,Just right,2017,10
1431,1478,New York City,Apps,Week 7,Just right,2017,10
1432,1479,New York City,Games,Week 7,Just right,2017,9
1433,1480,New York City,Apps,Week 7,Just right,2017,9
1434,1481,New York City,Apps,Week 7,Just right,2017,10
1435,1482,New York City,Apps,Week 7,Just right,2017,8
1436,1483,New York City,Apps,Week 7,A little too fast,2017,7
1437,1484,New York City,"Apps, Explorer",Week 7,Way too fast,2017,7
1438,1485,New York City,Apps,Week 7,Just right,2017,7
1439,1486,New York City,Apps,Week 7,Just right,2017,9
1440,1487,New York City,Apps,Week 7,Just right,2017,8
1441,1488,New York City,"Games, Explorer",Week 7,Just right,2017,7
1442,1489,New York City,"Apps, Explorer",Week 7,Just right,2017,10
1443,1490,New York City,"Apps, Explorer",Week 7,Just right,2017,10
1444,1491,New York City,Games,Week 7,A little too fast,2017,9
1445,1492,New York City,Apps,Week 7,Just right,2017,9
1446,1493,New York City,Apps,Week 7,Just right,2017,3
1447,1494,New York City,"Games, Explorer",Week 7,Just right,2017,10
1448,1495,New York City,"Apps, Explorer",Week 7,Just right,2017,10
1449,1496,New York City,"Apps, Explorer",Week 7,Just right,2017,8
1450,1497,New York City,Apps,Week 7,Just right,2017,10
1451,1498,New York City,"Apps, Explorer",Week 7,A little too slow,2017,1
1452,1499,New York City,Apps,Week 5,Just right,2017,8

In [66]:
df["Score"].nunique

<bound method IndexOpsMixin.nunique of 0        3
1        4
2        4
3        4
4        4
5        5
6        5
7        5
8        5
9        5
10       5
11       5
12       5
13       5
14       5
15       5
16       5
17       5
18       5
19       5
20       6
21       6
22       6
23       6
24       6
25       6
26       6
27       6
28       6
29       6
        ..
1423    10
1424     8
1425     9
1426    10
1427     9
1428     9
1429     8
1430    10
1431    10
1432     9
1433     9
1434    10
1435     8
1436     7
1437     7
1438     7
1439     9
1440     8
1441     7
1442    10
1443    10
1444     9
1445     9
1446     3
1447    10
1448    10
1449     8
1450    10
1451     1
1452     8
Name: Score, Length: 1453, dtype: object>

In [67]:
df["Score"].unique()

array(['3', '4', '5', '6', '7', '8', '9', '10', '0', '1', '2', '#ERROR!'],
      dtype=object)

In [68]:
df[(df["Score"] == '#ERROR!')]

        ID Location Track    Week Rating (Num) Schedule Pacing  Year    Score
1310  1356      NaN   NaN  Week 2      #ERROR!             NaN  2017  #ERROR!
1322  1368      NaN   NaN  Week 3      #ERROR!             NaN  2017  #ERROR!
1411  1458      NaN   NaN  Week 3      #ERROR!             NaN  2017  #ERROR!

In [69]:
df_backup = df

In [71]:
df.drop(1310)

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Year,Score
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,2017,3
1,36,Los Angeles,Apps,Week 1,4,A little too fast,2017,4
2,117,San Francisco,Games,Week 1,4,Way too slow,2017,4
3,253,NaN,NaN,Week 2,4,A little too fast,2017,4
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,2017,4
5,23,Redwood City,Apps,Week 1,5,Just right,2017,5
6,28,Los Angeles,Apps,Week 7,5,Just right,2017,5
7,65,San Francisco,Apps,Week 1,5,A little too slow,2017,5
8,101,Santa Clara,Apps,Week 1,5,A little too slow,2017,5
9,124,Santa Clara,Apps,Week 1,5,Just right,2017,5
10,157,Redwood City,Apps,Week 2,5,Just right,2017,5
11,170,Oakland,Apps,Week 2,5,Just right,2017,5
12,255,San Francisco,Apps,Week 2,5,Way too fast,2017,5
13,289,Washington DC,Apps,Week 1,5,Just right,2017,5
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,2017,5
15,307,NaN,NaN,Week 3,5,A little too slow,2017,5
16,319,Redwood City,Apps,Week 3,5,Just right,2017,5
17,336,New York City,Apps,Week 1,5,A little too slow,2017,5
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,2017,5
19,482,Santa Clara,Apps,Week 3,5,Just right,2017,5
20,37,Los Angeles,Games,Week 1,6,Just right,2017,6
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,2017,6
22,45,Chicago,Apps,Week 1,6,A little too slow,2017,6
23,47,Chicago,Apps,Week 1,6,A little too slow,2017,6
24,77,San Francisco,Apps,Week 1,6,A little too fast,2017,6
25,78,San Francisco,Apps,Week 1,6,A little too fast,2017,6
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,2017,6
27,193,Santa Clara,Apps,Week 2,6,Just right,2017,6
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,2017,6
29,254,San Francisco,Apps,Week 2,6,Way too fast,2017,6
...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,2017,10
1424,1471,New York City,Apps,Week 7,8,Just right,2017,8
1425,1472,New York City,Games,Week 7,9,Just right,2017,9
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1427,1474,New York City,Games,Week 7,9,Just right,2017,9
1428,1475,New York City,Apps,Week 7,9,Just right,2017,9
1429,1476,New York City,Apps,Week 7,8,A little too fast,2017,8
1430,1477,New York City,Games,Week 7,10,Just right,2017,10
1431,1478,New York City,Apps,Week 7,10,Just right,2017,10
1432,1479,New York City,Games,Week 7,9,Just right,2017,9
1433,1480,New York City,Apps,Week 7,9,Just right,2017,9
1434,1481,New York City,Apps,Week 7,10,Just right,2017,10
1435,1482,New York City,Apps,Week 7,8,Just right,2017,8
1436,1483,New York City,Apps,Week 7,7,A little too fast,2017,7
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,2017,7
1438,1485,New York City,Apps,Week 7,7,Just right,2017,7
1439,1486,New York City,Apps,Week 7,9,Just right,2017,9
1440,1487,New York City,Apps,Week 7,8,Just right,2017,8
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,2017,7
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1444,1491,New York City,Games,Week 7,9,A little too fast,2017,9
1445,1492,New York City,Apps,Week 7,9,Just right,2017,9
1446,1493,New York City,Apps,Week 7,3,Just right,2017,3
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,2017,8
1450,1497,New York City,Apps,Week 7,10,Just right,2017,10
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,2017,1
1452,1499,New York City,Apps,Week 5,8,Just right,2017,8

In [72]:
df[(df["Score"] == '#ERROR!')]

        ID Location Track    Week Rating (Num) Schedule Pacing  Year    Score
1310  1356      NaN   NaN  Week 2      #ERROR!             NaN  2017  #ERROR!
1322  1368      NaN   NaN  Week 3      #ERROR!             NaN  2017  #ERROR!
1411  1458      NaN   NaN  Week 3      #ERROR!             NaN  2017  #ERROR!

In [73]:
df = df_backup

In [74]:
df

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Year,Score
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,2017,3
1,36,Los Angeles,Apps,Week 1,4,A little too fast,2017,4
2,117,San Francisco,Games,Week 1,4,Way too slow,2017,4
3,253,NaN,NaN,Week 2,4,A little too fast,2017,4
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,2017,4
5,23,Redwood City,Apps,Week 1,5,Just right,2017,5
6,28,Los Angeles,Apps,Week 7,5,Just right,2017,5
7,65,San Francisco,Apps,Week 1,5,A little too slow,2017,5
8,101,Santa Clara,Apps,Week 1,5,A little too slow,2017,5
9,124,Santa Clara,Apps,Week 1,5,Just right,2017,5
10,157,Redwood City,Apps,Week 2,5,Just right,2017,5
11,170,Oakland,Apps,Week 2,5,Just right,2017,5
12,255,San Francisco,Apps,Week 2,5,Way too fast,2017,5
13,289,Washington DC,Apps,Week 1,5,Just right,2017,5
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,2017,5
15,307,NaN,NaN,Week 3,5,A little too slow,2017,5
16,319,Redwood City,Apps,Week 3,5,Just right,2017,5
17,336,New York City,Apps,Week 1,5,A little too slow,2017,5
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,2017,5
19,482,Santa Clara,Apps,Week 3,5,Just right,2017,5
20,37,Los Angeles,Games,Week 1,6,Just right,2017,6
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,2017,6
22,45,Chicago,Apps,Week 1,6,A little too slow,2017,6
23,47,Chicago,Apps,Week 1,6,A little too slow,2017,6
24,77,San Francisco,Apps,Week 1,6,A little too fast,2017,6
25,78,San Francisco,Apps,Week 1,6,A little too fast,2017,6
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,2017,6
27,193,Santa Clara,Apps,Week 2,6,Just right,2017,6
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,2017,6
29,254,San Francisco,Apps,Week 2,6,Way too fast,2017,6
...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,2017,10
1424,1471,New York City,Apps,Week 7,8,Just right,2017,8
1425,1472,New York City,Games,Week 7,9,Just right,2017,9
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1427,1474,New York City,Games,Week 7,9,Just right,2017,9
1428,1475,New York City,Apps,Week 7,9,Just right,2017,9
1429,1476,New York City,Apps,Week 7,8,A little too fast,2017,8
1430,1477,New York City,Games,Week 7,10,Just right,2017,10
1431,1478,New York City,Apps,Week 7,10,Just right,2017,10
1432,1479,New York City,Games,Week 7,9,Just right,2017,9
1433,1480,New York City,Apps,Week 7,9,Just right,2017,9
1434,1481,New York City,Apps,Week 7,10,Just right,2017,10
1435,1482,New York City,Apps,Week 7,8,Just right,2017,8
1436,1483,New York City,Apps,Week 7,7,A little too fast,2017,7
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,2017,7
1438,1485,New York City,Apps,Week 7,7,Just right,2017,7
1439,1486,New York City,Apps,Week 7,9,Just right,2017,9
1440,1487,New York City,Apps,Week 7,8,Just right,2017,8
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,2017,7
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1444,1491,New York City,Games,Week 7,9,A little too fast,2017,9
1445,1492,New York City,Apps,Week 7,9,Just right,2017,9
1446,1493,New York City,Apps,Week 7,3,Just right,2017,3
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,2017,8
1450,1497,New York City,Apps,Week 7,10,Just right,2017,10
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,2017,1
1452,1499,New York City,Apps,Week 5,8,Just right,2017,8

In [75]:
df.drop([1310, 1322,1411])

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Year,Score
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,2017,3
1,36,Los Angeles,Apps,Week 1,4,A little too fast,2017,4
2,117,San Francisco,Games,Week 1,4,Way too slow,2017,4
3,253,NaN,NaN,Week 2,4,A little too fast,2017,4
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,2017,4
5,23,Redwood City,Apps,Week 1,5,Just right,2017,5
6,28,Los Angeles,Apps,Week 7,5,Just right,2017,5
7,65,San Francisco,Apps,Week 1,5,A little too slow,2017,5
8,101,Santa Clara,Apps,Week 1,5,A little too slow,2017,5
9,124,Santa Clara,Apps,Week 1,5,Just right,2017,5
10,157,Redwood City,Apps,Week 2,5,Just right,2017,5
11,170,Oakland,Apps,Week 2,5,Just right,2017,5
12,255,San Francisco,Apps,Week 2,5,Way too fast,2017,5
13,289,Washington DC,Apps,Week 1,5,Just right,2017,5
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,2017,5
15,307,NaN,NaN,Week 3,5,A little too slow,2017,5
16,319,Redwood City,Apps,Week 3,5,Just right,2017,5
17,336,New York City,Apps,Week 1,5,A little too slow,2017,5
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,2017,5
19,482,Santa Clara,Apps,Week 3,5,Just right,2017,5
20,37,Los Angeles,Games,Week 1,6,Just right,2017,6
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,2017,6
22,45,Chicago,Apps,Week 1,6,A little too slow,2017,6
23,47,Chicago,Apps,Week 1,6,A little too slow,2017,6
24,77,San Francisco,Apps,Week 1,6,A little too fast,2017,6
25,78,San Francisco,Apps,Week 1,6,A little too fast,2017,6
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,2017,6
27,193,Santa Clara,Apps,Week 2,6,Just right,2017,6
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,2017,6
29,254,San Francisco,Apps,Week 2,6,Way too fast,2017,6
...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,2017,10
1424,1471,New York City,Apps,Week 7,8,Just right,2017,8
1425,1472,New York City,Games,Week 7,9,Just right,2017,9
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1427,1474,New York City,Games,Week 7,9,Just right,2017,9
1428,1475,New York City,Apps,Week 7,9,Just right,2017,9
1429,1476,New York City,Apps,Week 7,8,A little too fast,2017,8
1430,1477,New York City,Games,Week 7,10,Just right,2017,10
1431,1478,New York City,Apps,Week 7,10,Just right,2017,10
1432,1479,New York City,Games,Week 7,9,Just right,2017,9
1433,1480,New York City,Apps,Week 7,9,Just right,2017,9
1434,1481,New York City,Apps,Week 7,10,Just right,2017,10
1435,1482,New York City,Apps,Week 7,8,Just right,2017,8
1436,1483,New York City,Apps,Week 7,7,A little too fast,2017,7
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,2017,7
1438,1485,New York City,Apps,Week 7,7,Just right,2017,7
1439,1486,New York City,Apps,Week 7,9,Just right,2017,9
1440,1487,New York City,Apps,Week 7,8,Just right,2017,8
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,2017,7
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1444,1491,New York City,Games,Week 7,9,A little too fast,2017,9
1445,1492,New York City,Apps,Week 7,9,Just right,2017,9
1446,1493,New York City,Apps,Week 7,3,Just right,2017,3
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,2017,8
1450,1497,New York City,Apps,Week 7,10,Just right,2017,10
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,2017,1
1452,1499,New York City,Apps,Week 5,8,Just right,2017,8

In [78]:
df_backup2 = df[(df["Score"] != '#ERROR!')]

In [79]:
df_backup2

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Year,Score
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,2017,3
1,36,Los Angeles,Apps,Week 1,4,A little too fast,2017,4
2,117,San Francisco,Games,Week 1,4,Way too slow,2017,4
3,253,NaN,NaN,Week 2,4,A little too fast,2017,4
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,2017,4
5,23,Redwood City,Apps,Week 1,5,Just right,2017,5
6,28,Los Angeles,Apps,Week 7,5,Just right,2017,5
7,65,San Francisco,Apps,Week 1,5,A little too slow,2017,5
8,101,Santa Clara,Apps,Week 1,5,A little too slow,2017,5
9,124,Santa Clara,Apps,Week 1,5,Just right,2017,5
10,157,Redwood City,Apps,Week 2,5,Just right,2017,5
11,170,Oakland,Apps,Week 2,5,Just right,2017,5
12,255,San Francisco,Apps,Week 2,5,Way too fast,2017,5
13,289,Washington DC,Apps,Week 1,5,Just right,2017,5
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,2017,5
15,307,NaN,NaN,Week 3,5,A little too slow,2017,5
16,319,Redwood City,Apps,Week 3,5,Just right,2017,5
17,336,New York City,Apps,Week 1,5,A little too slow,2017,5
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,2017,5
19,482,Santa Clara,Apps,Week 3,5,Just right,2017,5
20,37,Los Angeles,Games,Week 1,6,Just right,2017,6
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,2017,6
22,45,Chicago,Apps,Week 1,6,A little too slow,2017,6
23,47,Chicago,Apps,Week 1,6,A little too slow,2017,6
24,77,San Francisco,Apps,Week 1,6,A little too fast,2017,6
25,78,San Francisco,Apps,Week 1,6,A little too fast,2017,6
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,2017,6
27,193,Santa Clara,Apps,Week 2,6,Just right,2017,6
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,2017,6
29,254,San Francisco,Apps,Week 2,6,Way too fast,2017,6
...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,2017,10
1424,1471,New York City,Apps,Week 7,8,Just right,2017,8
1425,1472,New York City,Games,Week 7,9,Just right,2017,9
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1427,1474,New York City,Games,Week 7,9,Just right,2017,9
1428,1475,New York City,Apps,Week 7,9,Just right,2017,9
1429,1476,New York City,Apps,Week 7,8,A little too fast,2017,8
1430,1477,New York City,Games,Week 7,10,Just right,2017,10
1431,1478,New York City,Apps,Week 7,10,Just right,2017,10
1432,1479,New York City,Games,Week 7,9,Just right,2017,9
1433,1480,New York City,Apps,Week 7,9,Just right,2017,9
1434,1481,New York City,Apps,Week 7,10,Just right,2017,10
1435,1482,New York City,Apps,Week 7,8,Just right,2017,8
1436,1483,New York City,Apps,Week 7,7,A little too fast,2017,7
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,2017,7
1438,1485,New York City,Apps,Week 7,7,Just right,2017,7
1439,1486,New York City,Apps,Week 7,9,Just right,2017,9
1440,1487,New York City,Apps,Week 7,8,Just right,2017,8
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,2017,7
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1444,1491,New York City,Games,Week 7,9,A little too fast,2017,9
1445,1492,New York City,Apps,Week 7,9,Just right,2017,9
1446,1493,New York City,Apps,Week 7,3,Just right,2017,3
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,2017,10
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,2017,10
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,2017,8
1450,1497,New York City,Apps,Week 7,10,Just right,2017,10
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,2017,1
1452,1499,New York City,Apps,Week 5,8,Just right,2017,8

In [84]:
df_backup2["Score"].unique()

array(['3', '4', '5', '6', '7', '8', '9', '10', '0', '1', '2'],
      dtype=object)

In [85]:
df_backup2 = df_backup2.drop(['Rating (Num)'], axis=1)

In [86]:
df_backup2

,ID,Location,Track,Week,Schedule Pacing,Year,Score
0,134,San Francisco,"Apps, Explorer",Week 1,Just right,2017,3
1,36,Los Angeles,Apps,Week 1,A little too fast,2017,4
2,117,San Francisco,Games,Week 1,Way too slow,2017,4
3,253,NaN,NaN,Week 2,A little too fast,2017,4
4,350,New York City,"Apps, Explorer",Week 1,Just right,2017,4
5,23,Redwood City,Apps,Week 1,Just right,2017,5
6,28,Los Angeles,Apps,Week 7,Just right,2017,5
7,65,San Francisco,Apps,Week 1,A little too slow,2017,5
8,101,Santa Clara,Apps,Week 1,A little too slow,2017,5
9,124,Santa Clara,Apps,Week 1,Just right,2017,5
10,157,Redwood City,Apps,Week 2,Just right,2017,5
11,170,Oakland,Apps,Week 2,Just right,2017,5
12,255,San Francisco,Apps,Week 2,Way too fast,2017,5
13,289,Washington DC,Apps,Week 1,Just right,2017,5
14,299,Washington DC,"Apps, Explorer",Week 1,A little too slow,2017,5
15,307,NaN,NaN,Week 3,A little too slow,2017,5
16,319,Redwood City,Apps,Week 3,Just right,2017,5
17,336,New York City,Apps,Week 1,A little too slow,2017,5
18,441,San Francisco,"Apps, Explorer",Week 3,Just right,2017,5
19,482,Santa Clara,Apps,Week 3,Just right,2017,5
20,37,Los Angeles,Games,Week 1,Just right,2017,6
21,41,Chicago,"Apps, Explorer",Week 1,Just right,2017,6
22,45,Chicago,Apps,Week 1,A little too slow,2017,6
23,47,Chicago,Apps,Week 1,A little too slow,2017,6
24,77,San Francisco,Apps,Week 1,A little too fast,2017,6
25,78,San Francisco,Apps,Week 1,A little too fast,2017,6
26,94,San Francisco,"Apps, Explorer",Week 1,Just right,2017,6
27,193,Santa Clara,Apps,Week 2,Just right,2017,6
28,251,San Francisco,"Apps, Explorer",Week 2,Just right,2017,6
29,254,San Francisco,Apps,Week 2,Way too fast,2017,6
...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,Just right,2017,10
1424,1471,New York City,Apps,Week 7,Just right,2017,8
1425,1472,New York City,Games,Week 7,Just right,2017,9
1426,1473,New York City,"Games, Explorer",Week 7,Just right,2017,10
1427,1474,New York City,Games,Week 7,Just right,2017,9
1428,1475,New York City,Apps,Week 7,Just right,2017,9
1429,1476,New York City,Apps,Week 7,A little too fast,2017,8
1430,1477,New York City,Games,Week 7,Just right,2017,10
1431,1478,New York City,Apps,Week 7,Just right,2017,10
1432,1479,New York City,Games,Week 7,Just right,2017,9
1433,1480,New York City,Apps,Week 7,Just right,2017,9
1434,1481,New York City,Apps,Week 7,Just right,2017,10
1435,1482,New York City,Apps,Week 7,Just right,2017,8
1436,1483,New York City,Apps,Week 7,A little too fast,2017,7
1437,1484,New York City,"Apps, Explorer",Week 7,Way too fast,2017,7
1438,1485,New York City,Apps,Week 7,Just right,2017,7
1439,1486,New York City,Apps,Week 7,Just right,2017,9
1440,1487,New York City,Apps,Week 7,Just right,2017,8
1441,1488,New York City,"Games, Explorer",Week 7,Just right,2017,7
1442,1489,New York City,"Apps, Explorer",Week 7,Just right,2017,10
1443,1490,New York City,"Apps, Explorer",Week 7,Just right,2017,10
1444,1491,New York City,Games,Week 7,A little too fast,2017,9
1445,1492,New York City,Apps,Week 7,Just right,2017,9
1446,1493,New York City,Apps,Week 7,Just right,2017,3
1447,1494,New York City,"Games, Explorer",Week 7,Just right,2017,10
1448,1495,New York City,"Apps, Explorer",Week 7,Just right,2017,10
1449,1496,New York City,"Apps, Explorer",Week 7,Just right,2017,8
1450,1497,New York City,Apps,Week 7,Just right,2017,10
1451,1498,New York City,"Apps, Explorer",Week 7,A little too slow,2017,1
1452,1499,New York City,Apps,Week 5,Just right,2017,8

In [87]:
df_backup2.describe

<bound method NDFrame.describe of         ID       Location            Track    Week    Schedule Pacing  Year  \
0      134  San Francisco   Apps, Explorer  Week 1         Just right  2017
1       36    Los Angeles             Apps  Week 1  A little too fast  2017
2      117  San Francisco            Games  Week 1       Way too slow  2017
3      253            NaN              NaN  Week 2  A little too fast  2017
4      350  New York City   Apps, Explorer  Week 1         Just right  2017
5       23   Redwood City             Apps  Week 1         Just right  2017
6       28    Los Angeles             Apps  Week 7         Just right  2017
7       65  San Francisco             Apps  Week 1  A little too slow  2017
8      101    Santa Clara             Apps  Week 1  A little too slow  2017
9      124    Santa Clara             Apps  Week 1         Just right  2017
10     157   Redwood City             Apps  Week 2         Just right  2017
11     170        Oakland             Apps  Week 2         Just right  2017
12     255  San Francisco             Apps  Week 2       Way too fast  2017
13     289  Washington DC             Apps  Week 1         Just right  2017
14     299  Washington DC   Apps, Explorer  Week 1  A little too slow  2017
15     307            NaN              NaN  Week 3  A little too slow  2017
16     319   Redwood City             Apps  Week 3         Just right  2017
17     336  New York City             Apps  Week 1  A little too slow  2017
18     441  San Francisco   Apps, Explorer  Week 3         Just right  2017
19     482    Santa Clara             Apps  Week 3         Just right  2017
20      37    Los Angeles            Games  Week 1         Just right  2017
21      41        Chicago   Apps, Explorer  Week 1         Just right  2017
22      45        Chicago             Apps  Week 1  A little too slow  2017
23      47        Chicago             Apps  Week 1  A little too slow  2017
24      77  San Francisco             Apps  Week 1  A little too fast  2017
25      78  San Francisco             Apps  Week 1  A little too fast  2017
26      94  San Francisco   Apps, Explorer  Week 1         Just right  2017
27     193    Santa Clara             Apps  Week 2         Just right  2017
28     251  San Francisco   Apps, Explorer  Week 2         Just right  2017
29     254  San Francisco             Apps  Week 2       Way too fast  2017
...    ...            ...              ...     ...                ...   ...
1423  1470  New York City            Games  Week 7         Just right  2017
1424  1471  New York City             Apps  Week 7         Just right  2017
1425  1472  New York City            Games  Week 7         Just right  2017
1426  1473  New York City  Games, Explorer  Week 7         Just right  2017
1427  1474  New York City            Games  Week 7         Just right  2017
1428  1475  New York City             Apps  Week 7         Just right  2017
1429  1476  New York City             Apps  Week 7  A little too fast  2017
1430  1477  New York City            Games  Week 7         Just right  2017
1431  1478  New York City             Apps  Week 7         Just right  2017
1432  1479  New York City            Games  Week 7         Just right  2017
1433  1480  New York City             Apps  Week 7         Just right  2017
1434  1481  New York City             Apps  Week 7         Just right  2017
1435  1482  New York City             Apps  Week 7         Just right  2017
1436  1483  New York City             Apps  Week 7  A little too fast  2017
1437  1484  New York City   Apps, Explorer  Week 7       Way too fast  2017
1438  1485  New York City             Apps  Week 7         Just right  2017
1439  1486  New York City             Apps  Week 7         Just right  2017
1440  1487  New York City             Apps  Week 7         Just right  2017
1441  1488  New York City  Games, Explorer  Week 7         Just right  2017
1442  1489  New York City   Apps, Explorer  Week 7         Just right  2017
1443  1490  New York City   Apps, Explorer  Week 7         Just right  2017
1444  1491  New York City            Games  Week 7  A little too fast  2017
1445  1492  New York City             Apps  Week 7         Just right  2017
1446  1493  New York City             Apps  Week 7         Just right  2017
1447  1494  New York City  Games, Explorer  Week 7         Just right  2017
1448  1495  New York City   Apps, Explorer  Week 7         Just right  2017
1449  1496  New York City   Apps, Explorer  Week 7         Just right  2017
1450  1497  New York City             Apps  Week 7         Just right  2017
1451  1498  New York City   Apps, Explorer  Week 7  A little too slow  2017
1452  1499  New York City             Apps  Week 5         Just right  2017

     Score
0        3
1        4
2        4
3        4
4        4
5        5
6        5
7        5
8        5
9        5
10       5
11       5
12       5
13       5
14       5
15       5
16       5
17       5
18       5
19       5
20       6
21       6
22       6
23       6
24       6
25       6
26       6
27       6
28       6
29       6
...    ...
1423    10
1424     8
1425     9
1426    10
1427     9
1428     9
1429     8
1430    10
1431    10
1432     9
1433     9
1434    10
1435     8
1436     7
1437     7
1438     7
1439     9
1440     8
1441     7
1442    10
1443    10
1444     9
1445     9
1446     3
1447    10
1448    10
1449     8
1450    10
1451     1
1452     8

[1450 rows x 7 columns]>

In [88]:
df = df_backup2

In [90]:
df.shape

(1450, 7)

In [95]:
df["Score"].unique()

array(['3', '4', '5', '6', '7', '8', '9', '10', '0', '1', '2'],
      dtype=object)

In [101]:
df[(df["Score"] == '10')]

<bound method DataFrame.count of         ID       Location            Track    Week    Schedule Pacing  Year  \
376     12        Atlanta             Apps  Week 1         Just right  2017
377     13        Atlanta   Apps, Explorer  Week 1         Just right  2017
378     17   Redwood City             Apps  Week 1         Just right  2017
379     19   Redwood City             Apps  Week 1         Just right  2017
380     22   Redwood City             Apps  Week 1         Just right  2017
381     24   Redwood City             Apps  Week 1  A little too fast  2017
382     34    Los Angeles             Apps  Week 1         Just right  2017
383     42        Chicago             Apps  Week 1         Just right  2017
384     43        Chicago   Apps, Explorer  Week 1         Just right  2017
385     44        Chicago             Apps  Week 1  A little too fast  2017
386     49  San Francisco               VR  Week 1         Just right  2017
387     50  San Francisco               VR  Week 1  A little too slow  2017
388     51  San Francisco               VR  Week 1  A little too fast  2017
389     52  San Francisco               VR  Week 1         Just right  2017
390     54  San Francisco               VR  Week 1         Just right  2017
391     57  San Francisco               VR  Week 1         Just right  2017
392     64  San Francisco             Apps  Week 1         Just right  2017
393     66  San Francisco             Apps  Week 1         Just right  2017
394     70  San Francisco             Apps  Week 1         Just right  2017
395     71  San Francisco             Apps  Week 1         Just right  2017
396     76        Oakland   Apps, Explorer  Week 1         Just right  2017
397     97    Santa Clara   Apps, Explorer  Week 1  A little too fast  2017
398    106  San Francisco            Games  Week 1         Just right  2017
399    108    Santa Clara             Apps  Week 1  A little too fast  2017
400    116  San Francisco            Games  Week 1         Just right  2017
401    119  San Francisco            Games  Week 1         Just right  2017
402    120  San Francisco            Games  Week 1  A little too fast  2017
403    123  San Francisco            Games  Week 1  A little too slow  2017
404    127  San Francisco            Games  Week 1         Just right  2017
405    129        Oakland             Apps  Week 1         Just right  2017
...    ...            ...              ...     ...                ...   ...
1373  1420  New York City            Games  Week 6         Just right  2017
1374  1421  New York City            Games  Week 6         Just right  2017
1379  1426  New York City             Apps  Week 6         Just right  2017
1383  1430  New York City  Games, Explorer  Week 6         Just right  2017
1384  1431  New York City            Games  Week 6         Just right  2017
1389  1436  New York City   Apps, Explorer  Week 6         Just right  2017
1392  1439  New York City  Games, Explorer  Week 6         Just right  2017
1398  1445    Los Angeles             Apps  Week 8         Just right  2017
1400  1447    Los Angeles             Apps  Week 8         Just right  2017
1402  1449          Tokyo             Apps  Week 3         Just right  2017
1403  1450          Tokyo             Apps  Week 3         Just right  2017
1406  1453  New York City   Apps, Explorer  Week 6         Just right  2017
1409  1456  New York City             Apps  Week 6         Just right  2017
1410  1457            NaN              NaN  Week 6         Just right  2017
1414  1461  New York City             Apps  Week 6         Just right  2017
1415  1462    Los Angeles             Apps  Week 8  A little too fast  2017
1416  1463          Tokyo             Apps  Week 3         Just right  2017
1420  1467  New York City            Games  Week 7         Just right  2017
1421  1468  New York City  Games, Explorer  Week 7         Just right  2017
1422  1469  New York City            Games  Week 7  A little too fast  2017
1423  1470  New York City            Games  Week 7         Just right  2017
1426  1473  New York City  Games, Explorer  Week 7         Just right  2017
1430  1477  New York City            Games  Week 7         Just right  2017
1431  1478  New York City             Apps  Week 7         Just right  2017
1434  1481  New York City             Apps  Week 7         Just right  2017
1442  1489  New York City   Apps, Explorer  Week 7         Just right  2017
1443  1490  New York City   Apps, Explorer  Week 7         Just right  2017
1447  1494  New York City  Games, Explorer  Week 7         Just right  2017
1448  1495  New York City   Apps, Explorer  Week 7         Just right  2017
1450  1497  New York City             Apps  Week 7         Just right  2017

     Score
376     10
377     10
378     10
379     10
380     10
381     10
382     10
383     10
384     10
385     10
386     10
387     10
388     10
389     10
390     10
391     10
392     10
393     10
394     10
395     10
396     10
397     10
398     10
399     10
400     10
401     10
402     10
403     10
404     10
405     10
...    ...
1373    10
1374    10
1379    10
1383    10
1384    10
1389    10
1392    10
1398    10
1400    10
1402    10
1403    10
1406    10
1409    10
1410    10
1414    10
1415    10
1416    10
1420    10
1421    10
1422    10
1423    10
1426    10
1430    10
1431    10
1434    10
1442    10
1443    10
1447    10
1448    10
1450    10

[376 rows x 7 columns]>

In [105]:
df["NPS"] = df['Score'].map({'10': 1, '9': 1, '8': 0, '7': 0, '6': -1, '5': -1, '4': -1, '3': -1, '2': -1, '1': -1})

In [106]:
df

,ID,Location,Track,Week,Schedule Pacing,Year,Score,NPS
0,134,San Francisco,"Apps, Explorer",Week 1,Just right,2017,3,-1.0
1,36,Los Angeles,Apps,Week 1,A little too fast,2017,4,-1.0
2,117,San Francisco,Games,Week 1,Way too slow,2017,4,-1.0
3,253,NaN,NaN,Week 2,A little too fast,2017,4,-1.0
4,350,New York City,"Apps, Explorer",Week 1,Just right,2017,4,-1.0
5,23,Redwood City,Apps,Week 1,Just right,2017,5,-1.0
6,28,Los Angeles,Apps,Week 7,Just right,2017,5,-1.0
7,65,San Francisco,Apps,Week 1,A little too slow,2017,5,-1.0
8,101,Santa Clara,Apps,Week 1,A little too slow,2017,5,-1.0
9,124,Santa Clara,Apps,Week 1,Just right,2017,5,-1.0
10,157,Redwood City,Apps,Week 2,Just right,2017,5,-1.0
11,170,Oakland,Apps,Week 2,Just right,2017,5,-1.0
12,255,San Francisco,Apps,Week 2,Way too fast,2017,5,-1.0
13,289,Washington DC,Apps,Week 1,Just right,2017,5,-1.0
14,299,Washington DC,"Apps, Explorer",Week 1,A little too slow,2017,5,-1.0
15,307,NaN,NaN,Week 3,A little too slow,2017,5,-1.0
16,319,Redwood City,Apps,Week 3,Just right,2017,5,-1.0
17,336,New York City,Apps,Week 1,A little too slow,2017,5,-1.0
18,441,San Francisco,"Apps, Explorer",Week 3,Just right,2017,5,-1.0
19,482,Santa Clara,Apps,Week 3,Just right,2017,5,-1.0
20,37,Los Angeles,Games,Week 1,Just right,2017,6,-1.0
21,41,Chicago,"Apps, Explorer",Week 1,Just right,2017,6,-1.0
22,45,Chicago,Apps,Week 1,A little too slow,2017,6,-1.0
23,47,Chicago,Apps,Week 1,A little too slow,2017,6,-1.0
24,77,San Francisco,Apps,Week 1,A little too fast,2017,6,-1.0
25,78,San Francisco,Apps,Week 1,A little too fast,2017,6,-1.0
26,94,San Francisco,"Apps, Explorer",Week 1,Just right,2017,6,-1.0
27,193,Santa Clara,Apps,Week 2,Just right,2017,6,-1.0
28,251,San Francisco,"Apps, Explorer",Week 2,Just right,2017,6,-1.0
29,254,San Francisco,Apps,Week 2,Way too fast,2017,6,-1.0
...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,Just right,2017,10,1.0
1424,1471,New York City,Apps,Week 7,Just right,2017,8,0.0
1425,1472,New York City,Games,Week 7,Just right,2017,9,1.0
1426,1473,New York City,"Games, Explorer",Week 7,Just right,2017,10,1.0
1427,1474,New York City,Games,Week 7,Just right,2017,9,1.0
1428,1475,New York City,Apps,Week 7,Just right,2017,9,1.0
1429,1476,New York City,Apps,Week 7,A little too fast,2017,8,0.0
1430,1477,New York City,Games,Week 7,Just right,2017,10,1.0
1431,1478,New York City,Apps,Week 7,Just right,2017,10,1.0
1432,1479,New York City,Games,Week 7,Just right,2017,9,1.0
1433,1480,New York City,Apps,Week 7,Just right,2017,9,1.0
1434,1481,New York City,Apps,Week 7,Just right,2017,10,1.0
1435,1482,New York City,Apps,Week 7,Just right,2017,8,0.0
1436,1483,New York City,Apps,Week 7,A little too fast,2017,7,0.0
1437,1484,New York City,"Apps, Explorer",Week 7,Way too fast,2017,7,0.0
1438,1485,New York City,Apps,Week 7,Just right,2017,7,0.0
1439,1486,New York City,Apps,Week 7,Just right,2017,9,1.0
1440,1487,New York City,Apps,Week 7,Just right,2017,8,0.0
1441,1488,New York City,"Games, Explorer",Week 7,Just right,2017,7,0.0
1442,1489,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0
1443,1490,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0
1444,1491,New York City,Games,Week 7,A little too fast,2017,9,1.0
1445,1492,New York City,Apps,Week 7,Just right,2017,9,1.0
1446,1493,New York City,Apps,Week 7,Just right,2017,3,-1.0
1447,1494,New York City,"Games, Explorer",Week 7,Just right,2017,10,1.0
1448,1495,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0
1449,1496,New York City,"Apps, Explorer",Week 7,Just right,2017,8,0.0
1450,1497,New York City,Apps,Week 7,Just right,2017,10,1.0
1451,1498,New York City,"Apps, Explorer",Week 7,A little too slow,2017,1,-1.0
1452,1499,New York City,Apps,Week 5,Just right,2017,8,0.0

In [127]:
NPS_count = df[(df["NPS"] == 1.0)].count() - df[(df["NPS"] == -1.0)].count() / df.count()

In [128]:
NPS_count

ID                 641
Location           627
Track              627
Week               641
Schedule Pacing    641
Year               641
Score              641
NPS                641
dtype: int64

In [129]:
df.count()

ID                 1450
Location           1406
Track              1406
Week               1450
Schedule Pacing    1450
Year               1450
Score              1450
NPS                1448
dtype: int64

In [130]:
NPS_count/df.count()

ID                 0.442069
Location           0.445946
Track              0.445946
Week               0.442069
Schedule Pacing    0.442069
Year               0.442069
Score              0.442069
NPS                0.442680
dtype: float64

In [133]:
NPS_seventeen_NPS_score = (df[(df["NPS"] == 1.0)].count() - df[(df["NPS"] == -1.0)].count()) / df.count()

In [139]:
NPS_seventeen_NPS_score = (df[(df["NPS"] == 1.0)].count() - df[(df["NPS"] == -1.0)].count()) / df.count()

In [144]:
NPS_seventeen_NPS_score * 100

ID                 44.206897
Location           44.594595
Track              44.594595
Week               44.206897
Schedule Pacing    44.206897
Year               44.206897
Score              44.206897
NPS                44.267956
dtype: float64

In [145]:
NPS_seventeen_NPS_score["NPS"]

0.44267955801104975

In [148]:
NPS_seventeen_NPS_score = int(NPS_seventeen_NPS_score["NPS"]*100)

In [149]:
NPS_seventeen_NPS_score

44

In [150]:
df["NPS_2017_score"] = NPS_seventeen_NPS_score

In [151]:
df

,ID,Location,Track,Week,Schedule Pacing,Year,Score,NPS,NPS_2017_score
0,134,San Francisco,"Apps, Explorer",Week 1,Just right,2017,3,-1.0,44
1,36,Los Angeles,Apps,Week 1,A little too fast,2017,4,-1.0,44
2,117,San Francisco,Games,Week 1,Way too slow,2017,4,-1.0,44
3,253,NaN,NaN,Week 2,A little too fast,2017,4,-1.0,44
4,350,New York City,"Apps, Explorer",Week 1,Just right,2017,4,-1.0,44
5,23,Redwood City,Apps,Week 1,Just right,2017,5,-1.0,44
6,28,Los Angeles,Apps,Week 7,Just right,2017,5,-1.0,44
7,65,San Francisco,Apps,Week 1,A little too slow,2017,5,-1.0,44
8,101,Santa Clara,Apps,Week 1,A little too slow,2017,5,-1.0,44
9,124,Santa Clara,Apps,Week 1,Just right,2017,5,-1.0,44
10,157,Redwood City,Apps,Week 2,Just right,2017,5,-1.0,44
11,170,Oakland,Apps,Week 2,Just right,2017,5,-1.0,44
12,255,San Francisco,Apps,Week 2,Way too fast,2017,5,-1.0,44
13,289,Washington DC,Apps,Week 1,Just right,2017,5,-1.0,44
14,299,Washington DC,"Apps, Explorer",Week 1,A little too slow,2017,5,-1.0,44
15,307,NaN,NaN,Week 3,A little too slow,2017,5,-1.0,44
16,319,Redwood City,Apps,Week 3,Just right,2017,5,-1.0,44
17,336,New York City,Apps,Week 1,A little too slow,2017,5,-1.0,44
18,441,San Francisco,"Apps, Explorer",Week 3,Just right,2017,5,-1.0,44
19,482,Santa Clara,Apps,Week 3,Just right,2017,5,-1.0,44
20,37,Los Angeles,Games,Week 1,Just right,2017,6,-1.0,44
21,41,Chicago,"Apps, Explorer",Week 1,Just right,2017,6,-1.0,44
22,45,Chicago,Apps,Week 1,A little too slow,2017,6,-1.0,44
23,47,Chicago,Apps,Week 1,A little too slow,2017,6,-1.0,44
24,77,San Francisco,Apps,Week 1,A little too fast,2017,6,-1.0,44
25,78,San Francisco,Apps,Week 1,A little too fast,2017,6,-1.0,44
26,94,San Francisco,"Apps, Explorer",Week 1,Just right,2017,6,-1.0,44
27,193,Santa Clara,Apps,Week 2,Just right,2017,6,-1.0,44
28,251,San Francisco,"Apps, Explorer",Week 2,Just right,2017,6,-1.0,44
29,254,San Francisco,Apps,Week 2,Way too fast,2017,6,-1.0,44
...,...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,Just right,2017,10,1.0,44
1424,1471,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1425,1472,New York City,Games,Week 7,Just right,2017,9,1.0,44
1426,1473,New York City,"Games, Explorer",Week 7,Just right,2017,10,1.0,44
1427,1474,New York City,Games,Week 7,Just right,2017,9,1.0,44
1428,1475,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1429,1476,New York City,Apps,Week 7,A little too fast,2017,8,0.0,44
1430,1477,New York City,Games,Week 7,Just right,2017,10,1.0,44
1431,1478,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1432,1479,New York City,Games,Week 7,Just right,2017,9,1.0,44
1433,1480,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1434,1481,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1435,1482,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1436,1483,New York City,Apps,Week 7,A little too fast,2017,7,0.0,44
1437,1484,New York City,"Apps, Explorer",Week 7,Way too fast,2017,7,0.0,44
1438,1485,New York City,Apps,Week 7,Just right,2017,7,0.0,44
1439,1486,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1440,1487,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1441,1488,New York City,"Games, Explorer",Week 7,Just right,2017,7,0.0,44
1442,1489,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1443,1490,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1444,1491,New York City,Games,Week 7,A little too fast,2017,9,1.0,44
1445,1492,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1446,1493,New York City,Apps,Week 7,Just right,2017,3,-1.0,44
1447,1494,New York City,"Games, Explorer",Week 7,Just right,2017,10,1.0,44
1448,1495,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1449,1496,New York City,"Apps, Explorer",Week 7,Just right,2017,8,0.0,44
1450,1497,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1451,1498,New York City,"Apps, Explorer",Week 7,A little too slow,2017,1,-1.0,44
1452,1499,New York City,Apps,Week 5,Just right,2017,8,0.0,44

In [161]:
df_1 = df #2017 FINAL

In [168]:
df_1["Year"] = 2017

In [156]:
DATASET_1_LA = "datasets/NPS/surveys/2016_renamed/2016Week1-LA.csv"

In [158]:
df_1_LA = pd.read_csv(DATASET_1_LA)

In [159]:
df_1_LA

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

In [165]:
df_1_LA = df_1_LA.rename(index=str, columns={"How would you rate your overall satisfaction with the Summer Academy this week?": "Score", "How well are the tutorials paced?": "Schedule Pacing"})

In [166]:
df_1_LA["Location"] = "Los Angeles"

In [167]:
df_1_LA

            Timestamp  Score  Schedule Pacing     Location
0  6/23/2016 15:55:12      3                4  Los Angeles
1  6/23/2016 16:14:04      4                4  Los Angeles
2   6/24/2016 0:18:42      4                4  Los Angeles
3   6/24/2016 6:59:42      4                4  Los Angeles
4   6/24/2016 9:40:16      4                5  Los Angeles
5  6/23/2016 22:07:29      5                4  Los Angeles
6   6/24/2016 9:34:14      5                3  Los Angeles

In [170]:
df_1_LA["Year"] = 2016

In [172]:
df_1_LA #final for 2016 week 1 LA

            Timestamp  Score  Schedule Pacing     Location  Year
0  6/23/2016 15:55:12      3                4  Los Angeles  2016
1  6/23/2016 16:14:04      4                4  Los Angeles  2016
2   6/24/2016 0:18:42      4                4  Los Angeles  2016
3   6/24/2016 6:59:42      4                4  Los Angeles  2016
4   6/24/2016 9:40:16      4                5  Los Angeles  2016
5  6/23/2016 22:07:29      5                4  Los Angeles  2016
6   6/24/2016 9:34:14      5                3  Los Angeles  2016

In [173]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

NameError: name 'glob' is not defined

In [174]:
import glob as glob

In [175]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

NameError: name 'os' is not defined

In [176]:
import os

In [177]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,5,7/29/2016 0:19:08,NaN,NaN
1,NaN,3,4,7/29/2016 0:22:41,NaN,NaN
2,NaN,3,5,7/29/2016 0:23:17,NaN,NaN
3,NaN,3,4,7/29/2016 13:46:28,NaN,Apps
4,NaN,3,5,7/29/2016 13:52:16,NaN,Apps

In [179]:
df

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,5,7/29/2016 0:19:08,NaN,NaN
1,NaN,3,4,7/29/2016 0:22:41,NaN,NaN
2,NaN,3,5,7/29/2016 0:23:17,NaN,NaN
3,NaN,3,4,7/29/2016 13:46:28,NaN,Apps
4,NaN,3,5,7/29/2016 13:52:16,NaN,Apps
5,NaN,4,5,7/29/2016 16:10:41,NaN,Apps
6,NaN,3,4,7/29/2016 15:10:27,NaN,Apps
7,NaN,3,3,7/29/2016 14:18:21,NaN,Apps
8,NaN,3,3,7/29/2016 15:25:45,NaN,Apps
9,NaN,3,4,7/29/2016 16:41:48,NaN,Apps
10,NaN,3,5,7/29/2016 15:26:20,NaN,Apps
11,NaN,2,2,7/29/2016 13:20:33,NaN,Apps
12,NaN,3,4,7/29/2016 13:24:45,NaN,Apps
13,NaN,3,3,7/29/2016 13:47:43,NaN,Apps
14,NaN,3,5,7/29/2016 15:31:26,NaN,Apps
15,NaN,2,5,7/29/2016 15:28:06,NaN,Apps
16,NaN,3,3,7/29/2016 13:44:38,NaN,Games
17,NaN,3,4,7/29/2016 15:36:04,NaN,Games
18,NaN,3,4,7/29/2016 13:26:06,NaN,Games
19,NaN,3,5,7/29/2016 15:02:27,NaN,Games
20,NaN,3,4,7/29/2016 15:15:48,NaN,Games
21,NaN,4,4,7/29/2016 13:35:17,NaN,Games
22,NaN,4,4,7/29/2016 13:27:19,NaN,Games
23,NaN,4,3,7/29/2016 14:40:29,NaN,Games
24,NaN,3,4,7/29/2016 15:06:33,NaN,Games
25,NaN,4,4,7/29/2016 15:17:23,NaN,Games
26,NaN,2,4,7/29/2016 13:23:48,NaN,Games
27,NaN,3,5,7/29/2016 13:17:25,NaN,Intro
28,NaN,2,5,7/29/2016 13:19:14,NaN,Intro
29,NaN,3,5,7/29/2016 13:17:38,NaN,Intro
...,...,...,...,...,...,...
897,NaN,5,4,7/8/2016 13:51:14,NaN,Games
898,NaN,4,4,7/8/2016 12:41:10,NaN,Intro
899,NaN,4,4,7/8/2016 12:41:13,NaN,Intro
900,NaN,3,4,7/8/2016 12:41:51,NaN,Intro
901,NaN,3,4,7/8/2016 12:43:35,NaN,Intro
902,NaN,3,4,7/8/2016 12:45:11,NaN,Intro
903,NaN,3,4,7/8/2016 12:47:39,NaN,Intro
904,NaN,4,4,7/8/2016 13:01:58,NaN,Intro
905,NaN,4,4,7/10/2016 23:44:41,NaN,Games
906,NaN,#REF!,#REF!,NaN,NaN,Average:
907,NaN,3,5,7/8/2016 16:41:06,NaN,Apps
908,NaN,3,5,7/8/2016 13:07:39,NaN,Games
909,NaN,3,5,7/8/2016 12:45:02,NaN,Intro
910,NaN,3,3,8/5/2016 12:34:16,NaN,Apps
911,NaN,3,5,8/5/2016 12:35:50,NaN,Apps
912,NaN,3,5,8/5/2016 12:36:31,NaN,Games
913,NaN,3,4,8/5/2016 12:36:55,NaN,Games
914,NaN,3,4,8/5/2016 12:37:12,NaN,Apps
915,NaN,4,4,8/5/2016 12:37:15,NaN,Intro
916,NaN,3,5,8/5/2016 12:39:02,NaN,Apps
917,NaN,4,5,8/5/2016 12:39:13,NaN,Games
918,NaN,3,4,8/5/2016 12:43:00,NaN,Games
919,NaN,3,4,8/5/2016 12:43:35,NaN,Apps
920,NaN,3,5,8/5/2016 12:45:05,NaN,Intro
921,NaN,3,3,8/5/2016 12:45:58,NaN,Games
922,NaN,4,5,8/5/2016 12:46:09,NaN,Games
923,NaN,3,4,8/5/2016 13:04:11,NaN,Apps
924,NaN,3,4,8/5/2016 13:13:02,NaN,Intro
925,NaN,3,4,8/5/2016 13:37:41,NaN,Apps
926,NaN,4,5,8/5/2016 13:39:55,NaN,Intro

In [180]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/HK', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,NaN,3.0,5,7/29/2016 0:19:08
1,NaN,3.0,4,7/29/2016 0:22:41
2,NaN,3.0,5,7/29/2016 0:23:17
3,3.0,NaN,4,7/21/2016 21:57:59
4,3.0,NaN,5,7/21/2016 21:59:37

In [182]:
df['Location'] = 'Hong Kong'

In [184]:
df_HK = df

In [185]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/LA', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,NaN,2.0,4,6/30/2016 14:09:14,NaN
1,NaN,3.0,3,6/30/2016 22:50:08,NaN
2,NaN,4.0,4,7/1/2016 9:34:16,NaN
3,NaN,3.0,4,7/1/2016 10:42:17,NaN
4,NaN,3.0,4,7/1/2016 11:25:53,NaN

In [186]:
df['Location'] = 'Los Angeles'

In [188]:
df_LA = df

In [189]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/NY', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,NaN,2.0,3,7/1/2016 6:41:31,Apps
1,NaN,4.0,3,7/1/2016 9:27:32,Apps
2,NaN,5.0,3,7/1/2016 6:46:34,Games
3,NaN,3.0,3,7/1/2016 6:47:56,Games
4,NaN,3.0,4,7/1/2016 6:33:45,Apps

In [190]:
df['Location'] = 'New York'

In [191]:
df_NY = df

In [192]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/SF', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,NaN,3.0,5,7/15/2016 15:26:38,Apps
1,NaN,3.0,4,7/15/2016 15:31:37,Apps
2,NaN,4.0,4,7/15/2016 15:32:59,Apps
3,NaN,4.0,3,7/15/2016 16:18:00,Apps
4,NaN,4.0,4,7/15/2016 16:19:09,Apps

In [193]:
df['Location'] = 'San Francisco'

In [194]:
df_SF = df

In [195]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/SG', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,NaN,3.0,4,7/15/2016 2:45:00
1,NaN,4.0,4,7/15/2016 2:45:11
2,NaN,3.0,3,7/15/2016 2:48:37
3,NaN,3.0,4,7/15/2016 2:53:18
4,NaN,4.0,3,7/15/2016 2:56:09

In [196]:
df['Location'] = 'Singapore'

In [197]:
df_SG = df

In [198]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/SV', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,4,7/29/2016 13:46:28,NaN,Apps
1,NaN,3,5,7/29/2016 13:52:16,NaN,Apps
2,NaN,4,5,7/29/2016 16:10:41,NaN,Apps
3,NaN,3,4,7/29/2016 15:10:27,NaN,Apps
4,NaN,3,3,7/29/2016 14:18:21,NaN,Apps

In [199]:
df['Location'] = 'Sunnyvale'

In [200]:
df_SV = df

In [201]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/Taipei', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,3,5,7/29/2016 1:07:23
1,4,5,7/29/2016 1:08:46
2,3,5,7/29/2016 1:11:16
3,3,5,7/29/2016 1:13:23
4,3,4,7/29/2016 1:13:56

In [202]:
df['Location'] = 'Taipei'

In [203]:
df_Taipei = df

In [204]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/Tokyo', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,4,3,7/31/2016 1:04:57
1,3,4,7/31/2016 3:38:14
2,1,4,7/31/2016 3:59:43
3,2,4,7/31/2016 4:19:51
4,4,5,7/31/2016 5:14:20

In [205]:
df['Location'] = 'Tokyo'

In [206]:
df_Tokyo = df

In [211]:
df_Taipei

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Location
0,3,5,7/29/2016 1:07:23,Taipei
1,4,5,7/29/2016 1:08:46,Taipei
2,3,5,7/29/2016 1:11:16,Taipei
3,3,5,7/29/2016 1:13:23,Taipei
4,3,4,7/29/2016 1:13:56,Taipei
5,3,4,7/29/2016 1:17:27,Taipei
6,4,3,7/29/2016 1:22:25,Taipei
7,3,3,7/29/2016 1:27:55,Taipei
8,2,5,7/29/2016 1:28:54,Taipei
9,4,4,7/29/2016 1:29:23,Taipei
10,4,5,7/29/2016 1:46:49,Taipei
11,3,5,7/29/2016 21:20:05,Taipei
12,3,3,8/5/2016 1:39:41,Taipei
13,3,4,8/5/2016 1:40:47,Taipei
14,3,4,8/5/2016 1:40:50,Taipei
15,4,4,8/5/2016 1:42:44,Taipei
16,4,5,8/5/2016 1:45:13,Taipei
17,3,4,8/5/2016 1:45:39,Taipei
18,3,4,8/5/2016 1:49:21,Taipei
19,3,5,8/8/2016 1:30:34,Taipei
20,3,5,8/8/2016 1:33:45,Taipei
21,3,5,8/8/2016 1:49:29,Taipei
22,3,3,8/8/2016 1:51:00,Taipei

In [213]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/Tokyo', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,4,3,7/31/2016 1:04:57
1,3,4,7/31/2016 3:38:14
2,1,4,7/31/2016 3:59:43
3,2,4,7/31/2016 4:19:51
4,4,5,7/31/2016 5:14:20

In [214]:
df["Location"] = "Tokyo"

In [215]:
df_Tokyo = df

In [216]:
df_Tokyo

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Location
0,4,3,7/31/2016 1:04:57,Tokyo
1,3,4,7/31/2016 3:38:14,Tokyo
2,1,4,7/31/2016 3:59:43,Tokyo
3,2,4,7/31/2016 4:19:51,Tokyo
4,4,5,7/31/2016 5:14:20,Tokyo
5,3,3,7/31/2016 6:50:12,Tokyo
6,5,5,7/31/2016 15:23:52,Tokyo
7,2,4,7/31/2016 16:49:45,Tokyo
8,4,3,8/1/2016 1:18:47,Tokyo
9,3,5,8/1/2016 1:30:17,Tokyo
10,3,5,8/1/2016 1:30:17,Tokyo
11,4,4,8/1/2016 6:15:10,Tokyo
12,3,4,8/1/2016 7:56:08,Tokyo

In [217]:
dfTest_Tokyo = df_Tokyo

In [218]:
dfTest_Taipei = df_Taipei

In [219]:
test = pd.concat([dfTest_Tokyo,dfTest_Taipei])

In [220]:
test

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Location
0,4,3,7/31/2016 1:04:57,Tokyo
1,3,4,7/31/2016 3:38:14,Tokyo
2,1,4,7/31/2016 3:59:43,Tokyo
3,2,4,7/31/2016 4:19:51,Tokyo
4,4,5,7/31/2016 5:14:20,Tokyo
5,3,3,7/31/2016 6:50:12,Tokyo
6,5,5,7/31/2016 15:23:52,Tokyo
7,2,4,7/31/2016 16:49:45,Tokyo
8,4,3,8/1/2016 1:18:47,Tokyo
9,3,5,8/1/2016 1:30:17,Tokyo
10,3,5,8/1/2016 1:30:17,Tokyo
11,4,4,8/1/2016 6:15:10,Tokyo
12,3,4,8/1/2016 7:56:08,Tokyo
0,3,5,7/29/2016 1:07:23,Taipei
1,4,5,7/29/2016 1:08:46,Taipei
2,3,5,7/29/2016 1:11:16,Taipei
3,3,5,7/29/2016 1:13:23,Taipei
4,3,4,7/29/2016 1:13:56,Taipei
5,3,4,7/29/2016 1:17:27,Taipei
6,4,3,7/29/2016 1:22:25,Taipei
7,3,3,7/29/2016 1:27:55,Taipei
8,2,5,7/29/2016 1:28:54,Taipei
9,4,4,7/29/2016 1:29:23,Taipei
10,4,5,7/29/2016 1:46:49,Taipei
11,3,5,7/29/2016 21:20:05,Taipei
12,3,3,8/5/2016 1:39:41,Taipei
13,3,4,8/5/2016 1:40:47,Taipei
14,3,4,8/5/2016 1:40:50,Taipei
15,4,4,8/5/2016 1:42:44,Taipei
16,4,5,8/5/2016 1:45:13,Taipei
17,3,4,8/5/2016 1:45:39,Taipei
18,3,4,8/5/2016 1:49:21,Taipei
19,3,5,8/8/2016 1:30:34,Taipei
20,3,5,8/8/2016 1:33:45,Taipei
21,3,5,8/8/2016 1:49:29,Taipei
22,3,3,8/8/2016 1:51:00,Taipei

In [222]:
test = pd.concat([df_Tokyo, df_Taipei]) #df_HK, df_SV, df_SF, df_NY, df_LA, df_SG

In [223]:
test

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Location
0,4,3,7/31/2016 1:04:57,Tokyo
1,3,4,7/31/2016 3:38:14,Tokyo
2,1,4,7/31/2016 3:59:43,Tokyo
3,2,4,7/31/2016 4:19:51,Tokyo
4,4,5,7/31/2016 5:14:20,Tokyo
5,3,3,7/31/2016 6:50:12,Tokyo
6,5,5,7/31/2016 15:23:52,Tokyo
7,2,4,7/31/2016 16:49:45,Tokyo
8,4,3,8/1/2016 1:18:47,Tokyo
9,3,5,8/1/2016 1:30:17,Tokyo
10,3,5,8/1/2016 1:30:17,Tokyo
11,4,4,8/1/2016 6:15:10,Tokyo
12,3,4,8/1/2016 7:56:08,Tokyo
0,3,5,7/29/2016 1:07:23,Taipei
1,4,5,7/29/2016 1:08:46,Taipei
2,3,5,7/29/2016 1:11:16,Taipei
3,3,5,7/29/2016 1:13:23,Taipei
4,3,4,7/29/2016 1:13:56,Taipei
5,3,4,7/29/2016 1:17:27,Taipei
6,4,3,7/29/2016 1:22:25,Taipei
7,3,3,7/29/2016 1:27:55,Taipei
8,2,5,7/29/2016 1:28:54,Taipei
9,4,4,7/29/2016 1:29:23,Taipei
10,4,5,7/29/2016 1:46:49,Taipei
11,3,5,7/29/2016 21:20:05,Taipei
12,3,3,8/5/2016 1:39:41,Taipei
13,3,4,8/5/2016 1:40:47,Taipei
14,3,4,8/5/2016 1:40:50,Taipei
15,4,4,8/5/2016 1:42:44,Taipei
16,4,5,8/5/2016 1:45:13,Taipei
17,3,4,8/5/2016 1:45:39,Taipei
18,3,4,8/5/2016 1:49:21,Taipei
19,3,5,8/8/2016 1:30:34,Taipei
20,3,5,8/8/2016 1:33:45,Taipei
21,3,5,8/8/2016 1:49:29,Taipei
22,3,3,8/8/2016 1:51:00,Taipei

In [224]:
df_Taipei

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Location
0,3,5,7/29/2016 1:07:23,Taipei
1,4,5,7/29/2016 1:08:46,Taipei
2,3,5,7/29/2016 1:11:16,Taipei
3,3,5,7/29/2016 1:13:23,Taipei
4,3,4,7/29/2016 1:13:56,Taipei
5,3,4,7/29/2016 1:17:27,Taipei
6,4,3,7/29/2016 1:22:25,Taipei
7,3,3,7/29/2016 1:27:55,Taipei
8,2,5,7/29/2016 1:28:54,Taipei
9,4,4,7/29/2016 1:29:23,Taipei
10,4,5,7/29/2016 1:46:49,Taipei
11,3,5,7/29/2016 21:20:05,Taipei
12,3,3,8/5/2016 1:39:41,Taipei
13,3,4,8/5/2016 1:40:47,Taipei
14,3,4,8/5/2016 1:40:50,Taipei
15,4,4,8/5/2016 1:42:44,Taipei
16,4,5,8/5/2016 1:45:13,Taipei
17,3,4,8/5/2016 1:45:39,Taipei
18,3,4,8/5/2016 1:49:21,Taipei
19,3,5,8/8/2016 1:30:34,Taipei
20,3,5,8/8/2016 1:33:45,Taipei
21,3,5,8/8/2016 1:49:29,Taipei
22,3,3,8/8/2016 1:51:00,Taipei

In [225]:
test = pd.concat([test, df_HK])

/Users/jamesmccrory/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [226]:
frames = [df_HK, df_SV, df_SF, df_NY, df_LA, df_SG, df_Taipei, df_Tokyo]

In [227]:
df_2016 = pd.concat(frames)
df_2016.head()

/Users/jamesmccrory/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,NaN
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,NaN
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,NaN
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,NaN
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,NaN

In [230]:
df_2016.nunique

<bound method DataFrame.nunique of     How well are the tutorials paced? How well is the schedule paced?  \
0                                 NaN                               3
1                                 NaN                               3
2                                 NaN                               3
3                                 3.0                             NaN
4                                 3.0                             NaN
5                                 3.0                             NaN
0                                 NaN                               3
1                                 NaN                               3
2                                 NaN                               4
3                                 NaN                               3
4                                 NaN                               3
5                                 NaN                               3
6                                 NaN                               3
7                                 NaN                               3
8                                 NaN                               2
9                                 NaN                               3
10                                NaN                               3
11                                NaN                               3
12                                NaN                               2
13                                NaN                               3
14                                NaN                               3
15                                NaN                               3
16                                NaN                               3
17                                NaN                               3
18                                NaN                               4
19                                NaN                               4
20                                NaN                               4
21                                NaN                               3
22                                NaN                               4
23                                NaN                               2
..                                ...                             ...
6                                 NaN                               4
7                                 NaN                               3
8                                 NaN                               2
9                                 NaN                               4
10                                NaN                               4
11                                NaN                               3
12                                NaN                               3
13                                NaN                               3
14                                NaN                               3
15                                NaN                               4
16                                NaN                               4
17                                NaN                               3
18                                NaN                               3
19                                NaN                               3
20                                NaN                               3
21                                NaN                               3
22                                NaN                               3
0                                 NaN                               4
1                                 NaN                               3
2                                 NaN                               1
3                                 NaN                               2
4                                 NaN                               4
5                                 NaN                               3
6                                 NaN                               5
7                                 NaN                               2
8                                 NaN                               4
9                                 NaN                               3
10                                NaN                               3
11                                NaN                               4
12                                NaN                               3

   How would you rate your overall satisfaction with the Summer Academy this week?  \
0                                                   5
1                                                   4
2                                                   5
3                                                   4
4                                                   5
5                                                   5
0                                                   4
1                                                   5
2                                                   5
3                                                   4
4                                                   3
5                                                   3
6                                                   4
7                                                   5
8                                                   2
9                                                   4
10                                                  3
11                                                  5
12                                                  5
13                                                  3
14                                                  4
15                                                  4
16                                                  5
17                                                  4
18                                                  4
19                                                  4
20                                                  3
21                                                  4
22                                                  4
23                                                  4
..                                                ...
6                                                   3
7                                                   3
8                                                   5
9                                                   4
10                                                  5
11                                                  5
12                                                  3
13                                                  4
14                                                  4
15                                                  4
16                                                  5
17                                                  4
18                                                  4
19                                                  5
20                                                  5
21                                                  5
22                                                  3
0                                                   3
1                                                   4
2                                                   4
3                                                   4
4                                                   5
5                                                   3
6                                                   5
7                                                   4
8                                                   3
9                                                   5
10                                                  5
11                                                  4
12                                                  4

     Location           Timestamp Unnamed: 0 What track are you in?
0   Hong Kong   7/29/2016 0:19:08        NaN                    NaN
1   Hong Kong   7/29/2016 0:22:41        NaN                    NaN
2   Hong Kong   7/29/2016 0:23:17        NaN                    NaN
3   Hong Kong  7/21/2016 21:57:59        NaN                    NaN
4   Hong Kong  7/21/2016 21:59:37        NaN                    NaN
5   Hong Kong  7/21/2016 22:01:53        NaN                    NaN
0   Sunnyvale  7/29/2016 13:46:28        NaN                   Apps
1   Sunnyvale  7/29/2016 13:52:16        NaN                   Apps
2   Sunnyvale  7/29/2016 16:10:41        NaN                   Apps
3   Sunnyvale  7/29/2016 15:10:27        NaN                   Apps
4   Sunnyvale  7/29/2016 14:18:21        NaN                   Apps
5   Sunnyvale  7/29/2016 15:25:45        NaN                   Apps
6   Sunnyvale  7/29/2016 16:41:48        NaN                   Apps
7   Sunnyvale  7/29/2016 15:26:20        NaN                   Apps
8   Sunnyvale  7/29/2016 13:20:33        NaN                   Apps
9   Sunnyvale  7/29/2016 13:24:45        NaN                   Apps
10  Sunnyvale  7/29/2016 13:47:43        NaN                   Apps
11  Sunnyvale  7/29/2016 15:31:26        NaN                   Apps
12  Sunnyvale  7/29/2016 15:28:06        NaN                   Apps
13  Sunnyvale  7/29/2016 13:44:38        NaN                  Games
14  Sunnyvale  7/29/2016 15:36:04        NaN                  Games
15  Sunnyvale  7/29/2016 13:26:06        NaN                  Games
16  Sunnyvale  7/29/2016 15:02:27        NaN                  Games
17  Sunnyvale  7/29/2016 15:15:48        NaN                  Games
18  Sunnyvale  7/29/2016 13:35:17        NaN                  Games
19  Sunnyvale  7/29/2016 13:27:19        NaN                  Games
20  Sunnyvale  7/29/2016 14:40:29        NaN                  Games
21  Sunnyvale  7/29/2016 15:06:33        NaN                  Games
22  Sunnyvale  7/29/2016 15:17:23        NaN                  Games
23  Sunnyvale  7/29/2016 13:23:48        NaN                  Games
..        ...                 ...        ...                    ...
6      Taipei   7/29/2016 1:22:25        NaN                    NaN
7      Taipei   7/29/2016 1:27:55        NaN                    NaN
8      Taipei   7/29/2016 1:28:54        NaN                    NaN
9      Taipei   7/29/2016 1:29:23        NaN                    NaN
10     Taipei   7/29/2016 1:46:49        NaN                    NaN
11     Taipei  7/29/2016 21:20:05        NaN                    NaN
12     Taipei    8/5/2016 1:39:41        NaN                    NaN
13     Taipei    8/5/2016 1:40:47        NaN                    NaN
14     Taipei    8/5/2016 1:40:50        NaN                    NaN
15     Taipei    8/5/2016 1:42:44        NaN                    NaN
16     Taipei    8/5/2016 1:45:13        NaN                    NaN
17     Taipei    8/5/2016 1:45:39        NaN                    NaN
18     Taipei    8/5/2016 1:49:21        NaN                    NaN
19     Taipei    8/8/2016 1:30:34        NaN                    NaN
20     Taipei    8/8/2016 1:33:45        NaN                    NaN
21     Taipei    8/8/2016 1:49:29        NaN                    NaN
22     Taipei    8/8/2016 1:51:00        NaN                    NaN
0       Tokyo   7/31/2016 1:04:57        NaN                    NaN
1       Tokyo   7/31/2016 3:38:14        NaN                    NaN
2       Tokyo   7/31/2016 3:59:43        NaN                    NaN
3       Tokyo   7/31/2016 4:19:51        NaN                    NaN
4       Tokyo   7/31/2016 5:14:20        NaN                    NaN
5       Tokyo   7/31/2016 6:50:12        NaN                    NaN
6       Tokyo  7/31/2016 15:23:52        NaN                    NaN
7       Tokyo  7/31/2016 16:49:45        NaN                    NaN
8       Tokyo    8/1/2016 1:18:47        NaN                    NaN
9       Tokyo    8/1/2016 1:30:17        NaN                    NaN
10      Tokyo    8/1/2016 1:30:17        NaN                    NaN
11      Tokyo    8/1/2016 6:15:10        NaN                    NaN
12      Tokyo    8/1/2016 7:56:08        NaN                    NaN

[927 rows x 7 columns]>

In [231]:
df_2016.describe()

       How well are the tutorials paced?
count                         216.000000
mean                            3.384259
std                             0.658068
min                             2.000000
25%                             3.000000
50%                             3.000000
75%                             4.000000
max                             5.000000

In [232]:
df_2016["Location"].unique()

array(['Hong Kong', 'Sunnyvale', 'San Francisco', 'New York',
       'Los Angeles', 'Singapore', 'Taipei', 'Tokyo'], dtype=object)

In [233]:
df_2016

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,NaN
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,NaN
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,NaN
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,NaN
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,NaN
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,NaN
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,NaN,Apps
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,NaN,Apps
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,NaN,Apps
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,NaN,Apps
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,NaN,Apps
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,NaN,Apps
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,NaN,Apps
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,NaN,Apps
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,NaN,Apps
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,NaN,Apps
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,NaN,Apps
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,NaN,Apps
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,NaN,Apps
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,NaN,Games
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,NaN,Games
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,NaN,Games
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,NaN,Games
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,NaN,Games
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,NaN,Games
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,NaN,Games
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,NaN,Games
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,NaN,Games
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,NaN,Games
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,NaN,Games
...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,NaN
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,NaN
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,NaN
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,NaN
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,NaN
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,NaN
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,NaN
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,NaN
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,NaN
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,NaN
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,NaN
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,NaN
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,NaN
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,NaN
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,NaN
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,NaN
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,NaN
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,NaN
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,NaN
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,NaN
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,NaN
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,NaN
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,NaN
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,NaN
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,NaN
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,NaN
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,NaN
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,NaN
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,NaN
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,NaN

In [248]:
df_2016[(df_2016["Unnamed: 0"].notnull())]

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,Unnamed: 0,What track are you in?
215,4.0,NaN,2,Sunnyvale,NaN,6/24/2016 13:32:01,Games
216,4.0,NaN,3,Sunnyvale,NaN,6/24/2016 13:48:09,Apps
217,3.0,NaN,3,Sunnyvale,NaN,6/24/2016 13:49:23,Apps
218,5.0,NaN,3,Sunnyvale,NaN,6/24/2016 13:53:25,Apps
219,3.0,NaN,3,Sunnyvale,NaN,6/24/2016 13:55:19,Apps
220,3.0,NaN,3,Sunnyvale,NaN,6/24/2016 13:41:53,Games
221,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:46:23,Apps
222,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:46:42,Apps
223,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:47:24,Apps
224,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:47:25,Apps
225,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:47:36,Apps
226,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:48:00,Apps
227,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:48:29,Apps
228,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:48:48,Apps
229,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:49:35,Apps
230,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:50:37,Apps
231,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:51:11,Apps
232,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:51:13,Apps
233,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:52:06,Apps
234,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:52:21,Apps
235,5.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:52:50,Apps
236,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:53:03,Apps
237,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:55:00,Apps
238,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:59:24,Apps
239,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:28:35,Games
240,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:31:45,Games
241,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:32:49,Games
242,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:34:57,Games
243,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:39:47,Games
244,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:45:39,Games
...,...,...,...,...,...,...,...
247,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 14:12:35,Games
248,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:44:44,Intro
249,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:45:54,Intro
250,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:49:54,Intro
251,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:50:04,Intro
252,4.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:50:19,Intro
253,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:51:46,Intro
254,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:53:22,Intro
255,3.0,NaN,4,Sunnyvale,NaN,6/24/2016 13:55:06,Intro
256,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:47:09,Apps
257,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:47:20,Apps
258,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:47:25,Apps
259,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:49:23,Apps
260,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:50:25,Apps
261,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:50:34,Apps
262,4.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:50:54,Apps
263,4.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:51:20,Apps
264,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:53:34,Apps
265,4.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:54:13,Apps
266,4.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:54:38,Apps
267,4.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:30:55,Games
268,2.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:33:00,Games
269,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:34:13,Games
270,4.0,NaN,5,Sunnyvale,NaN,6/24/2016 14:05:25,Games
271,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:44:05,Intro
272,2.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:45:50,Intro
273,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:47:01,Intro
274,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:49:01,Intro
275,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:49:44,Intro
276,3.0,NaN,5,Sunnyvale,NaN,6/24/2016 13:50:23,Intro

In [252]:
df_2016['Timestamp'] = np.where(df_2016['Timestamp'].isna(), df_2016["Unnamed: 0"], df_2016['Timestamp'])

In [253]:
df_2016[(df_2016["Unnamed: 0"].notnull())]

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,Unnamed: 0,What track are you in?
215,4.0,NaN,2,Sunnyvale,6/24/2016 13:32:01,6/24/2016 13:32:01,Games
216,4.0,NaN,3,Sunnyvale,6/24/2016 13:48:09,6/24/2016 13:48:09,Apps
217,3.0,NaN,3,Sunnyvale,6/24/2016 13:49:23,6/24/2016 13:49:23,Apps
218,5.0,NaN,3,Sunnyvale,6/24/2016 13:53:25,6/24/2016 13:53:25,Apps
219,3.0,NaN,3,Sunnyvale,6/24/2016 13:55:19,6/24/2016 13:55:19,Apps
220,3.0,NaN,3,Sunnyvale,6/24/2016 13:41:53,6/24/2016 13:41:53,Games
221,4.0,NaN,4,Sunnyvale,6/24/2016 13:46:23,6/24/2016 13:46:23,Apps
222,3.0,NaN,4,Sunnyvale,6/24/2016 13:46:42,6/24/2016 13:46:42,Apps
223,3.0,NaN,4,Sunnyvale,6/24/2016 13:47:24,6/24/2016 13:47:24,Apps
224,4.0,NaN,4,Sunnyvale,6/24/2016 13:47:25,6/24/2016 13:47:25,Apps
225,3.0,NaN,4,Sunnyvale,6/24/2016 13:47:36,6/24/2016 13:47:36,Apps
226,4.0,NaN,4,Sunnyvale,6/24/2016 13:48:00,6/24/2016 13:48:00,Apps
227,4.0,NaN,4,Sunnyvale,6/24/2016 13:48:29,6/24/2016 13:48:29,Apps
228,3.0,NaN,4,Sunnyvale,6/24/2016 13:48:48,6/24/2016 13:48:48,Apps
229,4.0,NaN,4,Sunnyvale,6/24/2016 13:49:35,6/24/2016 13:49:35,Apps
230,3.0,NaN,4,Sunnyvale,6/24/2016 13:50:37,6/24/2016 13:50:37,Apps
231,4.0,NaN,4,Sunnyvale,6/24/2016 13:51:11,6/24/2016 13:51:11,Apps
232,4.0,NaN,4,Sunnyvale,6/24/2016 13:51:13,6/24/2016 13:51:13,Apps
233,3.0,NaN,4,Sunnyvale,6/24/2016 13:52:06,6/24/2016 13:52:06,Apps
234,3.0,NaN,4,Sunnyvale,6/24/2016 13:52:21,6/24/2016 13:52:21,Apps
235,5.0,NaN,4,Sunnyvale,6/24/2016 13:52:50,6/24/2016 13:52:50,Apps
236,3.0,NaN,4,Sunnyvale,6/24/2016 13:53:03,6/24/2016 13:53:03,Apps
237,3.0,NaN,4,Sunnyvale,6/24/2016 13:55:00,6/24/2016 13:55:00,Apps
238,3.0,NaN,4,Sunnyvale,6/24/2016 13:59:24,6/24/2016 13:59:24,Apps
239,4.0,NaN,4,Sunnyvale,6/24/2016 13:28:35,6/24/2016 13:28:35,Games
240,4.0,NaN,4,Sunnyvale,6/24/2016 13:31:45,6/24/2016 13:31:45,Games
241,4.0,NaN,4,Sunnyvale,6/24/2016 13:32:49,6/24/2016 13:32:49,Games
242,3.0,NaN,4,Sunnyvale,6/24/2016 13:34:57,6/24/2016 13:34:57,Games
243,4.0,NaN,4,Sunnyvale,6/24/2016 13:39:47,6/24/2016 13:39:47,Games
244,3.0,NaN,4,Sunnyvale,6/24/2016 13:45:39,6/24/2016 13:45:39,Games
...,...,...,...,...,...,...,...
247,4.0,NaN,4,Sunnyvale,6/24/2016 14:12:35,6/24/2016 14:12:35,Games
248,4.0,NaN,4,Sunnyvale,6/24/2016 13:44:44,6/24/2016 13:44:44,Intro
249,3.0,NaN,4,Sunnyvale,6/24/2016 13:45:54,6/24/2016 13:45:54,Intro
250,4.0,NaN,4,Sunnyvale,6/24/2016 13:49:54,6/24/2016 13:49:54,Intro
251,3.0,NaN,4,Sunnyvale,6/24/2016 13:50:04,6/24/2016 13:50:04,Intro
252,4.0,NaN,4,Sunnyvale,6/24/2016 13:50:19,6/24/2016 13:50:19,Intro
253,3.0,NaN,4,Sunnyvale,6/24/2016 13:51:46,6/24/2016 13:51:46,Intro
254,3.0,NaN,4,Sunnyvale,6/24/2016 13:53:22,6/24/2016 13:53:22,Intro
255,3.0,NaN,4,Sunnyvale,6/24/2016 13:55:06,6/24/2016 13:55:06,Intro
256,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:09,6/24/2016 13:47:09,Apps
257,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:20,6/24/2016 13:47:20,Apps
258,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:25,6/24/2016 13:47:25,Apps
259,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:23,6/24/2016 13:49:23,Apps
260,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:25,6/24/2016 13:50:25,Apps
261,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:34,6/24/2016 13:50:34,Apps
262,4.0,NaN,5,Sunnyvale,6/24/2016 13:50:54,6/24/2016 13:50:54,Apps
263,4.0,NaN,5,Sunnyvale,6/24/2016 13:51:20,6/24/2016 13:51:20,Apps
264,3.0,NaN,5,Sunnyvale,6/24/2016 13:53:34,6/24/2016 13:53:34,Apps
265,4.0,NaN,5,Sunnyvale,6/24/2016 13:54:13,6/24/2016 13:54:13,Apps
266,4.0,NaN,5,Sunnyvale,6/24/2016 13:54:38,6/24/2016 13:54:38,Apps
267,4.0,NaN,5,Sunnyvale,6/24/2016 13:30:55,6/24/2016 13:30:55,Games
268,2.0,NaN,5,Sunnyvale,6/24/2016 13:33:00,6/24/2016 13:33:00,Games
269,3.0,NaN,5,Sunnyvale,6/24/2016 13:34:13,6/24/2016 13:34:13,Games
270,4.0,NaN,5,Sunnyvale,6/24/2016 14:05:25,6/24/2016 14:05:25,Games
271,3.0,NaN,5,Sunnyvale,6/24/2016 13:44:05,6/24/2016 13:44:05,Intro
272,2.0,NaN,5,Sunnyvale,6/24/2016 13:45:50,6/24/2016 13:45:50,Intro
273,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:01,6/24/2016 13:47:01,Intro
274,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:01,6/24/2016 13:49:01,Intro
275,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:44,6/24/2016 13:49:44,Intro
276,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:23,6/24/2016 13:50:23,Intro

In [254]:
df_2016_backup = df_2016.drop(["Unnamed: 0"], axis=1)

In [258]:
df_2016 = df_2016_backup

In [259]:
df_2016

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,What track are you in?
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games
...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN

In [260]:
df_2016 = df_2016.rename(index=str, columns={"How would you rate your overall satisfaction with the Summer Academy this week?": "Score", "How well are the tutorials paced?": "Schedule Pacing"})

In [261]:
df_2016

,Schedule Pacing,How well is the schedule paced?,Score,Location,Timestamp,What track are you in?
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games
...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN

In [263]:
df_2017 = df_1

In [264]:
df_2017

,ID,Location,Track,Week,Schedule Pacing,Year,Score,NPS,NPS_2017_score
0,134,San Francisco,"Apps, Explorer",Week 1,Just right,2017,3,-1.0,44
1,36,Los Angeles,Apps,Week 1,A little too fast,2017,4,-1.0,44
2,117,San Francisco,Games,Week 1,Way too slow,2017,4,-1.0,44
3,253,NaN,NaN,Week 2,A little too fast,2017,4,-1.0,44
4,350,New York City,"Apps, Explorer",Week 1,Just right,2017,4,-1.0,44
5,23,Redwood City,Apps,Week 1,Just right,2017,5,-1.0,44
6,28,Los Angeles,Apps,Week 7,Just right,2017,5,-1.0,44
7,65,San Francisco,Apps,Week 1,A little too slow,2017,5,-1.0,44
8,101,Santa Clara,Apps,Week 1,A little too slow,2017,5,-1.0,44
9,124,Santa Clara,Apps,Week 1,Just right,2017,5,-1.0,44
10,157,Redwood City,Apps,Week 2,Just right,2017,5,-1.0,44
11,170,Oakland,Apps,Week 2,Just right,2017,5,-1.0,44
12,255,San Francisco,Apps,Week 2,Way too fast,2017,5,-1.0,44
13,289,Washington DC,Apps,Week 1,Just right,2017,5,-1.0,44
14,299,Washington DC,"Apps, Explorer",Week 1,A little too slow,2017,5,-1.0,44
15,307,NaN,NaN,Week 3,A little too slow,2017,5,-1.0,44
16,319,Redwood City,Apps,Week 3,Just right,2017,5,-1.0,44
17,336,New York City,Apps,Week 1,A little too slow,2017,5,-1.0,44
18,441,San Francisco,"Apps, Explorer",Week 3,Just right,2017,5,-1.0,44
19,482,Santa Clara,Apps,Week 3,Just right,2017,5,-1.0,44
20,37,Los Angeles,Games,Week 1,Just right,2017,6,-1.0,44
21,41,Chicago,"Apps, Explorer",Week 1,Just right,2017,6,-1.0,44
22,45,Chicago,Apps,Week 1,A little too slow,2017,6,-1.0,44
23,47,Chicago,Apps,Week 1,A little too slow,2017,6,-1.0,44
24,77,San Francisco,Apps,Week 1,A little too fast,2017,6,-1.0,44
25,78,San Francisco,Apps,Week 1,A little too fast,2017,6,-1.0,44
26,94,San Francisco,"Apps, Explorer",Week 1,Just right,2017,6,-1.0,44
27,193,Santa Clara,Apps,Week 2,Just right,2017,6,-1.0,44
28,251,San Francisco,"Apps, Explorer",Week 2,Just right,2017,6,-1.0,44
29,254,San Francisco,Apps,Week 2,Way too fast,2017,6,-1.0,44
...,...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,Just right,2017,10,1.0,44
1424,1471,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1425,1472,New York City,Games,Week 7,Just right,2017,9,1.0,44
1426,1473,New York City,"Games, Explorer",Week 7,Just right,2017,10,1.0,44
1427,1474,New York City,Games,Week 7,Just right,2017,9,1.0,44
1428,1475,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1429,1476,New York City,Apps,Week 7,A little too fast,2017,8,0.0,44
1430,1477,New York City,Games,Week 7,Just right,2017,10,1.0,44
1431,1478,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1432,1479,New York City,Games,Week 7,Just right,2017,9,1.0,44
1433,1480,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1434,1481,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1435,1482,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1436,1483,New York City,Apps,Week 7,A little too fast,2017,7,0.0,44
1437,1484,New York City,"Apps, Explorer",Week 7,Way too fast,2017,7,0.0,44
1438,1485,New York City,Apps,Week 7,Just right,2017,7,0.0,44
1439,1486,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1440,1487,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1441,1488,New York City,"Games, Explorer",Week 7,Just right,2017,7,0.0,44
1442,1489,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1443,1490,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1444,1491,New York City,Games,Week 7,A little too fast,2017,9,1.0,44
1445,1492,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1446,1493,New York City,Apps,Week 7,Just right,2017,3,-1.0,44
1447,1494,New York City,"Games, Explorer",Week 7,Just right,2017,10,1.0,44
1448,1495,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1449,1496,New York City,"Apps, Explorer",Week 7,Just right,2017,8,0.0,44
1450,1497,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1451,1498,New York City,"Apps, Explorer",Week 7,A little too slow,2017,1,-1.0,44
1452,1499,New York City,Apps,Week 5,Just right,2017,8,0.0,44

In [266]:
df_2016["Year"] = 2016

In [267]:
df_2016

,Schedule Pacing,How well is the schedule paced?,Score,Location,Timestamp,What track are you in?,Year
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016
...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,2016
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,2016
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,2016
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,2016
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,2016
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,2016
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,2016
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,2016
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,2016
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,2016
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,2016
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,2016
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,2016
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,2016
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,2016
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,2016
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,2016
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016

In [276]:
df_2016["NPS"] = df_2016["Score"].map({5: 1, 4: 0, 3: -1, 2: -1, 1: -1})

In [277]:
df_2016

,Schedule Pacing,How well is the schedule paced?,Score,Location,Timestamp,What track are you in?,Year,NPS
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0
...,...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0

In [278]:
NPS_sixteen_NPS_score = (df_2016[(df_2016["NPS"] == 1.0)].count() - df_2016[(df_2016["NPS"] == -1.0)].count()) / df_2016.count()

In [279]:
NPS_sixteen_NPS_score

Schedule Pacing                    0.342593
How well is the schedule paced?    0.177215
Score                              0.215750
Location                           0.215750
Timestamp                          0.211538
What track are you in?             0.236094
Year                               0.215750
NPS                                0.224719
dtype: float64

In [280]:
NPS_sixteen_NPS_score = int(NPS_sixteen_NPS_score["NPS"]*100)

In [281]:
NPS_sixteen_NPS_score

22

In [282]:
df_2016['NPS_2017_score'] = NPS_sixteen_NPS_score

In [283]:
df_2016

,Schedule Pacing,How well is the schedule paced?,Score,Location,Timestamp,What track are you in?,Year,NPS,NPS_2017_score
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0,22
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0,22
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0,22
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0,22
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0,22
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0,22
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0,22
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0,22
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0,22
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0,22
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0,22
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0,22
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0,22
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0,22
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0,22
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0,22
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0,22
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0,22
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0,22
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0,22
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0,22
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0,22
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0,22
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0,22
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0,22
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0,22
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0,22
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0,22
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0,22
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0,22
...,...,...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0,22
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0,22
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0,22
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0,22
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0,22
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0,22
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0,22
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0,22
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0,22
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0,22
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0,22
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0,22
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0,22
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0,22
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0,22
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0,22
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0,22
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0,22
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0,22
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0,22
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0,22
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0,22
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0,22
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0,22
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0,22
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0,22
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0,22
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0,22

In [286]:
df_2016 = df_2016.rename(index=str, columns={"How well is the schedule paced?": "Schedule Pacing1"})

In [289]:
df_2016

,Schedule Pacing,Schedule Pacing,Score,Location,Timestamp,What track are you in?,Year,NPS,NPS_2017_score
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0,22
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0,22
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0,22
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0,22
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0,22
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0,22
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0,22
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0,22
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0,22
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0,22
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0,22
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0,22
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0,22
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0,22
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0,22
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0,22
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0,22
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0,22
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0,22
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0,22
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0,22
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0,22
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0,22
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0,22
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0,22
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0,22
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0,22
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0,22
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0,22
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0,22
...,...,...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0,22
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0,22
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0,22
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0,22
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0,22
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0,22
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0,22
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0,22
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0,22
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0,22
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0,22
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0,22
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0,22
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0,22
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0,22
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0,22
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0,22
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0,22
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0,22
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0,22
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0,22
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0,22
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0,22
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0,22
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0,22
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0,22
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0,22
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0,22

In [307]:
#df_2016.iloc[:, 0]
# df_2016.iloc[3]
#df_2016[df_2016.columns[1]]
#df_2016['Schedule Pacing'] = np.where(df['Schedule Pacing'].isna(), df['Schedule Pacing1'], df['Schedule Pacing'])
df_2016.iloc[:, 0] = np.where(df_2016.iloc[:, 0].isna(), df_2016.iloc[:, 1], df_2016.iloc[:, 0])

In [308]:
df_2016

,Schedule Pacing,Schedule Pacing,Score,Location,Timestamp,What track are you in?,Year,NPS,NPS_2017_score
0,3,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0,22
1,3,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0,22
2,3,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0,22
3,3,3,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0,22
4,3,3,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0,22
5,3,3,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0,22
0,3,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0,22
1,3,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0,22
2,4,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0,22
3,3,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0,22
4,3,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0,22
5,3,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0,22
6,3,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0,22
7,3,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0,22
8,2,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0,22
9,3,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0,22
10,3,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0,22
11,3,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0,22
12,2,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0,22
13,3,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0,22
14,3,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0,22
15,3,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0,22
16,3,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0,22
17,3,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0,22
18,4,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0,22
19,4,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0,22
20,4,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0,22
21,3,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0,22
22,4,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0,22
23,2,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0,22
...,...,...,...,...,...,...,...,...,...
6,4,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0,22
7,3,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0,22
8,2,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0,22
9,4,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0,22
10,4,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0,22
11,3,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0,22
12,3,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0,22
13,3,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0,22
14,3,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0,22
15,4,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0,22
16,4,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0,22
17,3,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0,22
18,3,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0,22
19,3,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0,22
20,3,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0,22
21,3,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0,22
22,3,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0,22
0,4,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0,22
1,3,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0,22
2,1,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0,22
3,2,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0,22
4,4,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0,22
5,3,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0,22
6,5,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0,22
7,2,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0,22
8,4,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0,22
9,3,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
10,3,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
11,4,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0,22
12,3,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0,22

In [309]:
df_2016_backup = df_2016
#= df_backup2.drop(['Rating (Num)'], axis=1)

In [310]:
df_2016["Pacing"] = df_2016.iloc[:, 0]

In [312]:
df_2016 = df_2016.drop(['Schedule Pacing'], axis=1)

In [314]:
df_2016 = df_2016.rename(index=str, columns={"Pacing": "Schedule Pacing"})

In [315]:
df_2016

,Score,Location,Timestamp,What track are you in?,Year,NPS,NPS_2017_score,Schedule Pacing
0,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0,22,3
1,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0,22,3
2,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0,22,3
3,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0,22,3
4,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0,22,3
5,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0,22,3
0,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0,22,3
1,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0,22,3
2,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0,22,4
3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0,22,3
4,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0,22,3
5,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0,22,3
6,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0,22,3
7,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0,22,3
8,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0,22,2
9,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0,22,3
10,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0,22,3
11,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0,22,3
12,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0,22,2
13,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0,22,3
14,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0,22,3
15,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0,22,3
16,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0,22,3
17,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0,22,3
18,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0,22,4
19,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0,22,4
20,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0,22,4
21,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0,22,3
22,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0,22,4
23,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0,22,2
...,...,...,...,...,...,...,...,...
6,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0,22,4
7,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0,22,3
8,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0,22,2
9,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0,22,4
10,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0,22,4
11,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0,22,3
12,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0,22,3
13,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0,22,3
14,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0,22,3
15,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0,22,4
16,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0,22,4
17,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0,22,3
18,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0,22,3
19,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0,22,3
20,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0,22,3
21,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0,22,3
22,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0,22,3
0,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0,22,4
1,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0,22,3
2,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0,22,1
3,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0,22,2
4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0,22,4
5,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0,22,3
6,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0,22,5
7,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0,22,2
8,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0,22,4
9,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22,3
10,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22,3
11,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0,22,4
12,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0,22,3

In [316]:
df_2017

,ID,Location,Track,Week,Schedule Pacing,Year,Score,NPS,NPS_2017_score
0,134,San Francisco,"Apps, Explorer",Week 1,Just right,2017,3,-1.0,44
1,36,Los Angeles,Apps,Week 1,A little too fast,2017,4,-1.0,44
2,117,San Francisco,Games,Week 1,Way too slow,2017,4,-1.0,44
3,253,NaN,NaN,Week 2,A little too fast,2017,4,-1.0,44
4,350,New York City,"Apps, Explorer",Week 1,Just right,2017,4,-1.0,44
5,23,Redwood City,Apps,Week 1,Just right,2017,5,-1.0,44
6,28,Los Angeles,Apps,Week 7,Just right,2017,5,-1.0,44
7,65,San Francisco,Apps,Week 1,A little too slow,2017,5,-1.0,44
8,101,Santa Clara,Apps,Week 1,A little too slow,2017,5,-1.0,44
9,124,Santa Clara,Apps,Week 1,Just right,2017,5,-1.0,44
10,157,Redwood City,Apps,Week 2,Just right,2017,5,-1.0,44
11,170,Oakland,Apps,Week 2,Just right,2017,5,-1.0,44
12,255,San Francisco,Apps,Week 2,Way too fast,2017,5,-1.0,44
13,289,Washington DC,Apps,Week 1,Just right,2017,5,-1.0,44
14,299,Washington DC,"Apps, Explorer",Week 1,A little too slow,2017,5,-1.0,44
15,307,NaN,NaN,Week 3,A little too slow,2017,5,-1.0,44
16,319,Redwood City,Apps,Week 3,Just right,2017,5,-1.0,44
17,336,New York City,Apps,Week 1,A little too slow,2017,5,-1.0,44
18,441,San Francisco,"Apps, Explorer",Week 3,Just right,2017,5,-1.0,44
19,482,Santa Clara,Apps,Week 3,Just right,2017,5,-1.0,44
20,37,Los Angeles,Games,Week 1,Just right,2017,6,-1.0,44
21,41,Chicago,"Apps, Explorer",Week 1,Just right,2017,6,-1.0,44
22,45,Chicago,Apps,Week 1,A little too slow,2017,6,-1.0,44
23,47,Chicago,Apps,Week 1,A little too slow,2017,6,-1.0,44
24,77,San Francisco,Apps,Week 1,A little too fast,2017,6,-1.0,44
25,78,San Francisco,Apps,Week 1,A little too fast,2017,6,-1.0,44
26,94,San Francisco,"Apps, Explorer",Week 1,Just right,2017,6,-1.0,44
27,193,Santa Clara,Apps,Week 2,Just right,2017,6,-1.0,44
28,251,San Francisco,"Apps, Explorer",Week 2,Just right,2017,6,-1.0,44
29,254,San Francisco,Apps,Week 2,Way too fast,2017,6,-1.0,44
...,...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,Just right,2017,10,1.0,44
1424,1471,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1425,1472,New York City,Games,Week 7,Just right,2017,9,1.0,44
1426,1473,New York City,"Games, Explorer",Week 7,Just right,2017,10,1.0,44
1427,1474,New York City,Games,Week 7,Just right,2017,9,1.0,44
1428,1475,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1429,1476,New York City,Apps,Week 7,A little too fast,2017,8,0.0,44
1430,1477,New York City,Games,Week 7,Just right,2017,10,1.0,44
1431,1478,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1432,1479,New York City,Games,Week 7,Just right,2017,9,1.0,44
1433,1480,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1434,1481,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1435,1482,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1436,1483,New York City,Apps,Week 7,A little too fast,2017,7,0.0,44
1437,1484,New York City,"Apps, Explorer",Week 7,Way too fast,2017,7,0.0,44
1438,1485,New York City,Apps,Week 7,Just right,2017,7,0.0,44
1439,1486,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1440,1487,New York City,Apps,Week 7,Just right,2017,8,0.0,44
1441,1488,New York City,"Games, Explorer",Week 7,Just right,2017,7,0.0,44
1442,1489,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1443,1490,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1444,1491,New York City,Games,Week 7,A little too fast,2017,9,1.0,44
1445,1492,New York City,Apps,Week 7,Just right,2017,9,1.0,44
1446,1493,New York City,Apps,Week 7,Just right,2017,3,-1.0,44
1447,1494,New York City,"Games, Explorer",Week 7,Just right,2017,10,1.0,44
1448,1495,New York City,"Apps, Explorer",Week 7,Just right,2017,10,1.0,44
1449,1496,New York City,"Apps, Explorer",Week 7,Just right,2017,8,0.0,44
1450,1497,New York City,Apps,Week 7,Just right,2017,10,1.0,44
1451,1498,New York City,"Apps, Explorer",Week 7,A little too slow,2017,1,-1.0,44
1452,1499,New York City,Apps,Week 5,Just right,2017,8,0.0,44

In [317]:
frames = [df_2016, df_2017]

In [318]:
df = pd.concat(frames)

/Users/jamesmccrory/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [319]:
df

,ID,Location,NPS,NPS_2017_score,Schedule Pacing,Score,Timestamp,Track,Week,What track are you in?,Year
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,NaN,NaN,NaN,2016
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,NaN,NaN,NaN,2016
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,NaN,NaN,NaN,2016
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,NaN,NaN,NaN,2016
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,NaN,NaN,NaN,2016
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,NaN,NaN,NaN,2016
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,NaN,NaN,Apps,2016
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,NaN,NaN,Apps,2016
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,NaN,NaN,Apps,2016
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,NaN,NaN,Apps,2016
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,NaN,NaN,Apps,2016
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,NaN,NaN,Apps,2016
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,NaN,NaN,Apps,2016
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,NaN,NaN,Apps,2016
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,NaN,NaN,Apps,2016
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,NaN,NaN,Apps,2016
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,NaN,NaN,Apps,2016
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,NaN,NaN,Apps,2016
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,NaN,NaN,Apps,2016
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,NaN,NaN,Games,2016
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,NaN,NaN,Games,2016
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,NaN,NaN,Games,2016
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,NaN,NaN,Games,2016
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,NaN,NaN,Games,2016
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,NaN,NaN,Games,2016
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,NaN,NaN,Games,2016
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,NaN,NaN,Games,2016
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,NaN,NaN,Games,2016
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,NaN,NaN,Games,2016
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,NaN,NaN,Games,2016
...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,NaN,2017
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,NaN,2017
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,NaN,2017
1426,1473.0,New York City,1.0,44,Just right,10,NaN,"Games, Explorer",Week 7,NaN,2017
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,NaN,2017
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,NaN,2017
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,NaN,2017
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,NaN,2017
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,NaN,2017
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,NaN,2017
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,NaN,2017
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,NaN,2017
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,NaN,2017
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,NaN,2017
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,"Apps, Explorer",Week 7,NaN,2017
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,NaN,2017
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,NaN,2017
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,NaN,2017
1441,1488.0,New York City,0.0,44,Just right,7,NaN,"Games, Explorer",Week 7,NaN,2017
1442,1489.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1443,1490.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,NaN,2017
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,NaN,2017
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,NaN,2017
1447,1494.0,New York City,1.0,44,Just right,10,NaN,"Games, Explorer",Week 7,NaN,2017
1448,1495.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1449,1496.0,New York City,0.0,44,Just right,8,NaN,"Apps, Explorer",Week 7,NaN,2017
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,NaN,2017
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,"Apps, Explorer",Week 7,NaN,2017
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,NaN,2017

In [320]:
df.describe()

                ID          NPS  NPS_2017_score         Year
count  1450.000000  2338.000000     2377.000000  2377.000000
mean    757.922069     0.359709       35.420278  2016.610013
std     430.382155     0.673632       10.732694     0.487850
min       8.000000    -1.000000       22.000000  2016.000000
25%     386.250000     0.000000       22.000000  2016.000000
50%     762.500000     0.000000       44.000000  2017.000000
75%    1129.750000     1.000000       44.000000  2017.000000
max    1499.000000     1.000000       44.000000  2017.000000

In [321]:
df = df.rename(index=str, columns={"NPS_2017_score": "NPS_Year_Score"})

In [322]:
df.describe()

                ID          NPS  NPS_Year_Score         Year
count  1450.000000  2338.000000     2377.000000  2377.000000
mean    757.922069     0.359709       35.420278  2016.610013
std     430.382155     0.673632       10.732694     0.487850
min       8.000000    -1.000000       22.000000  2016.000000
25%     386.250000     0.000000       22.000000  2016.000000
50%     762.500000     0.000000       44.000000  2017.000000
75%    1129.750000     1.000000       44.000000  2017.000000
max    1499.000000     1.000000       44.000000  2017.000000

In [323]:
df.shape

(2377, 11)

In [324]:
df.head()

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,What track are you in?,Year
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,NaN,NaN,NaN,2016
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,NaN,NaN,NaN,2016
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,NaN,NaN,NaN,2016
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,NaN,NaN,NaN,2016
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,NaN,NaN,NaN,2016

In [325]:
df["What track are you in?"].unique()

array([nan, 'Apps', 'Games', 'Intro', 'Average:', 'VR'], dtype=object)

In [326]:
df["Track"].unique()

array([nan, 'Apps, Explorer', 'Apps', 'Games', 'VR', 'Games, Explorer'],
      dtype=object)

In [327]:
df['Track'] = np.where(df['Track'].isna(), df["What track are you in?"], df['Track'])

In [328]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,What track are you in?,Year
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,NaN,NaN,NaN,2016
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,NaN,NaN,NaN,2016
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,NaN,NaN,NaN,2016
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,NaN,NaN,NaN,2016
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,NaN,NaN,NaN,2016
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,NaN,NaN,NaN,2016
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,Apps,NaN,Apps,2016
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,Apps,NaN,Apps,2016
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,Apps,NaN,Apps,2016
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,Apps,NaN,Apps,2016
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,Apps,NaN,Apps,2016
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,Apps,NaN,Apps,2016
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,Apps,NaN,Apps,2016
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,Apps,NaN,Apps,2016
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,Apps,NaN,Apps,2016
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,Apps,NaN,Apps,2016
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,Apps,NaN,Apps,2016
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,Apps,NaN,Apps,2016
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,Apps,NaN,Apps,2016
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,Games,NaN,Games,2016
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,Games,NaN,Games,2016
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,Games,NaN,Games,2016
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,Games,NaN,Games,2016
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,Games,NaN,Games,2016
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,Games,NaN,Games,2016
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,Games,NaN,Games,2016
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,Games,NaN,Games,2016
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,Games,NaN,Games,2016
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,Games,NaN,Games,2016
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,Games,NaN,Games,2016
...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,NaN,2017
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,NaN,2017
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,NaN,2017
1426,1473.0,New York City,1.0,44,Just right,10,NaN,"Games, Explorer",Week 7,NaN,2017
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,NaN,2017
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,NaN,2017
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,NaN,2017
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,NaN,2017
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,NaN,2017
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,NaN,2017
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,NaN,2017
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,NaN,2017
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,NaN,2017
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,NaN,2017
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,"Apps, Explorer",Week 7,NaN,2017
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,NaN,2017
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,NaN,2017
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,NaN,2017
1441,1488.0,New York City,0.0,44,Just right,7,NaN,"Games, Explorer",Week 7,NaN,2017
1442,1489.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1443,1490.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,NaN,2017
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,NaN,2017
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,NaN,2017
1447,1494.0,New York City,1.0,44,Just right,10,NaN,"Games, Explorer",Week 7,NaN,2017
1448,1495.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1449,1496.0,New York City,0.0,44,Just right,8,NaN,"Apps, Explorer",Week 7,NaN,2017
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,NaN,2017
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,"Apps, Explorer",Week 7,NaN,2017
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,NaN,2017

In [329]:
df = df.drop(['What track are you in?'], axis=1)

In [330]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,Year
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,NaN,NaN,2016
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,NaN,NaN,2016
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,NaN,NaN,2016
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,NaN,NaN,2016
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,NaN,NaN,2016
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,NaN,NaN,2016
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,Apps,NaN,2016
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,Apps,NaN,2016
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,Apps,NaN,2016
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,Apps,NaN,2016
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,Apps,NaN,2016
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,Apps,NaN,2016
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,Apps,NaN,2016
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,Apps,NaN,2016
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,Apps,NaN,2016
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,Apps,NaN,2016
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,Apps,NaN,2016
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,Apps,NaN,2016
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,Apps,NaN,2016
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,Games,NaN,2016
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,Games,NaN,2016
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,Games,NaN,2016
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,Games,NaN,2016
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,Games,NaN,2016
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,Games,NaN,2016
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,Games,NaN,2016
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,Games,NaN,2016
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,Games,NaN,2016
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,Games,NaN,2016
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,Games,NaN,2016
...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017
1426,1473.0,New York City,1.0,44,Just right,10,NaN,"Games, Explorer",Week 7,2017
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,2017
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,2017
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,"Apps, Explorer",Week 7,2017
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,2017
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017
1441,1488.0,New York City,0.0,44,Just right,7,NaN,"Games, Explorer",Week 7,2017
1442,1489.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,2017
1443,1490.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,2017
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,2017
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,2017
1447,1494.0,New York City,1.0,44,Just right,10,NaN,"Games, Explorer",Week 7,2017
1448,1495.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,2017
1449,1496.0,New York City,0.0,44,Just right,8,NaN,"Apps, Explorer",Week 7,2017
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,"Apps, Explorer",Week 7,2017
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,2017

In [331]:
df_backup = df
#backing up the data as I am...
#renaming pacing data from 2017 to be positive "Just right" = 1 or negative "A little too fast" / "A little too slow" = -1

In [332]:
df["Schedule Pacing"].unique()

array([3.0, 4, 2, 1, 5, '2', '3', '4', '5', '#REF!', 'Just right',
       'A little too fast', 'Way too slow', 'A little too slow',
       'Way too fast'], dtype=object)

In [333]:
df["Pacing NPS"] = df["Schedule Pacing"].map({'Way too fast': -1, 'A little too fast': -1, 'Way too slow': -1, 'A little too slow': -1,'#REF!': 0, 'Just right': 1,'3': -1, '4': 0, '5': 1,'2': -1, 3.0: 1, 4: 0, 3: -1, 2: -1, 1: -1})

In [334]:
df["Pacing NPS"].unique()

array([-1.,  0., nan,  1.])

In [336]:
df["Pacing NPS"].isnull = df["Pacing NPS"].map({nan:0})

NameError: name 'nan' is not defined

In [337]:
df["Pacing NPS"].fillna(0, inplace=True)

In [339]:
df["Pacing NPS"].unique()

array([-1.,  0.,  1.])

In [341]:
df["Track"].unique()

array([nan, 'Apps', 'Games', 'Intro', 'Average:', 'VR', 'Apps, Explorer',
       'Games, Explorer'], dtype=object)

In [347]:
df[(df["Track"].isna()== True)]# == 'Intro')

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,Year,Pacing NPS
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,NaN,NaN,2016,-1.0
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,NaN,NaN,2016,-1.0
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,NaN,NaN,2016,-1.0
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,NaN,NaN,2016,-1.0
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,NaN,NaN,2016,-1.0
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,NaN,NaN,2016,-1.0
0,NaN,Los Angeles,0.0,22,2,4,6/30/2016 14:09:14,NaN,NaN,2016,-1.0
1,NaN,Los Angeles,-1.0,22,3,3,6/30/2016 22:50:08,NaN,NaN,2016,-1.0
2,NaN,Los Angeles,0.0,22,4,4,7/1/2016 9:34:16,NaN,NaN,2016,0.0
3,NaN,Los Angeles,0.0,22,3,4,7/1/2016 10:42:17,NaN,NaN,2016,-1.0
4,NaN,Los Angeles,0.0,22,3,4,7/1/2016 11:25:53,NaN,NaN,2016,-1.0
5,NaN,Los Angeles,1.0,22,3,5,7/1/2016 11:57:11,NaN,NaN,2016,-1.0
6,NaN,Los Angeles,1.0,22,3,5,7/1/2016 11:58:37,NaN,NaN,2016,-1.0
17,NaN,Los Angeles,1.0,22,3,5,7/15/2016 13:20:35,NaN,NaN,2016,-1.0
18,NaN,Los Angeles,1.0,22,3,5,7/15/2016 13:22:22,NaN,NaN,2016,-1.0
19,NaN,Los Angeles,1.0,22,3,5,7/15/2016 14:35:15,NaN,NaN,2016,-1.0
20,NaN,Los Angeles,1.0,22,4,5,7/15/2016 15:05:10,NaN,NaN,2016,0.0
21,NaN,Los Angeles,-1.0,22,3,3,7/15/2016 15:12:36,NaN,NaN,2016,-1.0
22,NaN,Los Angeles,0.0,22,3,4,7/15/2016 16:59:37,NaN,NaN,2016,-1.0
23,NaN,Los Angeles,0.0,22,3,4,7/15/2016 17:10:52,NaN,NaN,2016,-1.0
24,NaN,Los Angeles,0.0,22,3,4,7/15/2016 19:32:26,NaN,NaN,2016,-1.0
25,NaN,Los Angeles,-1.0,22,4,3,6/23/2016 15:55:12,NaN,NaN,2016,0.0
26,NaN,Los Angeles,0.0,22,4,4,6/23/2016 16:14:04,NaN,NaN,2016,0.0
27,NaN,Los Angeles,0.0,22,4,4,6/24/2016 0:18:42,NaN,NaN,2016,0.0
28,NaN,Los Angeles,0.0,22,4,4,6/24/2016 6:59:42,NaN,NaN,2016,0.0
29,NaN,Los Angeles,0.0,22,5,4,6/24/2016 9:40:16,NaN,NaN,2016,0.0
30,NaN,Los Angeles,1.0,22,4,5,6/23/2016 22:07:29,NaN,NaN,2016,0.0
31,NaN,Los Angeles,1.0,22,3,5,6/24/2016 9:34:14,NaN,NaN,2016,-1.0
32,NaN,Los Angeles,0.0,22,2,4,7/8/2016 10:31:27,NaN,NaN,2016,-1.0
33,NaN,Los Angeles,0.0,22,4,4,7/8/2016 13:45:52,NaN,NaN,2016,0.0
...,...,...,...,...,...,...,...,...,...,...,...
556,587.0,NaN,0.0,44,Just right,8,NaN,NaN,Week 2,2017,1.0
569,600.0,NaN,-1.0,44,A little too fast,6,NaN,NaN,Week 2,2017,-1.0
577,608.0,NaN,NaN,44,Way too fast,0,NaN,NaN,Week 2,2017,-1.0
595,626.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 4,2017,1.0
704,739.0,NaN,0.0,44,A little too fast,7,NaN,NaN,Week 2,2017,-1.0
728,766.0,NaN,1.0,44,A little too fast,9,NaN,NaN,Week 1,2017,-1.0
808,846.0,NaN,0.0,44,A little too fast,7,NaN,NaN,Week 3,2017,-1.0
810,848.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 3,2017,1.0
881,919.0,NaN,1.0,44,A little too fast,9,NaN,NaN,Week 5,2017,-1.0
935,974.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 3,2017,1.0
940,979.0,NaN,0.0,44,Just right,7,NaN,NaN,Week 3,2017,1.0
959,1002.0,NaN,1.0,44,Just right,9,NaN,NaN,Week 2,2017,1.0
1102,1145.0,NaN,1.0,44,Just right,9,NaN,NaN,Week 1,2017,1.0
1104,1147.0,NaN,1.0,44,Just right,9,NaN,NaN,Week 1,2017,1.0
1106,1149.0,NaN,0.0,44,Just right,8,NaN,NaN,Week 1,2017,1.0
1108,1151.0,NaN,1.0,44,A little too fast,9,NaN,NaN,Week 1,2017,-1.0
1112,1155.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 1,2017,1.0
1120,1164.0,NaN,1.0,44,Just right,9,NaN,NaN,Week 1,2017,1.0
1121,1165.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 2,2017,1.0
1140,1185.0,NaN,0.0,44,Just right,7,NaN,NaN,Week 4,2017,1.0
1141,1186.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 4,2017,1.0
1157,1202.0,NaN,0.0,44,Way too slow,7,NaN,NaN,Week 4,2017,-1.0
1178,1224.0,NaN,0.0,44,A little too fast,7,NaN,NaN,Week 2,2017,-1.0
1187,1233.0,NaN,1.0,44,Way too fast,10,NaN,NaN,Week 2,2017,-1.0
1189,1235.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 3,2017,1.0
1235,1281.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 5,2017,1.0
1335,1382.0,NaN,-1.0,44,Just right,5,NaN,NaN,Week 5,2017,1.0
1340,1387.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 2,2017,1.0
1405,1452.0,NaN,0.0,44,Just right,7,NaN,NaN,Week 7,2017,1.0
1410,1457.0,NaN,1.0,44,Just right,10,NaN,NaN,Week 6,2017,1.0

In [348]:
df['Track'] = np.where(df['Track'].isna(), 'Intro', df['Track'])

In [351]:
df['Track'] = np.where(df['Track'] == "Games, Explorer", 'Games', df['Track'])

In [352]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,Year,Pacing NPS
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,Intro,NaN,2016,-1.0
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,Intro,NaN,2016,-1.0
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,Intro,NaN,2016,-1.0
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,Intro,NaN,2016,-1.0
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,Intro,NaN,2016,-1.0
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,Intro,NaN,2016,-1.0
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,Apps,NaN,2016,-1.0
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,Apps,NaN,2016,-1.0
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,Apps,NaN,2016,0.0
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,Apps,NaN,2016,-1.0
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,Apps,NaN,2016,-1.0
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,Apps,NaN,2016,-1.0
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,Apps,NaN,2016,-1.0
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,Apps,NaN,2016,-1.0
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,Apps,NaN,2016,-1.0
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,Apps,NaN,2016,-1.0
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,Apps,NaN,2016,-1.0
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,Apps,NaN,2016,-1.0
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,Apps,NaN,2016,-1.0
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,Games,NaN,2016,-1.0
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,Games,NaN,2016,-1.0
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,Games,NaN,2016,-1.0
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,Games,NaN,2016,-1.0
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,Games,NaN,2016,-1.0
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,Games,NaN,2016,0.0
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,Games,NaN,2016,0.0
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,Games,NaN,2016,0.0
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,Games,NaN,2016,-1.0
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,Games,NaN,2016,0.0
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,Games,NaN,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0
1426,1473.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,2017,-1.0
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,2017,-1.0
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,"Apps, Explorer",Week 7,2017,-1.0
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,2017,1.0
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0
1441,1488.0,New York City,0.0,44,Just right,7,NaN,Games,Week 7,2017,1.0
1442,1489.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,2017,1.0
1443,1490.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,2017,1.0
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,2017,-1.0
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,2017,1.0
1447,1494.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0
1448,1495.0,New York City,1.0,44,Just right,10,NaN,"Apps, Explorer",Week 7,2017,1.0
1449,1496.0,New York City,0.0,44,Just right,8,NaN,"Apps, Explorer",Week 7,2017,1.0
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,"Apps, Explorer",Week 7,2017,-1.0
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,2017,1.0

In [353]:
df['Track'] = np.where(df['Track'] == "Apps, Explorer", 'Apps', df['Track'])

In [354]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,Year,Pacing NPS
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,Intro,NaN,2016,-1.0
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,Intro,NaN,2016,-1.0
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,Intro,NaN,2016,-1.0
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,Intro,NaN,2016,-1.0
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,Intro,NaN,2016,-1.0
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,Intro,NaN,2016,-1.0
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,Apps,NaN,2016,-1.0
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,Apps,NaN,2016,-1.0
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,Apps,NaN,2016,0.0
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,Apps,NaN,2016,-1.0
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,Apps,NaN,2016,-1.0
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,Apps,NaN,2016,-1.0
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,Apps,NaN,2016,-1.0
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,Apps,NaN,2016,-1.0
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,Apps,NaN,2016,-1.0
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,Apps,NaN,2016,-1.0
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,Apps,NaN,2016,-1.0
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,Apps,NaN,2016,-1.0
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,Apps,NaN,2016,-1.0
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,Games,NaN,2016,-1.0
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,Games,NaN,2016,-1.0
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,Games,NaN,2016,-1.0
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,Games,NaN,2016,-1.0
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,Games,NaN,2016,-1.0
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,Games,NaN,2016,0.0
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,Games,NaN,2016,0.0
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,Games,NaN,2016,0.0
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,Games,NaN,2016,-1.0
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,Games,NaN,2016,0.0
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,Games,NaN,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0
1426,1473.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,2017,-1.0
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,2017,-1.0
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,Apps,Week 7,2017,-1.0
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,2017,1.0
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0
1441,1488.0,New York City,0.0,44,Just right,7,NaN,Games,Week 7,2017,1.0
1442,1489.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1443,1490.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,2017,-1.0
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,2017,1.0
1447,1494.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0
1448,1495.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1449,1496.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,Apps,Week 7,2017,-1.0
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,2017,1.0

In [357]:
df['Date'] = df.Timestamp.str[:9]

In [358]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,Year,Pacing NPS,Date
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,Intro,NaN,2016,-1.0,7/29/2016
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,Intro,NaN,2016,-1.0,7/29/2016
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,Intro,NaN,2016,-1.0,7/29/2016
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,Intro,NaN,2016,-1.0,7/21/2016
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,Intro,NaN,2016,-1.0,7/21/2016
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,Intro,NaN,2016,-1.0,7/21/2016
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,Apps,NaN,2016,-1.0,7/29/2016
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,Apps,NaN,2016,-1.0,7/29/2016
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,Apps,NaN,2016,0.0,7/29/2016
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,Apps,NaN,2016,-1.0,7/29/2016
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,Apps,NaN,2016,-1.0,7/29/2016
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,Apps,NaN,2016,-1.0,7/29/2016
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,Apps,NaN,2016,-1.0,7/29/2016
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,Apps,NaN,2016,-1.0,7/29/2016
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,Apps,NaN,2016,-1.0,7/29/2016
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,Apps,NaN,2016,-1.0,7/29/2016
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,Apps,NaN,2016,-1.0,7/29/2016
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,Apps,NaN,2016,-1.0,7/29/2016
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,Apps,NaN,2016,-1.0,7/29/2016
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,Games,NaN,2016,-1.0,7/29/2016
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,Games,NaN,2016,-1.0,7/29/2016
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,Games,NaN,2016,-1.0,7/29/2016
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,Games,NaN,2016,-1.0,7/29/2016
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,Games,NaN,2016,-1.0,7/29/2016
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,Games,NaN,2016,0.0,7/29/2016
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,Games,NaN,2016,0.0,7/29/2016
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,Games,NaN,2016,0.0,7/29/2016
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,Games,NaN,2016,-1.0,7/29/2016
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,Games,NaN,2016,0.0,7/29/2016
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,Games,NaN,2016,-1.0,7/29/2016
...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN
1426,1473.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,2017,-1.0,NaN
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,2017,-1.0,NaN
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,Apps,Week 7,2017,-1.0,NaN
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,2017,1.0,NaN
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN
1441,1488.0,New York City,0.0,44,Just right,7,NaN,Games,Week 7,2017,1.0,NaN
1442,1489.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1443,1490.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,2017,-1.0,NaN
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,2017,1.0,NaN
1447,1494.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN
1448,1495.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1449,1496.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,Apps,Week 7,2017,-1.0,NaN
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,2017,1.0,NaN

In [359]:
df["Date"].unique()

array(['7/29/2016', '7/21/2016', '7/15/2016', '7/17/2016', '7/18/2016',
       '7/1/2016 ', '7/2/2016 ', '7/4/2016 ', '8/5/2016 ', '8/7/2016 ',
       '7/22/2016', '7/23/2016', '6/24/2016', '7/8/2016 ', '7/9/2016 ',
       '7/10/2016', nan, '7/16/2016', '7/14/2016', '7/19/2016',
       '7/31/2016', '7/30/2016', '7/3/2016 ', '7/5/2016 ', '8/8/2016 ',
       '7/11/2016', '6/23/2016', '6/25/2016', '6/27/2016', '6/26/2016',
       '6/29/2016', '6/30/2016', '8/1/2016 ', '7/24/2016'], dtype=object)

In [363]:
# week1 = 6/23/2016 - 6/27/2016
# week2 = 6/30/2016 - 7/5/2016
# week3 = 7/8/2016 - 7/11/2016
# week4 = 7/14/2016 - 7/19/2016
# week5 = 7/21/2016 - 7/24/2016
# week6 = 7/29/2016 - 8/5/2016
# week7 = 8/5/2016 - 8/8/2016
# week8 = 9/7/2016 - 9/26/2016
df["Weeks"] = df["Date"].map({'6/29/2016':'Week 1', '6/30/2016':'Week 2', '8/1/2016 ':'Week 6', '7/24/2016':'Week 5','7/11/2016': 'Week 3', '6/23/2016': 'Week 1', '6/25/2016': 'Week 1', '6/27/2016': 'Week 1', '6/26/2016': 'Week 1','7/31/2016': 'Week 6', '7/30/2016': 'Week 6', '7/3/2016 ': 'Week 2', '7/5/2016 ': 'Week 2', '8/8/2016 ': 'Week 7','7/10/2016': 'Week 3', '7/16/2016': 'Week 4', '7/14/2016': 'Week 4', '7/19/2016': 'Week 4','7/22/2016':'Week 5', '7/23/2016':'Week 5', '6/24/2016':'Week 1', '7/8/2016 ':'Week 3', '7/9/2016 ':'Week 3', '7/1/2016 ':'Week 2', '7/2/2016 ':'Week 2', '7/4/2016 ': 'Week 2', '8/5/2016 ': 'Week 7', '8/7/2016 ':'Week 7','7/29/2016':'Week 6', '7/21/2016':'Week 5', '7/15/2016':'Week 4', '7/17/2016':'Week 4', '7/18/2016':'Week 4'})

In [364]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,Year,Pacing NPS,Date,Weeks
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,Intro,NaN,2016,-1.0,7/29/2016,Week 6
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,Intro,NaN,2016,-1.0,7/29/2016,Week 6
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,Intro,NaN,2016,-1.0,7/29/2016,Week 6
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,Intro,NaN,2016,-1.0,7/21/2016,Week 5
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,Intro,NaN,2016,-1.0,7/21/2016,Week 5
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,Intro,NaN,2016,-1.0,7/21/2016,Week 5
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,Apps,NaN,2016,-1.0,7/29/2016,Week 6
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,Apps,NaN,2016,-1.0,7/29/2016,Week 6
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,Apps,NaN,2016,0.0,7/29/2016,Week 6
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,Apps,NaN,2016,-1.0,7/29/2016,Week 6
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,Apps,NaN,2016,-1.0,7/29/2016,Week 6
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,Apps,NaN,2016,-1.0,7/29/2016,Week 6
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,Apps,NaN,2016,-1.0,7/29/2016,Week 6
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,Apps,NaN,2016,-1.0,7/29/2016,Week 6
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,Apps,NaN,2016,-1.0,7/29/2016,Week 6
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,Apps,NaN,2016,-1.0,7/29/2016,Week 6
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,Apps,NaN,2016,-1.0,7/29/2016,Week 6
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,Apps,NaN,2016,-1.0,7/29/2016,Week 6
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,Apps,NaN,2016,-1.0,7/29/2016,Week 6
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,Games,NaN,2016,-1.0,7/29/2016,Week 6
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,Games,NaN,2016,-1.0,7/29/2016,Week 6
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,Games,NaN,2016,-1.0,7/29/2016,Week 6
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,Games,NaN,2016,-1.0,7/29/2016,Week 6
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,Games,NaN,2016,-1.0,7/29/2016,Week 6
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,Games,NaN,2016,0.0,7/29/2016,Week 6
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,Games,NaN,2016,0.0,7/29/2016,Week 6
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,Games,NaN,2016,0.0,7/29/2016,Week 6
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,Games,NaN,2016,-1.0,7/29/2016,Week 6
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,Games,NaN,2016,0.0,7/29/2016,Week 6
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,Games,NaN,2016,-1.0,7/29/2016,Week 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1426,1473.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1441,1488.0,New York City,0.0,44,Just right,7,NaN,Games,Week 7,2017,1.0,NaN,NaN
1442,1489.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1443,1490.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,2017,-1.0,NaN,NaN
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1447,1494.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1448,1495.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1449,1496.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,2017,1.0,NaN,NaN

In [365]:
df['Week'] = np.where(df['Week'].isna(), df["Weeks"], df['Week'])

In [366]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,Year,Pacing NPS,Date,Weeks
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,Intro,Week 6,2016,-1.0,7/29/2016,Week 6
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,Intro,Week 6,2016,-1.0,7/29/2016,Week 6
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,Intro,Week 6,2016,-1.0,7/29/2016,Week 6
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,Intro,Week 5,2016,-1.0,7/21/2016,Week 5
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,Intro,Week 5,2016,-1.0,7/21/2016,Week 5
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,Intro,Week 5,2016,-1.0,7/21/2016,Week 5
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,Apps,Week 6,2016,0.0,7/29/2016,Week 6
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,Games,Week 6,2016,-1.0,7/29/2016,Week 6
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,Games,Week 6,2016,-1.0,7/29/2016,Week 6
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,Games,Week 6,2016,-1.0,7/29/2016,Week 6
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,Games,Week 6,2016,-1.0,7/29/2016,Week 6
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,Games,Week 6,2016,-1.0,7/29/2016,Week 6
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,Games,Week 6,2016,0.0,7/29/2016,Week 6
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,Games,Week 6,2016,0.0,7/29/2016,Week 6
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,Games,Week 6,2016,0.0,7/29/2016,Week 6
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,Games,Week 6,2016,-1.0,7/29/2016,Week 6
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,Games,Week 6,2016,0.0,7/29/2016,Week 6
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,Games,Week 6,2016,-1.0,7/29/2016,Week 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1426,1473.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1441,1488.0,New York City,0.0,44,Just right,7,NaN,Games,Week 7,2017,1.0,NaN,NaN
1442,1489.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1443,1490.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,2017,-1.0,NaN,NaN
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1447,1494.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1448,1495.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1449,1496.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,2017,1.0,NaN,NaN

In [367]:
df = df.drop(['Weeks'], axis=1)

In [368]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Timestamp,Track,Week,Year,Pacing NPS,Date
0,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:19:08,Intro,Week 6,2016,-1.0,7/29/2016
1,NaN,Hong Kong,0.0,22,3,4,7/29/2016 0:22:41,Intro,Week 6,2016,-1.0,7/29/2016
2,NaN,Hong Kong,1.0,22,3,5,7/29/2016 0:23:17,Intro,Week 6,2016,-1.0,7/29/2016
3,NaN,Hong Kong,0.0,22,3,4,7/21/2016 21:57:59,Intro,Week 5,2016,-1.0,7/21/2016
4,NaN,Hong Kong,1.0,22,3,5,7/21/2016 21:59:37,Intro,Week 5,2016,-1.0,7/21/2016
5,NaN,Hong Kong,1.0,22,3,5,7/21/2016 22:01:53,Intro,Week 5,2016,-1.0,7/21/2016
0,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:46:28,Apps,Week 6,2016,-1.0,7/29/2016
1,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 13:52:16,Apps,Week 6,2016,-1.0,7/29/2016
2,NaN,Sunnyvale,1.0,22,4,5,7/29/2016 16:10:41,Apps,Week 6,2016,0.0,7/29/2016
3,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:10:27,Apps,Week 6,2016,-1.0,7/29/2016
4,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 14:18:21,Apps,Week 6,2016,-1.0,7/29/2016
5,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 15:25:45,Apps,Week 6,2016,-1.0,7/29/2016
6,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 16:41:48,Apps,Week 6,2016,-1.0,7/29/2016
7,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:26:20,Apps,Week 6,2016,-1.0,7/29/2016
8,NaN,Sunnyvale,-1.0,22,2,2,7/29/2016 13:20:33,Apps,Week 6,2016,-1.0,7/29/2016
9,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:24:45,Apps,Week 6,2016,-1.0,7/29/2016
10,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:47:43,Apps,Week 6,2016,-1.0,7/29/2016
11,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:31:26,Apps,Week 6,2016,-1.0,7/29/2016
12,NaN,Sunnyvale,1.0,22,2,5,7/29/2016 15:28:06,Apps,Week 6,2016,-1.0,7/29/2016
13,NaN,Sunnyvale,-1.0,22,3,3,7/29/2016 13:44:38,Games,Week 6,2016,-1.0,7/29/2016
14,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:36:04,Games,Week 6,2016,-1.0,7/29/2016
15,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 13:26:06,Games,Week 6,2016,-1.0,7/29/2016
16,NaN,Sunnyvale,1.0,22,3,5,7/29/2016 15:02:27,Games,Week 6,2016,-1.0,7/29/2016
17,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:15:48,Games,Week 6,2016,-1.0,7/29/2016
18,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:35:17,Games,Week 6,2016,0.0,7/29/2016
19,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 13:27:19,Games,Week 6,2016,0.0,7/29/2016
20,NaN,Sunnyvale,-1.0,22,4,3,7/29/2016 14:40:29,Games,Week 6,2016,0.0,7/29/2016
21,NaN,Sunnyvale,0.0,22,3,4,7/29/2016 15:06:33,Games,Week 6,2016,-1.0,7/29/2016
22,NaN,Sunnyvale,0.0,22,4,4,7/29/2016 15:17:23,Games,Week 6,2016,0.0,7/29/2016
23,NaN,Sunnyvale,0.0,22,2,4,7/29/2016 13:23:48,Games,Week 6,2016,-1.0,7/29/2016
...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN
1424,1471.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN
1425,1472.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN
1426,1473.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN
1427,1474.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN
1428,1475.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN
1429,1476.0,New York City,0.0,44,A little too fast,8,NaN,Apps,Week 7,2017,-1.0,NaN
1430,1477.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN
1431,1478.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1432,1479.0,New York City,1.0,44,Just right,9,NaN,Games,Week 7,2017,1.0,NaN
1433,1480.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN
1434,1481.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1435,1482.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN
1436,1483.0,New York City,0.0,44,A little too fast,7,NaN,Apps,Week 7,2017,-1.0,NaN
1437,1484.0,New York City,0.0,44,Way too fast,7,NaN,Apps,Week 7,2017,-1.0,NaN
1438,1485.0,New York City,0.0,44,Just right,7,NaN,Apps,Week 7,2017,1.0,NaN
1439,1486.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN
1440,1487.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN
1441,1488.0,New York City,0.0,44,Just right,7,NaN,Games,Week 7,2017,1.0,NaN
1442,1489.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1443,1490.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1444,1491.0,New York City,1.0,44,A little too fast,9,NaN,Games,Week 7,2017,-1.0,NaN
1445,1492.0,New York City,1.0,44,Just right,9,NaN,Apps,Week 7,2017,1.0,NaN
1446,1493.0,New York City,-1.0,44,Just right,3,NaN,Apps,Week 7,2017,1.0,NaN
1447,1494.0,New York City,1.0,44,Just right,10,NaN,Games,Week 7,2017,1.0,NaN
1448,1495.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1449,1496.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 7,2017,1.0,NaN
1450,1497.0,New York City,1.0,44,Just right,10,NaN,Apps,Week 7,2017,1.0,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,1,NaN,Apps,Week 7,2017,-1.0,NaN
1452,1499.0,New York City,0.0,44,Just right,8,NaN,Apps,Week 5,2017,1.0,NaN

In [369]:
df = df.drop(['Timestamp'], axis=1)

In [370]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS,Date
0,NaN,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0,7/29/2016
1,NaN,Hong Kong,0.0,22,3,4,Intro,Week 6,2016,-1.0,7/29/2016
2,NaN,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0,7/29/2016
3,NaN,Hong Kong,0.0,22,3,4,Intro,Week 5,2016,-1.0,7/21/2016
4,NaN,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0,7/21/2016
5,NaN,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0,7/21/2016
0,NaN,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0,7/29/2016
1,NaN,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0,7/29/2016
2,NaN,Sunnyvale,1.0,22,4,5,Apps,Week 6,2016,0.0,7/29/2016
3,NaN,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0,7/29/2016
4,NaN,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0,7/29/2016
5,NaN,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0,7/29/2016
6,NaN,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0,7/29/2016
7,NaN,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0,7/29/2016
8,NaN,Sunnyvale,-1.0,22,2,2,Apps,Week 6,2016,-1.0,7/29/2016
9,NaN,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0,7/29/2016
10,NaN,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0,7/29/2016
11,NaN,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0,7/29/2016
12,NaN,Sunnyvale,1.0,22,2,5,Apps,Week 6,2016,-1.0,7/29/2016
13,NaN,Sunnyvale,-1.0,22,3,3,Games,Week 6,2016,-1.0,7/29/2016
14,NaN,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0,7/29/2016
15,NaN,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0,7/29/2016
16,NaN,Sunnyvale,1.0,22,3,5,Games,Week 6,2016,-1.0,7/29/2016
17,NaN,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0,7/29/2016
18,NaN,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0,7/29/2016
19,NaN,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0,7/29/2016
20,NaN,Sunnyvale,-1.0,22,4,3,Games,Week 6,2016,0.0,7/29/2016
21,NaN,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0,7/29/2016
22,NaN,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0,7/29/2016
23,NaN,Sunnyvale,0.0,22,2,4,Games,Week 6,2016,-1.0,7/29/2016
...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0,NaN
1424,1471.0,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0,NaN
1425,1472.0,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0,NaN
1426,1473.0,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0,NaN
1427,1474.0,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0,NaN
1428,1475.0,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0,NaN
1429,1476.0,New York City,0.0,44,A little too fast,8,Apps,Week 7,2017,-1.0,NaN
1430,1477.0,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0,NaN
1431,1478.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0,NaN
1432,1479.0,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0,NaN
1433,1480.0,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0,NaN
1434,1481.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0,NaN
1435,1482.0,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0,NaN
1436,1483.0,New York City,0.0,44,A little too fast,7,Apps,Week 7,2017,-1.0,NaN
1437,1484.0,New York City,0.0,44,Way too fast,7,Apps,Week 7,2017,-1.0,NaN
1438,1485.0,New York City,0.0,44,Just right,7,Apps,Week 7,2017,1.0,NaN
1439,1486.0,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0,NaN
1440,1487.0,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0,NaN
1441,1488.0,New York City,0.0,44,Just right,7,Games,Week 7,2017,1.0,NaN
1442,1489.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0,NaN
1443,1490.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0,NaN
1444,1491.0,New York City,1.0,44,A little too fast,9,Games,Week 7,2017,-1.0,NaN
1445,1492.0,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0,NaN
1446,1493.0,New York City,-1.0,44,Just right,3,Apps,Week 7,2017,1.0,NaN
1447,1494.0,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0,NaN
1448,1495.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0,NaN
1449,1496.0,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0,NaN
1450,1497.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,1,Apps,Week 7,2017,-1.0,NaN
1452,1499.0,New York City,0.0,44,Just right,8,Apps,Week 5,2017,1.0,NaN

In [371]:
df = df.drop(['Date'], axis=1)

In [372]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
0,NaN,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
1,NaN,Hong Kong,0.0,22,3,4,Intro,Week 6,2016,-1.0
2,NaN,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
3,NaN,Hong Kong,0.0,22,3,4,Intro,Week 5,2016,-1.0
4,NaN,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
5,NaN,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
0,NaN,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
1,NaN,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
2,NaN,Sunnyvale,1.0,22,4,5,Apps,Week 6,2016,0.0
3,NaN,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
4,NaN,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
5,NaN,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
6,NaN,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
7,NaN,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
8,NaN,Sunnyvale,-1.0,22,2,2,Apps,Week 6,2016,-1.0
9,NaN,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
10,NaN,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
11,NaN,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
12,NaN,Sunnyvale,1.0,22,2,5,Apps,Week 6,2016,-1.0
13,NaN,Sunnyvale,-1.0,22,3,3,Games,Week 6,2016,-1.0
14,NaN,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
15,NaN,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
16,NaN,Sunnyvale,1.0,22,3,5,Games,Week 6,2016,-1.0
17,NaN,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
18,NaN,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
19,NaN,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
20,NaN,Sunnyvale,-1.0,22,4,3,Games,Week 6,2016,0.0
21,NaN,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
22,NaN,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
23,NaN,Sunnyvale,0.0,22,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1424,1471.0,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1425,1472.0,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1426,1473.0,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1427,1474.0,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1428,1475.0,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1429,1476.0,New York City,0.0,44,A little too fast,8,Apps,Week 7,2017,-1.0
1430,1477.0,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1431,1478.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1432,1479.0,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1433,1480.0,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1434,1481.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1435,1482.0,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1436,1483.0,New York City,0.0,44,A little too fast,7,Apps,Week 7,2017,-1.0
1437,1484.0,New York City,0.0,44,Way too fast,7,Apps,Week 7,2017,-1.0
1438,1485.0,New York City,0.0,44,Just right,7,Apps,Week 7,2017,1.0
1439,1486.0,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1440,1487.0,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1441,1488.0,New York City,0.0,44,Just right,7,Games,Week 7,2017,1.0
1442,1489.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1443,1490.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1444,1491.0,New York City,1.0,44,A little too fast,9,Games,Week 7,2017,-1.0
1445,1492.0,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1446,1493.0,New York City,-1.0,44,Just right,3,Apps,Week 7,2017,1.0
1447,1494.0,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1448,1495.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1449,1496.0,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1450,1497.0,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1451,1498.0,New York City,-1.0,44,A little too slow,1,Apps,Week 7,2017,-1.0
1452,1499.0,New York City,0.0,44,Just right,8,Apps,Week 5,2017,1.0

In [373]:
df = df.drop(['ID'], axis=1)

In [374]:
df

,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,8,Apps,Week 5,2017,1.0