In [41]:
import pandas as pd

df = pd.DataFrame(data= {'name':['john', 'mary', 'peter','jeff','bill', 'lisa'], 'age':[23, 78, 22, 19, 45, 33], 
                         'state': ['iowa', 'dc', 'california', 'texas', 'washington', 'dc'], 'num_children': [2, 2, 0, 1, 2, 1],
                        'num_pets' : [0, 4, 0, 5, 0, 0]})

In [3]:
df.columns

Index(['name', 'age', 'state', 'num_children', 'num_pets'], dtype='object')

In [6]:
df[df.age > 30]

   name  age       state  num_children  num_pets
1  mary   78          dc             2         4
4  bill   45  washington             2         0
5  lisa   33          dc             1         0

In [7]:
df[df.num_pets> df.Num_children]

AttributeError: 'DataFrame' object has no attribute 'Num_children'

In [8]:
df[df.num_pets> df.num_children]

   name  age  state  num_children  num_pets
1  mary   78     dc             2         4
3  jeff   19  texas             1         5

In [9]:
df[df.num_pets&& df.age >40]

SyntaxError: invalid syntax (<ipython-input-9-8b23561386eb>, line 1)

In [10]:
df[df.num_pets && df.age >40]

SyntaxError: invalid syntax (<ipython-input-10-263912fe4cce>, line 1)

In [11]:
df[df.num_pets>0 && df.age >40]

SyntaxError: invalid syntax (<ipython-input-11-98e6ed7ba01b>, line 1)

In [12]:
df[df.num_pets>0 and df.age >40]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [13]:
df[df.num_pets & df.age >40]

Empty DataFrame
Columns: [name, age, state, num_children, num_pets]
Index: []

In [14]:
df[[df.num_pets]>0 & df.age >40]

ValueError: Length of passed values is 1, index implies 6

In [15]:
df[(df.num_pets)>0 & df.age >40]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [16]:
df[(df.num_pets>0) & (df.age >40)]

   name  age state  num_children  num_pets
1  mary   78    dc             2         4

In [17]:
df[(df.num_pets>0) |(df.age >40)]

   name  age       state  num_children  num_pets
1  mary   78          dc             2         4
3  jeff   19       texas             1         5
4  bill   45  washington             2         0

In [18]:
df.drop(["age", "num_children"])

KeyError: "['age' 'num_children'] not found in axis"

In [19]:
df.drop(["age", "num_children"], apply)

NameError: name 'apply' is not defined

In [20]:
df.drop(["age", "num_children"], axis=)

SyntaxError: invalid syntax (<ipython-input-20-cdffcb5da174>, line 1)

In [21]:
df.drop(["age", "num_children"], axis=1)

    name       state  num_pets
0   john        iowa         0
1   mary          dc         4
2  peter  california         0
3   jeff       texas         5
4   bill  washington         0
5   lisa          dc         0

In [22]:
df = df.drop(["age", "num_children"], axis=1)

In [23]:
df

    name       state  num_pets
0   john        iowa         0
1   mary          dc         4
2  peter  california         0
3   jeff       texas         5
4   bill  washington         0
5   lisa          dc         0

In [24]:
df = df.drop([2:3], axis=)

SyntaxError: invalid syntax (<ipython-input-24-d77aa235a33b>, line 1)

In [25]:
df.drop([2:], axis=)

SyntaxError: invalid syntax (<ipython-input-25-1680e78e1d5b>, line 1)

In [26]:
df.drop([2:], axis=0)

SyntaxError: invalid syntax (<ipython-input-26-7a396217acae>, line 1)

In [27]:
df.mean()

num_pets    1.5
dtype: float64

In [29]:
df.age.mean(), axis=0

SyntaxError: can't assign to function call (<ipython-input-29-eaac5dcd05e8>, line 1)

In [30]:
df.mean(,axis=0)

SyntaxError: invalid syntax (<ipython-input-30-2123ed8e1ea5>, line 1)

In [31]:
df[['age']]

KeyError: "['age'] not in index"

In [34]:
df[["age"]]

   age
0   23
1   78
2   22
3   19
4   45
5   33

In [35]:
type(df[["age"]])

pandas.core.frame.DataFrame

In [36]:
type(df["age"])

pandas.core.series.Series

In [37]:
new Df = df

SyntaxError: invalid syntax (<ipython-input-37-5fbad73c39b6>, line 1)

In [38]:
Df = df

In [39]:
Df["age"] = Df["age"]*2

In [40]:
Df

    name  age       state  num_children  num_pets
0   john   46        iowa             2         0
1   mary  156          dc             2         4
2  peter   44  california             0         0
3   jeff   38       texas             1         5
4   bill   90  washington             2         0
5   lisa   66          dc             1         0

In [42]:
df

    name  age       state  num_children  num_pets
0   john   23        iowa             2         0
1   mary   78          dc             2         4
2  peter   22  california             0         0
3   jeff   19       texas             1         5
4   bill   45  washington             2         0
5   lisa   33          dc             1         0

In [43]:
dF = df.copy()

In [44]:
dF

    name  age       state  num_children  num_pets
0   john   23        iowa             2         0
1   mary   78          dc             2         4
2  peter   22  california             0         0
3   jeff   19       texas             1         5
4   bill   45  washington             2         0
5   lisa   33          dc             1         0

In [45]:
dF["age"] = dF["age"]*2

In [46]:
dF

    name  age       state  num_children  num_pets
0   john   46        iowa             2         0
1   mary  156          dc             2         4
2  peter   44  california             0         0
3   jeff   38       texas             1         5
4   bill   90  washington             2         0
5   lisa   66          dc             1         0

In [47]:
df

    name  age       state  num_children  num_pets
0   john   23        iowa             2         0
1   mary   78          dc             2         4
2  peter   22  california             0         0
3   jeff   19       texas             1         5
4   bill   45  washington             2         0
5   lisa   33          dc             1         0

In [48]:
df.sort_values("age",)

    name  age       state  num_children  num_pets
3   jeff   19       texas             1         5
2  peter   22  california             0         0
0   john   23        iowa             2         0
5   lisa   33          dc             1         0
4   bill   45  washington             2         0
1   mary   78          dc             2         4

In [49]:
df.sort_values("name" == "j")

KeyError: False

In [50]:
df.sort_values("name" == ["j":])

SyntaxError: invalid syntax (<ipython-input-50-4e225ba768a4>, line 1)

In [51]:
df.sort_values("name" = ["j":])

SyntaxError: invalid syntax (<ipython-input-51-52a0ab4c689f>, line 1)

In [52]:
df.name.startsWith(j)

AttributeError: 'Series' object has no attribute 'startsWith'

In [53]:
df.name.startswith("j")

AttributeError: 'Series' object has no attribute 'startswith'

In [54]:
df.names.startswith("j")

AttributeError: 'DataFrame' object has no attribute 'names'

In [55]:
df[df.names.startswith("j")]

AttributeError: 'DataFrame' object has no attribute 'names'

In [56]:
df[df.names.str.startswith("j")]

AttributeError: 'DataFrame' object has no attribute 'names'

In [57]:
df[df.name.str.startswith("j")]

   name  age  state  num_children  num_pets
0  john   23   iowa             2         0
3  jeff   19  texas             1         5