In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
git add .

SyntaxError: invalid syntax (<ipython-input-7-3d6cfb4a5e4d>, line 1)

In [13]:
import numpy as np
from scipy import stats

In [14]:
DATASET2017 = "datasets/NPS/surveys/2017/survey1.csv"

In [15]:
df2017 = pd.read_csv(DATASET2017)

In [18]:
df2017.count()

ID                 1453
Location           1406
Track              1406
Week               1453
Rating (Num)       1453
Schedule Pacing    1450
dtype: int64

In [19]:
df2017["Rating (Num)"]

0        3
1        4
2        4
3        4
4        4
5        5
6        5
7        5
8        5
9        5
10       5
11       5
12       5
13       5
14       5
15       5
16       5
17       5
18       5
19       5
20       6
21       6
22       6
23       6
24       6
25       6
26       6
27       6
28       6
29       6
        ..
1423    10
1424     8
1425     9
1426    10
1427     9
1428     9
1429     8
1430    10
1431    10
1432     9
1433     9
1434    10
1435     8
1436     7
1437     7
1438     7
1439     9
1440     8
1441     7
1442    10
1443    10
1444     9
1445     9
1446     3
1447    10
1448    10
1449     8
1450    10
1451     1
1452     8
Name: Rating (Num), Length: 1453, dtype: object

In [20]:
df2017[NaN]

NameError: name 'NaN' is not defined

In [ ]:
df

In [ ]:
df["Year"] = 2017

In [ ]:
df

In [21]:
df2017["Rating (Num)"].dropna().values

array(['3', '4', '4', ..., '10', '1', '8'], dtype=object)

In [ ]:
df

In [ ]:
df

In [24]:
df2017['Score'] = df2017["Rating (Num)"]

In [ ]:
df

In [ ]:
df.drop(['Rating (Num)'], axis=1)

In [ ]:
df["Score"].nunique

In [ ]:
df["Score"].unique()

In [ ]:
df[(df["Score"] == '#ERROR!')]

In [25]:
df_backup = df2017

In [ ]:
df.drop(1310)

In [ ]:
df[(df["Score"] == '#ERROR!')]

In [ ]:
df = df_backup

In [ ]:
df

In [ ]:
df.drop([1310, 1322,1411])

In [26]:
df2017_backup2 = df2017[(df2017["Score"] != '#ERROR!')]

In [27]:
df2017_backup2

,ID,Location,Track,Week,Rating (Num),Schedule Pacing,Score
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right,3
1,36,Los Angeles,Apps,Week 1,4,A little too fast,4
2,117,San Francisco,Games,Week 1,4,Way too slow,4
3,253,NaN,NaN,Week 2,4,A little too fast,4
4,350,New York City,"Apps, Explorer",Week 1,4,Just right,4
5,23,Redwood City,Apps,Week 1,5,Just right,5
6,28,Los Angeles,Apps,Week 7,5,Just right,5
7,65,San Francisco,Apps,Week 1,5,A little too slow,5
8,101,Santa Clara,Apps,Week 1,5,A little too slow,5
9,124,Santa Clara,Apps,Week 1,5,Just right,5
10,157,Redwood City,Apps,Week 2,5,Just right,5
11,170,Oakland,Apps,Week 2,5,Just right,5
12,255,San Francisco,Apps,Week 2,5,Way too fast,5
13,289,Washington DC,Apps,Week 1,5,Just right,5
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow,5
15,307,NaN,NaN,Week 3,5,A little too slow,5
16,319,Redwood City,Apps,Week 3,5,Just right,5
17,336,New York City,Apps,Week 1,5,A little too slow,5
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right,5
19,482,Santa Clara,Apps,Week 3,5,Just right,5
20,37,Los Angeles,Games,Week 1,6,Just right,6
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right,6
22,45,Chicago,Apps,Week 1,6,A little too slow,6
23,47,Chicago,Apps,Week 1,6,A little too slow,6
24,77,San Francisco,Apps,Week 1,6,A little too fast,6
25,78,San Francisco,Apps,Week 1,6,A little too fast,6
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right,6
27,193,Santa Clara,Apps,Week 2,6,Just right,6
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right,6
29,254,San Francisco,Apps,Week 2,6,Way too fast,6
...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right,10
1424,1471,New York City,Apps,Week 7,8,Just right,8
1425,1472,New York City,Games,Week 7,9,Just right,9
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right,10
1427,1474,New York City,Games,Week 7,9,Just right,9
1428,1475,New York City,Apps,Week 7,9,Just right,9
1429,1476,New York City,Apps,Week 7,8,A little too fast,8
1430,1477,New York City,Games,Week 7,10,Just right,10
1431,1478,New York City,Apps,Week 7,10,Just right,10
1432,1479,New York City,Games,Week 7,9,Just right,9
1433,1480,New York City,Apps,Week 7,9,Just right,9
1434,1481,New York City,Apps,Week 7,10,Just right,10
1435,1482,New York City,Apps,Week 7,8,Just right,8
1436,1483,New York City,Apps,Week 7,7,A little too fast,7
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast,7
1438,1485,New York City,Apps,Week 7,7,Just right,7
1439,1486,New York City,Apps,Week 7,9,Just right,9
1440,1487,New York City,Apps,Week 7,8,Just right,8
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right,7
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right,10
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right,10
1444,1491,New York City,Games,Week 7,9,A little too fast,9
1445,1492,New York City,Apps,Week 7,9,Just right,9
1446,1493,New York City,Apps,Week 7,3,Just right,3
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right,10
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right,10
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right,8
1450,1497,New York City,Apps,Week 7,10,Just right,10
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow,1
1452,1499,New York City,Apps,Week 5,8,Just right,8

In [ ]:
df_backup2["Score"].unique()

In [28]:
df2017_backup2 = df2017_backup2.drop(['Rating (Num)'], axis=1)

In [ ]:
df_backup2

In [ ]:
df_backup2.describe

In [29]:
df = df2017_backup2

In [ ]:
df.shape

In [ ]:
df["Score"].unique()

In [ ]:
df[(df["Score"] == '10')]

In [30]:
df["NPS"] = df['Score'].map({'10': 1, '9': 1, '8': 0, '7': 0, '6': -1, '5': -1, '4': -1, '3': -1, '2': -1, '1': -1})

In [ ]:
df

In [31]:
NPS_count = df[(df["NPS"] == 1.0)].count() - df[(df["NPS"] == -1.0)].count() / df.count()

In [32]:
NPS_count

ID                 759.917931
Location           738.920341
Track              738.920341
Week               759.917931
Schedule Pacing    759.917931
Score              759.917931
NPS                759.917818
dtype: float64

In [ ]:
df.count()

In [ ]:
NPS_count/df.count()

In [ ]:
NPS_seventeen_NPS_score = (df[(df["NPS"] == 1.0)].count() - df[(df["NPS"] == -1.0)].count()) / df.count()

In [33]:
NPS_seventeen_NPS_score = (df[(df["NPS"] == 1.0)].count() - df[(df["NPS"] == -1.0)].count()) / df.count()

In [34]:
NPS_seventeen_NPS_score * 100

ID                 44.206897
Location           44.594595
Track              44.594595
Week               44.206897
Schedule Pacing    44.206897
Score              44.206897
NPS                44.267956
dtype: float64

In [ ]:
NPS_seventeen_NPS_score["NPS"]

In [35]:
NPS_seventeen_NPS_score = int(NPS_seventeen_NPS_score["NPS"]*100)

In [36]:
NPS_seventeen_NPS_score

44

In [37]:
df["NPS_2017_score"] = NPS_seventeen_NPS_score

In [ ]:
df

In [38]:
df_2017 = df #2017 FINAL

In [39]:
df_2017["Year"] = 2017

In [46]:
DATASET_1_LA = "datasets/NPS/surveys/2016_renamed/2016Week1-LA.csv"

In [48]:
df_1_LA = pd.read_csv(DATASET_1_LA)

In [49]:
df_1_LA

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

In [ ]:
df_1_LA = df_1_LA.rename(index=str, columns={"How would you rate your overall satisfaction with the Summer Academy this week?": "Score", "How well are the tutorials paced?": "Schedule Pacing"})

In [ ]:
df_1_LA["Location"] = "Los Angeles"

In [ ]:
df_1_LA

In [ ]:
df_1_LA["Year"] = 2016

In [ ]:
df_1_LA #final for 2016 week 1 LA

In [50]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

NameError: name 'glob' is not defined

In [51]:
import glob as glob

In [52]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

NameError: name 'os' is not defined

In [53]:
import os

In [56]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,5,7/29/2016 0:19:08,NaN,NaN
1,NaN,3,4,7/29/2016 0:22:41,NaN,NaN
2,NaN,3,5,7/29/2016 0:23:17,NaN,NaN
3,NaN,3,4,7/29/2016 13:46:28,NaN,Apps
4,NaN,3,5,7/29/2016 13:52:16,NaN,Apps

In [57]:
df

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,5,7/29/2016 0:19:08,NaN,NaN
1,NaN,3,4,7/29/2016 0:22:41,NaN,NaN
2,NaN,3,5,7/29/2016 0:23:17,NaN,NaN
3,NaN,3,4,7/29/2016 13:46:28,NaN,Apps
4,NaN,3,5,7/29/2016 13:52:16,NaN,Apps
5,NaN,4,5,7/29/2016 16:10:41,NaN,Apps
6,NaN,3,4,7/29/2016 15:10:27,NaN,Apps
7,NaN,3,3,7/29/2016 14:18:21,NaN,Apps
8,NaN,3,3,7/29/2016 15:25:45,NaN,Apps
9,NaN,3,4,7/29/2016 16:41:48,NaN,Apps
10,NaN,3,5,7/29/2016 15:26:20,NaN,Apps
11,NaN,2,2,7/29/2016 13:20:33,NaN,Apps
12,NaN,3,4,7/29/2016 13:24:45,NaN,Apps
13,NaN,3,3,7/29/2016 13:47:43,NaN,Apps
14,NaN,3,5,7/29/2016 15:31:26,NaN,Apps
15,NaN,2,5,7/29/2016 15:28:06,NaN,Apps
16,NaN,3,3,7/29/2016 13:44:38,NaN,Games
17,NaN,3,4,7/29/2016 15:36:04,NaN,Games
18,NaN,3,4,7/29/2016 13:26:06,NaN,Games
19,NaN,3,5,7/29/2016 15:02:27,NaN,Games
20,NaN,3,4,7/29/2016 15:15:48,NaN,Games
21,NaN,4,4,7/29/2016 13:35:17,NaN,Games
22,NaN,4,4,7/29/2016 13:27:19,NaN,Games
23,NaN,4,3,7/29/2016 14:40:29,NaN,Games
24,NaN,3,4,7/29/2016 15:06:33,NaN,Games
25,NaN,4,4,7/29/2016 15:17:23,NaN,Games
26,NaN,2,4,7/29/2016 13:23:48,NaN,Games
27,NaN,3,5,7/29/2016 13:17:25,NaN,Intro
28,NaN,2,5,7/29/2016 13:19:14,NaN,Intro
29,NaN,3,5,7/29/2016 13:17:38,NaN,Intro
...,...,...,...,...,...,...
897,NaN,5,4,7/8/2016 13:51:14,NaN,Games
898,NaN,4,4,7/8/2016 12:41:10,NaN,Intro
899,NaN,4,4,7/8/2016 12:41:13,NaN,Intro
900,NaN,3,4,7/8/2016 12:41:51,NaN,Intro
901,NaN,3,4,7/8/2016 12:43:35,NaN,Intro
902,NaN,3,4,7/8/2016 12:45:11,NaN,Intro
903,NaN,3,4,7/8/2016 12:47:39,NaN,Intro
904,NaN,4,4,7/8/2016 13:01:58,NaN,Intro
905,NaN,4,4,7/10/2016 23:44:41,NaN,Games
906,NaN,#REF!,#REF!,NaN,NaN,Average:
907,NaN,3,5,7/8/2016 16:41:06,NaN,Apps
908,NaN,3,5,7/8/2016 13:07:39,NaN,Games
909,NaN,3,5,7/8/2016 12:45:02,NaN,Intro
910,NaN,3,3,8/5/2016 12:34:16,NaN,Apps
911,NaN,3,5,8/5/2016 12:35:50,NaN,Apps
912,NaN,3,5,8/5/2016 12:36:31,NaN,Games
913,NaN,3,4,8/5/2016 12:36:55,NaN,Games
914,NaN,3,4,8/5/2016 12:37:12,NaN,Apps
915,NaN,4,4,8/5/2016 12:37:15,NaN,Intro
916,NaN,3,5,8/5/2016 12:39:02,NaN,Apps
917,NaN,4,5,8/5/2016 12:39:13,NaN,Games
918,NaN,3,4,8/5/2016 12:43:00,NaN,Games
919,NaN,3,4,8/5/2016 12:43:35,NaN,Apps
920,NaN,3,5,8/5/2016 12:45:05,NaN,Intro
921,NaN,3,3,8/5/2016 12:45:58,NaN,Games
922,NaN,4,5,8/5/2016 12:46:09,NaN,Games
923,NaN,3,4,8/5/2016 13:04:11,NaN,Apps
924,NaN,3,4,8/5/2016 13:13:02,NaN,Intro
925,NaN,3,4,8/5/2016 13:37:41,NaN,Apps
926,NaN,4,5,8/5/2016 13:39:55,NaN,Intro

In [58]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/HK', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,NaN,3.0,5,7/29/2016 0:19:08
1,NaN,3.0,4,7/29/2016 0:22:41
2,NaN,3.0,5,7/29/2016 0:23:17
3,3.0,NaN,4,7/21/2016 21:57:59
4,3.0,NaN,5,7/21/2016 21:59:37

In [59]:
df['Location'] = 'Hong Kong'

In [60]:
df_HK = df

In [61]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/LA', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,NaN,2.0,4,6/30/2016 14:09:14,NaN
1,NaN,3.0,3,6/30/2016 22:50:08,NaN
2,NaN,4.0,4,7/1/2016 9:34:16,NaN
3,NaN,3.0,4,7/1/2016 10:42:17,NaN
4,NaN,3.0,4,7/1/2016 11:25:53,NaN

In [62]:
df['Location'] = 'Los Angeles'

In [63]:
df_LA = df

In [64]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/NY', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,NaN,2.0,3,7/1/2016 6:41:31,Apps
1,NaN,4.0,3,7/1/2016 9:27:32,Apps
2,NaN,5.0,3,7/1/2016 6:46:34,Games
3,NaN,3.0,3,7/1/2016 6:47:56,Games
4,NaN,3.0,4,7/1/2016 6:33:45,Apps

In [65]:
df['Location'] = 'New York'

In [66]:
df_NY = df

In [67]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/SF', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,What track are you in?
0,NaN,3.0,5,7/15/2016 15:26:38,Apps
1,NaN,3.0,4,7/15/2016 15:31:37,Apps
2,NaN,4.0,4,7/15/2016 15:32:59,Apps
3,NaN,4.0,3,7/15/2016 16:18:00,Apps
4,NaN,4.0,4,7/15/2016 16:19:09,Apps

In [68]:
df['Location'] = 'San Francisco'

In [69]:
df_SF = df

In [70]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/SG', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,NaN,3.0,4,7/15/2016 2:45:00
1,NaN,4.0,4,7/15/2016 2:45:11
2,NaN,3.0,3,7/15/2016 2:48:37
3,NaN,3.0,4,7/15/2016 2:53:18
4,NaN,4.0,3,7/15/2016 2:56:09

In [71]:
df['Location'] = 'Singapore'

In [72]:
df_SG = df

In [73]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/SV', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,4,7/29/2016 13:46:28,NaN,Apps
1,NaN,3,5,7/29/2016 13:52:16,NaN,Apps
2,NaN,4,5,7/29/2016 16:10:41,NaN,Apps
3,NaN,3,4,7/29/2016 15:10:27,NaN,Apps
4,NaN,3,3,7/29/2016 14:18:21,NaN,Apps

In [74]:
df['Location'] = 'Sunnyvale'

In [75]:
df_SV = df

In [76]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/Taipei', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,3,5,7/29/2016 1:07:23
1,4,5,7/29/2016 1:08:46
2,3,5,7/29/2016 1:11:16
3,3,5,7/29/2016 1:13:23
4,3,4,7/29/2016 1:13:56

In [77]:
df['Location'] = 'Taipei'

In [78]:
df_Taipei = df

In [79]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/Tokyo', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,4,3,7/31/2016 1:04:57
1,3,4,7/31/2016 3:38:14
2,1,4,7/31/2016 3:59:43
3,2,4,7/31/2016 4:19:51
4,4,5,7/31/2016 5:14:20

In [80]:
df['Location'] = 'Tokyo'

In [81]:
df_Tokyo = df

In [82]:
df_Taipei

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Location
0,3,5,7/29/2016 1:07:23,Taipei
1,4,5,7/29/2016 1:08:46,Taipei
2,3,5,7/29/2016 1:11:16,Taipei
3,3,5,7/29/2016 1:13:23,Taipei
4,3,4,7/29/2016 1:13:56,Taipei
5,3,4,7/29/2016 1:17:27,Taipei
6,4,3,7/29/2016 1:22:25,Taipei
7,3,3,7/29/2016 1:27:55,Taipei
8,2,5,7/29/2016 1:28:54,Taipei
9,4,4,7/29/2016 1:29:23,Taipei
10,4,5,7/29/2016 1:46:49,Taipei
11,3,5,7/29/2016 21:20:05,Taipei
12,3,3,8/5/2016 1:39:41,Taipei
13,3,4,8/5/2016 1:40:47,Taipei
14,3,4,8/5/2016 1:40:50,Taipei
15,4,4,8/5/2016 1:42:44,Taipei
16,4,5,8/5/2016 1:45:13,Taipei
17,3,4,8/5/2016 1:45:39,Taipei
18,3,4,8/5/2016 1:49:21,Taipei
19,3,5,8/8/2016 1:30:34,Taipei
20,3,5,8/8/2016 1:33:45,Taipei
21,3,5,8/8/2016 1:49:29,Taipei
22,3,3,8/8/2016 1:51:00,Taipei

In [83]:
all_csvs = glob.glob(os.path.join('datasets/NPS/surveys/2016_renamed/weeks1_7/Tokyo', '*.csv'))
read_all_csvs = (pd.read_csv(f) for f in all_csvs)
df = pd.concat(read_all_csvs, ignore_index = True, sort = True)
df.head()

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp
0,4,3,7/31/2016 1:04:57
1,3,4,7/31/2016 3:38:14
2,1,4,7/31/2016 3:59:43
3,2,4,7/31/2016 4:19:51
4,4,5,7/31/2016 5:14:20

In [84]:
df["Location"] = "Tokyo"

In [85]:
df_Tokyo = df

In [86]:
df_Tokyo

,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Timestamp,Location
0,4,3,7/31/2016 1:04:57,Tokyo
1,3,4,7/31/2016 3:38:14,Tokyo
2,1,4,7/31/2016 3:59:43,Tokyo
3,2,4,7/31/2016 4:19:51,Tokyo
4,4,5,7/31/2016 5:14:20,Tokyo
5,3,3,7/31/2016 6:50:12,Tokyo
6,5,5,7/31/2016 15:23:52,Tokyo
7,2,4,7/31/2016 16:49:45,Tokyo
8,4,3,8/1/2016 1:18:47,Tokyo
9,3,5,8/1/2016 1:30:17,Tokyo
10,3,5,8/1/2016 1:30:17,Tokyo
11,4,4,8/1/2016 6:15:10,Tokyo
12,3,4,8/1/2016 7:56:08,Tokyo

In [ ]:
dfTest_Tokyo = df_Tokyo

In [ ]:
dfTest_Taipei = df_Taipei

In [ ]:
test = pd.concat([dfTest_Tokyo,dfTest_Taipei])

In [ ]:
test

In [ ]:
test = pd.concat([df_Tokyo, df_Taipei]) #df_HK, df_SV, df_SF, df_NY, df_LA, df_SG

In [ ]:
test

In [ ]:
df_Taipei

In [ ]:
test = pd.concat([test, df_HK])

In [87]:
frames = [df_HK, df_SV, df_SF, df_NY, df_LA, df_SG, df_Taipei, df_Tokyo]

In [88]:
df_2016 = pd.concat(frames)
df_2016.head()

/Users/jamesmccrory/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,Unnamed: 0,What track are you in?
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,NaN
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,NaN
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,NaN
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,NaN
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,NaN

In [9]:
df_2016.nunique

NameError: name 'df_2016' is not defined

In [ ]:
df_2016.describe()

In [ ]:
df_2016["Location"].unique()

In [ ]:
df_2016

In [ ]:
df_2016[(df_2016["Unnamed: 0"].notnull())]

In [89]:
df_2016['Timestamp'] = np.where(df_2016['Timestamp'].isna(), df_2016["Unnamed: 0"], df_2016['Timestamp'])

In [90]:
df_2016[(df_2016["Unnamed: 0"].notnull())]

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,Unnamed: 0,What track are you in?
215,4.0,NaN,2,Sunnyvale,6/24/2016 13:32:01,6/24/2016 13:32:01,Games
216,4.0,NaN,3,Sunnyvale,6/24/2016 13:48:09,6/24/2016 13:48:09,Apps
217,3.0,NaN,3,Sunnyvale,6/24/2016 13:49:23,6/24/2016 13:49:23,Apps
218,5.0,NaN,3,Sunnyvale,6/24/2016 13:53:25,6/24/2016 13:53:25,Apps
219,3.0,NaN,3,Sunnyvale,6/24/2016 13:55:19,6/24/2016 13:55:19,Apps
220,3.0,NaN,3,Sunnyvale,6/24/2016 13:41:53,6/24/2016 13:41:53,Games
221,4.0,NaN,4,Sunnyvale,6/24/2016 13:46:23,6/24/2016 13:46:23,Apps
222,3.0,NaN,4,Sunnyvale,6/24/2016 13:46:42,6/24/2016 13:46:42,Apps
223,3.0,NaN,4,Sunnyvale,6/24/2016 13:47:24,6/24/2016 13:47:24,Apps
224,4.0,NaN,4,Sunnyvale,6/24/2016 13:47:25,6/24/2016 13:47:25,Apps
225,3.0,NaN,4,Sunnyvale,6/24/2016 13:47:36,6/24/2016 13:47:36,Apps
226,4.0,NaN,4,Sunnyvale,6/24/2016 13:48:00,6/24/2016 13:48:00,Apps
227,4.0,NaN,4,Sunnyvale,6/24/2016 13:48:29,6/24/2016 13:48:29,Apps
228,3.0,NaN,4,Sunnyvale,6/24/2016 13:48:48,6/24/2016 13:48:48,Apps
229,4.0,NaN,4,Sunnyvale,6/24/2016 13:49:35,6/24/2016 13:49:35,Apps
230,3.0,NaN,4,Sunnyvale,6/24/2016 13:50:37,6/24/2016 13:50:37,Apps
231,4.0,NaN,4,Sunnyvale,6/24/2016 13:51:11,6/24/2016 13:51:11,Apps
232,4.0,NaN,4,Sunnyvale,6/24/2016 13:51:13,6/24/2016 13:51:13,Apps
233,3.0,NaN,4,Sunnyvale,6/24/2016 13:52:06,6/24/2016 13:52:06,Apps
234,3.0,NaN,4,Sunnyvale,6/24/2016 13:52:21,6/24/2016 13:52:21,Apps
235,5.0,NaN,4,Sunnyvale,6/24/2016 13:52:50,6/24/2016 13:52:50,Apps
236,3.0,NaN,4,Sunnyvale,6/24/2016 13:53:03,6/24/2016 13:53:03,Apps
237,3.0,NaN,4,Sunnyvale,6/24/2016 13:55:00,6/24/2016 13:55:00,Apps
238,3.0,NaN,4,Sunnyvale,6/24/2016 13:59:24,6/24/2016 13:59:24,Apps
239,4.0,NaN,4,Sunnyvale,6/24/2016 13:28:35,6/24/2016 13:28:35,Games
240,4.0,NaN,4,Sunnyvale,6/24/2016 13:31:45,6/24/2016 13:31:45,Games
241,4.0,NaN,4,Sunnyvale,6/24/2016 13:32:49,6/24/2016 13:32:49,Games
242,3.0,NaN,4,Sunnyvale,6/24/2016 13:34:57,6/24/2016 13:34:57,Games
243,4.0,NaN,4,Sunnyvale,6/24/2016 13:39:47,6/24/2016 13:39:47,Games
244,3.0,NaN,4,Sunnyvale,6/24/2016 13:45:39,6/24/2016 13:45:39,Games
...,...,...,...,...,...,...,...
247,4.0,NaN,4,Sunnyvale,6/24/2016 14:12:35,6/24/2016 14:12:35,Games
248,4.0,NaN,4,Sunnyvale,6/24/2016 13:44:44,6/24/2016 13:44:44,Intro
249,3.0,NaN,4,Sunnyvale,6/24/2016 13:45:54,6/24/2016 13:45:54,Intro
250,4.0,NaN,4,Sunnyvale,6/24/2016 13:49:54,6/24/2016 13:49:54,Intro
251,3.0,NaN,4,Sunnyvale,6/24/2016 13:50:04,6/24/2016 13:50:04,Intro
252,4.0,NaN,4,Sunnyvale,6/24/2016 13:50:19,6/24/2016 13:50:19,Intro
253,3.0,NaN,4,Sunnyvale,6/24/2016 13:51:46,6/24/2016 13:51:46,Intro
254,3.0,NaN,4,Sunnyvale,6/24/2016 13:53:22,6/24/2016 13:53:22,Intro
255,3.0,NaN,4,Sunnyvale,6/24/2016 13:55:06,6/24/2016 13:55:06,Intro
256,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:09,6/24/2016 13:47:09,Apps
257,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:20,6/24/2016 13:47:20,Apps
258,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:25,6/24/2016 13:47:25,Apps
259,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:23,6/24/2016 13:49:23,Apps
260,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:25,6/24/2016 13:50:25,Apps
261,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:34,6/24/2016 13:50:34,Apps
262,4.0,NaN,5,Sunnyvale,6/24/2016 13:50:54,6/24/2016 13:50:54,Apps
263,4.0,NaN,5,Sunnyvale,6/24/2016 13:51:20,6/24/2016 13:51:20,Apps
264,3.0,NaN,5,Sunnyvale,6/24/2016 13:53:34,6/24/2016 13:53:34,Apps
265,4.0,NaN,5,Sunnyvale,6/24/2016 13:54:13,6/24/2016 13:54:13,Apps
266,4.0,NaN,5,Sunnyvale,6/24/2016 13:54:38,6/24/2016 13:54:38,Apps
267,4.0,NaN,5,Sunnyvale,6/24/2016 13:30:55,6/24/2016 13:30:55,Games
268,2.0,NaN,5,Sunnyvale,6/24/2016 13:33:00,6/24/2016 13:33:00,Games
269,3.0,NaN,5,Sunnyvale,6/24/2016 13:34:13,6/24/2016 13:34:13,Games
270,4.0,NaN,5,Sunnyvale,6/24/2016 14:05:25,6/24/2016 14:05:25,Games
271,3.0,NaN,5,Sunnyvale,6/24/2016 13:44:05,6/24/2016 13:44:05,Intro
272,2.0,NaN,5,Sunnyvale,6/24/2016 13:45:50,6/24/2016 13:45:50,Intro
273,3.0,NaN,5,Sunnyvale,6/24/2016 13:47:01,6/24/2016 13:47:01,Intro
274,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:01,6/24/2016 13:49:01,Intro
275,3.0,NaN,5,Sunnyvale,6/24/2016 13:49:44,6/24/2016 13:49:44,Intro
276,3.0,NaN,5,Sunnyvale,6/24/2016 13:50:23,6/24/2016 13:50:23,Intro

In [91]:
df_2016_backup = df_2016.drop(["Unnamed: 0"], axis=1)

In [92]:
df_2016 = df_2016_backup

In [93]:
df_2016

,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,Location,Timestamp,What track are you in?
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games
...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN

In [94]:
df_2016 = df_2016.rename(index=str, columns={"How would you rate your overall satisfaction with the Summer Academy this week?": "Score", "How well are the tutorials paced?": "Schedule Pacing"})

In [95]:
df_2016

,Schedule Pacing,How well is the schedule paced?,Score,Location,Timestamp,What track are you in?
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games
...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN

In [ ]:
df_2017 = df_1

In [96]:
df_2017

,ID,Location,Track,Week,Schedule Pacing,Score,NPS,NPS_2017_score,Year
0,134,San Francisco,"Apps, Explorer",Week 1,Just right,3,-1.0,44,2017
1,36,Los Angeles,Apps,Week 1,A little too fast,4,-1.0,44,2017
2,117,San Francisco,Games,Week 1,Way too slow,4,-1.0,44,2017
3,253,NaN,NaN,Week 2,A little too fast,4,-1.0,44,2017
4,350,New York City,"Apps, Explorer",Week 1,Just right,4,-1.0,44,2017
5,23,Redwood City,Apps,Week 1,Just right,5,-1.0,44,2017
6,28,Los Angeles,Apps,Week 7,Just right,5,-1.0,44,2017
7,65,San Francisco,Apps,Week 1,A little too slow,5,-1.0,44,2017
8,101,Santa Clara,Apps,Week 1,A little too slow,5,-1.0,44,2017
9,124,Santa Clara,Apps,Week 1,Just right,5,-1.0,44,2017
10,157,Redwood City,Apps,Week 2,Just right,5,-1.0,44,2017
11,170,Oakland,Apps,Week 2,Just right,5,-1.0,44,2017
12,255,San Francisco,Apps,Week 2,Way too fast,5,-1.0,44,2017
13,289,Washington DC,Apps,Week 1,Just right,5,-1.0,44,2017
14,299,Washington DC,"Apps, Explorer",Week 1,A little too slow,5,-1.0,44,2017
15,307,NaN,NaN,Week 3,A little too slow,5,-1.0,44,2017
16,319,Redwood City,Apps,Week 3,Just right,5,-1.0,44,2017
17,336,New York City,Apps,Week 1,A little too slow,5,-1.0,44,2017
18,441,San Francisco,"Apps, Explorer",Week 3,Just right,5,-1.0,44,2017
19,482,Santa Clara,Apps,Week 3,Just right,5,-1.0,44,2017
20,37,Los Angeles,Games,Week 1,Just right,6,-1.0,44,2017
21,41,Chicago,"Apps, Explorer",Week 1,Just right,6,-1.0,44,2017
22,45,Chicago,Apps,Week 1,A little too slow,6,-1.0,44,2017
23,47,Chicago,Apps,Week 1,A little too slow,6,-1.0,44,2017
24,77,San Francisco,Apps,Week 1,A little too fast,6,-1.0,44,2017
25,78,San Francisco,Apps,Week 1,A little too fast,6,-1.0,44,2017
26,94,San Francisco,"Apps, Explorer",Week 1,Just right,6,-1.0,44,2017
27,193,Santa Clara,Apps,Week 2,Just right,6,-1.0,44,2017
28,251,San Francisco,"Apps, Explorer",Week 2,Just right,6,-1.0,44,2017
29,254,San Francisco,Apps,Week 2,Way too fast,6,-1.0,44,2017
...,...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,Just right,10,1.0,44,2017
1424,1471,New York City,Apps,Week 7,Just right,8,0.0,44,2017
1425,1472,New York City,Games,Week 7,Just right,9,1.0,44,2017
1426,1473,New York City,"Games, Explorer",Week 7,Just right,10,1.0,44,2017
1427,1474,New York City,Games,Week 7,Just right,9,1.0,44,2017
1428,1475,New York City,Apps,Week 7,Just right,9,1.0,44,2017
1429,1476,New York City,Apps,Week 7,A little too fast,8,0.0,44,2017
1430,1477,New York City,Games,Week 7,Just right,10,1.0,44,2017
1431,1478,New York City,Apps,Week 7,Just right,10,1.0,44,2017
1432,1479,New York City,Games,Week 7,Just right,9,1.0,44,2017
1433,1480,New York City,Apps,Week 7,Just right,9,1.0,44,2017
1434,1481,New York City,Apps,Week 7,Just right,10,1.0,44,2017
1435,1482,New York City,Apps,Week 7,Just right,8,0.0,44,2017
1436,1483,New York City,Apps,Week 7,A little too fast,7,0.0,44,2017
1437,1484,New York City,"Apps, Explorer",Week 7,Way too fast,7,0.0,44,2017
1438,1485,New York City,Apps,Week 7,Just right,7,0.0,44,2017
1439,1486,New York City,Apps,Week 7,Just right,9,1.0,44,2017
1440,1487,New York City,Apps,Week 7,Just right,8,0.0,44,2017
1441,1488,New York City,"Games, Explorer",Week 7,Just right,7,0.0,44,2017
1442,1489,New York City,"Apps, Explorer",Week 7,Just right,10,1.0,44,2017
1443,1490,New York City,"Apps, Explorer",Week 7,Just right,10,1.0,44,2017
1444,1491,New York City,Games,Week 7,A little too fast,9,1.0,44,2017
1445,1492,New York City,Apps,Week 7,Just right,9,1.0,44,2017
1446,1493,New York City,Apps,Week 7,Just right,3,-1.0,44,2017
1447,1494,New York City,"Games, Explorer",Week 7,Just right,10,1.0,44,2017
1448,1495,New York City,"Apps, Explorer",Week 7,Just right,10,1.0,44,2017
1449,1496,New York City,"Apps, Explorer",Week 7,Just right,8,0.0,44,2017
1450,1497,New York City,Apps,Week 7,Just right,10,1.0,44,2017
1451,1498,New York City,"Apps, Explorer",Week 7,A little too slow,1,-1.0,44,2017
1452,1499,New York City,Apps,Week 5,Just right,8,0.0,44,2017

In [97]:
df_2016["Year"] = 2016

In [98]:
df_2016

,Schedule Pacing,How well is the schedule paced?,Score,Location,Timestamp,What track are you in?,Year
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016
...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,2016
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,2016
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,2016
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,2016
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,2016
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,2016
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,2016
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,2016
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,2016
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,2016
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,2016
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,2016
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,2016
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,2016
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,2016
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,2016
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,2016
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016

In [99]:
df_2016["NPS"] = df_2016["Score"].map({5: 1, 4: 0, 3: -1, 2: -1, 1: -1})

In [100]:
df_2016

,Schedule Pacing,How well is the schedule paced?,Score,Location,Timestamp,What track are you in?,Year,NPS
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0
...,...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0

In [101]:
NPS_sixteen_NPS_score = (df_2016[(df_2016["NPS"] == 1.0)].count() - df_2016[(df_2016["NPS"] == -1.0)].count()) / df_2016.count()

In [102]:
NPS_sixteen_NPS_score

Schedule Pacing                    0.342593
How well is the schedule paced?    0.177215
Score                              0.215750
Location                           0.215750
Timestamp                          0.211538
What track are you in?             0.236094
Year                               0.215750
NPS                                0.224719
dtype: float64

In [103]:
NPS_sixteen_NPS_score = int(NPS_sixteen_NPS_score["NPS"]*100)

In [104]:
NPS_sixteen_NPS_score

22

In [105]:
df_2016['NPS_2017_score'] = NPS_sixteen_NPS_score

In [106]:
df_2016

,Schedule Pacing,How well is the schedule paced?,Score,Location,Timestamp,What track are you in?,Year,NPS,NPS_2017_score
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0,22
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0,22
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0,22
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0,22
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0,22
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0,22
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0,22
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0,22
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0,22
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0,22
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0,22
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0,22
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0,22
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0,22
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0,22
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0,22
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0,22
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0,22
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0,22
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0,22
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0,22
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0,22
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0,22
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0,22
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0,22
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0,22
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0,22
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0,22
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0,22
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0,22
...,...,...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0,22
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0,22
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0,22
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0,22
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0,22
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0,22
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0,22
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0,22
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0,22
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0,22
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0,22
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0,22
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0,22
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0,22
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0,22
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0,22
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0,22
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0,22
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0,22
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0,22
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0,22
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0,22
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0,22
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0,22
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0,22
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0,22
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0,22
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0,22

In [107]:
df_2016 = df_2016.rename(index=str, columns={"How well is the schedule paced?": "Schedule Pacing1"})

In [108]:
df_2016

,Schedule Pacing,Schedule Pacing1,Score,Location,Timestamp,What track are you in?,Year,NPS,NPS_2017_score
0,NaN,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0,22
1,NaN,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0,22
2,NaN,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0,22
3,3.0,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0,22
4,3.0,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0,22
5,3.0,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0,22
0,NaN,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0,22
1,NaN,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0,22
2,NaN,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0,22
3,NaN,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0,22
4,NaN,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0,22
5,NaN,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0,22
6,NaN,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0,22
7,NaN,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0,22
8,NaN,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0,22
9,NaN,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0,22
10,NaN,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0,22
11,NaN,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0,22
12,NaN,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0,22
13,NaN,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0,22
14,NaN,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0,22
15,NaN,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0,22
16,NaN,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0,22
17,NaN,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0,22
18,NaN,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0,22
19,NaN,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0,22
20,NaN,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0,22
21,NaN,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0,22
22,NaN,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0,22
23,NaN,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0,22
...,...,...,...,...,...,...,...,...,...
6,NaN,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0,22
7,NaN,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0,22
8,NaN,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0,22
9,NaN,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0,22
10,NaN,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0,22
11,NaN,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0,22
12,NaN,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0,22
13,NaN,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0,22
14,NaN,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0,22
15,NaN,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0,22
16,NaN,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0,22
17,NaN,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0,22
18,NaN,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0,22
19,NaN,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0,22
20,NaN,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0,22
21,NaN,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0,22
22,NaN,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0,22
0,NaN,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0,22
1,NaN,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0,22
2,NaN,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0,22
3,NaN,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0,22
4,NaN,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0,22
5,NaN,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0,22
6,NaN,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0,22
7,NaN,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0,22
8,NaN,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0,22
9,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
10,NaN,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
11,NaN,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0,22
12,NaN,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0,22

In [109]:
#df_2016.iloc[:, 0]
# df_2016.iloc[3]
#df_2016[df_2016.columns[1]]
#df_2016['Schedule Pacing'] = np.where(df['Schedule Pacing'].isna(), df['Schedule Pacing1'], df['Schedule Pacing'])
df_2016.iloc[:, 0] = np.where(df_2016.iloc[:, 0].isna(), df_2016.iloc[:, 1], df_2016.iloc[:, 0])

In [110]:
df_2016

,Schedule Pacing,Schedule Pacing1,Score,Location,Timestamp,What track are you in?,Year,NPS,NPS_2017_score
0,3,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0,22
1,3,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0,22
2,3,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0,22
3,3,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0,22
4,3,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0,22
5,3,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0,22
0,3,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0,22
1,3,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0,22
2,4,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0,22
3,3,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0,22
4,3,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0,22
5,3,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0,22
6,3,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0,22
7,3,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0,22
8,2,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0,22
9,3,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0,22
10,3,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0,22
11,3,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0,22
12,2,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0,22
13,3,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0,22
14,3,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0,22
15,3,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0,22
16,3,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0,22
17,3,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0,22
18,4,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0,22
19,4,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0,22
20,4,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0,22
21,3,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0,22
22,4,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0,22
23,2,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0,22
...,...,...,...,...,...,...,...,...,...
6,4,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0,22
7,3,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0,22
8,2,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0,22
9,4,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0,22
10,4,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0,22
11,3,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0,22
12,3,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0,22
13,3,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0,22
14,3,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0,22
15,4,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0,22
16,4,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0,22
17,3,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0,22
18,3,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0,22
19,3,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0,22
20,3,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0,22
21,3,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0,22
22,3,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0,22
0,4,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0,22
1,3,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0,22
2,1,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0,22
3,2,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0,22
4,4,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0,22
5,3,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0,22
6,5,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0,22
7,2,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0,22
8,4,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0,22
9,3,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
10,3,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22
11,4,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0,22
12,3,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0,22

In [111]:
df_2016_backup = df_2016
#= df_backup2.drop(['Rating (Num)'], axis=1)

In [112]:
df_2016["Pacing"] = df_2016.iloc[:, 0]

In [113]:
df_2016 = df_2016.drop(['Schedule Pacing'], axis=1)

In [114]:
df_2016 = df_2016.rename(index=str, columns={"Pacing": "Schedule Pacing"})

In [115]:
df_2016

,Schedule Pacing1,Score,Location,Timestamp,What track are you in?,Year,NPS,NPS_2017_score,Schedule Pacing
0,3,5,Hong Kong,7/29/2016 0:19:08,NaN,2016,1.0,22,3
1,3,4,Hong Kong,7/29/2016 0:22:41,NaN,2016,0.0,22,3
2,3,5,Hong Kong,7/29/2016 0:23:17,NaN,2016,1.0,22,3
3,NaN,4,Hong Kong,7/21/2016 21:57:59,NaN,2016,0.0,22,3
4,NaN,5,Hong Kong,7/21/2016 21:59:37,NaN,2016,1.0,22,3
5,NaN,5,Hong Kong,7/21/2016 22:01:53,NaN,2016,1.0,22,3
0,3,4,Sunnyvale,7/29/2016 13:46:28,Apps,2016,0.0,22,3
1,3,5,Sunnyvale,7/29/2016 13:52:16,Apps,2016,1.0,22,3
2,4,5,Sunnyvale,7/29/2016 16:10:41,Apps,2016,1.0,22,4
3,3,4,Sunnyvale,7/29/2016 15:10:27,Apps,2016,0.0,22,3
4,3,3,Sunnyvale,7/29/2016 14:18:21,Apps,2016,-1.0,22,3
5,3,3,Sunnyvale,7/29/2016 15:25:45,Apps,2016,-1.0,22,3
6,3,4,Sunnyvale,7/29/2016 16:41:48,Apps,2016,0.0,22,3
7,3,5,Sunnyvale,7/29/2016 15:26:20,Apps,2016,1.0,22,3
8,2,2,Sunnyvale,7/29/2016 13:20:33,Apps,2016,-1.0,22,2
9,3,4,Sunnyvale,7/29/2016 13:24:45,Apps,2016,0.0,22,3
10,3,3,Sunnyvale,7/29/2016 13:47:43,Apps,2016,-1.0,22,3
11,3,5,Sunnyvale,7/29/2016 15:31:26,Apps,2016,1.0,22,3
12,2,5,Sunnyvale,7/29/2016 15:28:06,Apps,2016,1.0,22,2
13,3,3,Sunnyvale,7/29/2016 13:44:38,Games,2016,-1.0,22,3
14,3,4,Sunnyvale,7/29/2016 15:36:04,Games,2016,0.0,22,3
15,3,4,Sunnyvale,7/29/2016 13:26:06,Games,2016,0.0,22,3
16,3,5,Sunnyvale,7/29/2016 15:02:27,Games,2016,1.0,22,3
17,3,4,Sunnyvale,7/29/2016 15:15:48,Games,2016,0.0,22,3
18,4,4,Sunnyvale,7/29/2016 13:35:17,Games,2016,0.0,22,4
19,4,4,Sunnyvale,7/29/2016 13:27:19,Games,2016,0.0,22,4
20,4,3,Sunnyvale,7/29/2016 14:40:29,Games,2016,-1.0,22,4
21,3,4,Sunnyvale,7/29/2016 15:06:33,Games,2016,0.0,22,3
22,4,4,Sunnyvale,7/29/2016 15:17:23,Games,2016,0.0,22,4
23,2,4,Sunnyvale,7/29/2016 13:23:48,Games,2016,0.0,22,2
...,...,...,...,...,...,...,...,...,...
6,4,3,Taipei,7/29/2016 1:22:25,NaN,2016,-1.0,22,4
7,3,3,Taipei,7/29/2016 1:27:55,NaN,2016,-1.0,22,3
8,2,5,Taipei,7/29/2016 1:28:54,NaN,2016,1.0,22,2
9,4,4,Taipei,7/29/2016 1:29:23,NaN,2016,0.0,22,4
10,4,5,Taipei,7/29/2016 1:46:49,NaN,2016,1.0,22,4
11,3,5,Taipei,7/29/2016 21:20:05,NaN,2016,1.0,22,3
12,3,3,Taipei,8/5/2016 1:39:41,NaN,2016,-1.0,22,3
13,3,4,Taipei,8/5/2016 1:40:47,NaN,2016,0.0,22,3
14,3,4,Taipei,8/5/2016 1:40:50,NaN,2016,0.0,22,3
15,4,4,Taipei,8/5/2016 1:42:44,NaN,2016,0.0,22,4
16,4,5,Taipei,8/5/2016 1:45:13,NaN,2016,1.0,22,4
17,3,4,Taipei,8/5/2016 1:45:39,NaN,2016,0.0,22,3
18,3,4,Taipei,8/5/2016 1:49:21,NaN,2016,0.0,22,3
19,3,5,Taipei,8/8/2016 1:30:34,NaN,2016,1.0,22,3
20,3,5,Taipei,8/8/2016 1:33:45,NaN,2016,1.0,22,3
21,3,5,Taipei,8/8/2016 1:49:29,NaN,2016,1.0,22,3
22,3,3,Taipei,8/8/2016 1:51:00,NaN,2016,-1.0,22,3
0,4,3,Tokyo,7/31/2016 1:04:57,NaN,2016,-1.0,22,4
1,3,4,Tokyo,7/31/2016 3:38:14,NaN,2016,0.0,22,3
2,1,4,Tokyo,7/31/2016 3:59:43,NaN,2016,0.0,22,1
3,2,4,Tokyo,7/31/2016 4:19:51,NaN,2016,0.0,22,2
4,4,5,Tokyo,7/31/2016 5:14:20,NaN,2016,1.0,22,4
5,3,3,Tokyo,7/31/2016 6:50:12,NaN,2016,-1.0,22,3
6,5,5,Tokyo,7/31/2016 15:23:52,NaN,2016,1.0,22,5
7,2,4,Tokyo,7/31/2016 16:49:45,NaN,2016,0.0,22,2
8,4,3,Tokyo,8/1/2016 1:18:47,NaN,2016,-1.0,22,4
9,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22,3
10,3,5,Tokyo,8/1/2016 1:30:17,NaN,2016,1.0,22,3
11,4,4,Tokyo,8/1/2016 6:15:10,NaN,2016,0.0,22,4
12,3,4,Tokyo,8/1/2016 7:56:08,NaN,2016,0.0,22,3

In [116]:
df_2017

,ID,Location,Track,Week,Schedule Pacing,Score,NPS,NPS_2017_score,Year
0,134,San Francisco,"Apps, Explorer",Week 1,Just right,3,-1.0,44,2017
1,36,Los Angeles,Apps,Week 1,A little too fast,4,-1.0,44,2017
2,117,San Francisco,Games,Week 1,Way too slow,4,-1.0,44,2017
3,253,NaN,NaN,Week 2,A little too fast,4,-1.0,44,2017
4,350,New York City,"Apps, Explorer",Week 1,Just right,4,-1.0,44,2017
5,23,Redwood City,Apps,Week 1,Just right,5,-1.0,44,2017
6,28,Los Angeles,Apps,Week 7,Just right,5,-1.0,44,2017
7,65,San Francisco,Apps,Week 1,A little too slow,5,-1.0,44,2017
8,101,Santa Clara,Apps,Week 1,A little too slow,5,-1.0,44,2017
9,124,Santa Clara,Apps,Week 1,Just right,5,-1.0,44,2017
10,157,Redwood City,Apps,Week 2,Just right,5,-1.0,44,2017
11,170,Oakland,Apps,Week 2,Just right,5,-1.0,44,2017
12,255,San Francisco,Apps,Week 2,Way too fast,5,-1.0,44,2017
13,289,Washington DC,Apps,Week 1,Just right,5,-1.0,44,2017
14,299,Washington DC,"Apps, Explorer",Week 1,A little too slow,5,-1.0,44,2017
15,307,NaN,NaN,Week 3,A little too slow,5,-1.0,44,2017
16,319,Redwood City,Apps,Week 3,Just right,5,-1.0,44,2017
17,336,New York City,Apps,Week 1,A little too slow,5,-1.0,44,2017
18,441,San Francisco,"Apps, Explorer",Week 3,Just right,5,-1.0,44,2017
19,482,Santa Clara,Apps,Week 3,Just right,5,-1.0,44,2017
20,37,Los Angeles,Games,Week 1,Just right,6,-1.0,44,2017
21,41,Chicago,"Apps, Explorer",Week 1,Just right,6,-1.0,44,2017
22,45,Chicago,Apps,Week 1,A little too slow,6,-1.0,44,2017
23,47,Chicago,Apps,Week 1,A little too slow,6,-1.0,44,2017
24,77,San Francisco,Apps,Week 1,A little too fast,6,-1.0,44,2017
25,78,San Francisco,Apps,Week 1,A little too fast,6,-1.0,44,2017
26,94,San Francisco,"Apps, Explorer",Week 1,Just right,6,-1.0,44,2017
27,193,Santa Clara,Apps,Week 2,Just right,6,-1.0,44,2017
28,251,San Francisco,"Apps, Explorer",Week 2,Just right,6,-1.0,44,2017
29,254,San Francisco,Apps,Week 2,Way too fast,6,-1.0,44,2017
...,...,...,...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,Just right,10,1.0,44,2017
1424,1471,New York City,Apps,Week 7,Just right,8,0.0,44,2017
1425,1472,New York City,Games,Week 7,Just right,9,1.0,44,2017
1426,1473,New York City,"Games, Explorer",Week 7,Just right,10,1.0,44,2017
1427,1474,New York City,Games,Week 7,Just right,9,1.0,44,2017
1428,1475,New York City,Apps,Week 7,Just right,9,1.0,44,2017
1429,1476,New York City,Apps,Week 7,A little too fast,8,0.0,44,2017
1430,1477,New York City,Games,Week 7,Just right,10,1.0,44,2017
1431,1478,New York City,Apps,Week 7,Just right,10,1.0,44,2017
1432,1479,New York City,Games,Week 7,Just right,9,1.0,44,2017
1433,1480,New York City,Apps,Week 7,Just right,9,1.0,44,2017
1434,1481,New York City,Apps,Week 7,Just right,10,1.0,44,2017
1435,1482,New York City,Apps,Week 7,Just right,8,0.0,44,2017
1436,1483,New York City,Apps,Week 7,A little too fast,7,0.0,44,2017
1437,1484,New York City,"Apps, Explorer",Week 7,Way too fast,7,0.0,44,2017
1438,1485,New York City,Apps,Week 7,Just right,7,0.0,44,2017
1439,1486,New York City,Apps,Week 7,Just right,9,1.0,44,2017
1440,1487,New York City,Apps,Week 7,Just right,8,0.0,44,2017
1441,1488,New York City,"Games, Explorer",Week 7,Just right,7,0.0,44,2017
1442,1489,New York City,"Apps, Explorer",Week 7,Just right,10,1.0,44,2017
1443,1490,New York City,"Apps, Explorer",Week 7,Just right,10,1.0,44,2017
1444,1491,New York City,Games,Week 7,A little too fast,9,1.0,44,2017
1445,1492,New York City,Apps,Week 7,Just right,9,1.0,44,2017
1446,1493,New York City,Apps,Week 7,Just right,3,-1.0,44,2017
1447,1494,New York City,"Games, Explorer",Week 7,Just right,10,1.0,44,2017
1448,1495,New York City,"Apps, Explorer",Week 7,Just right,10,1.0,44,2017
1449,1496,New York City,"Apps, Explorer",Week 7,Just right,8,0.0,44,2017
1450,1497,New York City,Apps,Week 7,Just right,10,1.0,44,2017
1451,1498,New York City,"Apps, Explorer",Week 7,A little too slow,1,-1.0,44,2017
1452,1499,New York City,Apps,Week 5,Just right,8,0.0,44,2017

In [117]:
frames = [df_2016, df_2017]

In [118]:
df = pd.concat(frames)

/Users/jamesmccrory/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [119]:
df

,ID,Location,NPS,NPS_2017_score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,What track are you in?,Year
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,NaN,NaN,NaN,2016
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,NaN,NaN,NaN,2016
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,NaN,NaN,NaN,2016
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,NaN,NaN,NaN,2016
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,NaN,NaN,NaN,2016
5,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 22:01:53,NaN,NaN,NaN,2016
0,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:46:28,NaN,NaN,Apps,2016
1,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 13:52:16,NaN,NaN,Apps,2016
2,NaN,Sunnyvale,1.0,22,4,4,5,7/29/2016 16:10:41,NaN,NaN,Apps,2016
3,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:10:27,NaN,NaN,Apps,2016
4,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 14:18:21,NaN,NaN,Apps,2016
5,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 15:25:45,NaN,NaN,Apps,2016
6,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 16:41:48,NaN,NaN,Apps,2016
7,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:26:20,NaN,NaN,Apps,2016
8,NaN,Sunnyvale,-1.0,22,2,2,2,7/29/2016 13:20:33,NaN,NaN,Apps,2016
9,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:24:45,NaN,NaN,Apps,2016
10,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:47:43,NaN,NaN,Apps,2016
11,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:31:26,NaN,NaN,Apps,2016
12,NaN,Sunnyvale,1.0,22,2,2,5,7/29/2016 15:28:06,NaN,NaN,Apps,2016
13,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:44:38,NaN,NaN,Games,2016
14,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:36:04,NaN,NaN,Games,2016
15,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:26:06,NaN,NaN,Games,2016
16,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:02:27,NaN,NaN,Games,2016
17,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:15:48,NaN,NaN,Games,2016
18,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:35:17,NaN,NaN,Games,2016
19,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:27:19,NaN,NaN,Games,2016
20,NaN,Sunnyvale,-1.0,22,4,4,3,7/29/2016 14:40:29,NaN,NaN,Games,2016
21,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:06:33,NaN,NaN,Games,2016
22,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 15:17:23,NaN,NaN,Games,2016
23,NaN,Sunnyvale,0.0,22,2,2,4,7/29/2016 13:23:48,NaN,NaN,Games,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,NaN,2017
1424,1471.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,NaN,2017
1425,1472.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,NaN,2017
1426,1473.0,New York City,1.0,44,Just right,NaN,10,NaN,"Games, Explorer",Week 7,NaN,2017
1427,1474.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,NaN,2017
1428,1475.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,NaN,2017
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,NaN,Apps,Week 7,NaN,2017
1430,1477.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,NaN,2017
1431,1478.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,NaN,2017
1432,1479.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,NaN,2017
1433,1480.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,NaN,2017
1434,1481.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,NaN,2017
1435,1482.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,NaN,2017
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,NaN,Apps,Week 7,NaN,2017
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,NaN,"Apps, Explorer",Week 7,NaN,2017
1438,1485.0,New York City,0.0,44,Just right,NaN,7,NaN,Apps,Week 7,NaN,2017
1439,1486.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,NaN,2017
1440,1487.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,NaN,2017
1441,1488.0,New York City,0.0,44,Just right,NaN,7,NaN,"Games, Explorer",Week 7,NaN,2017
1442,1489.0,New York City,1.0,44,Just right,NaN,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1443,1490.0,New York City,1.0,44,Just right,NaN,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,NaN,Games,Week 7,NaN,2017
1445,1492.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,NaN,2017
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,NaN,Apps,Week 7,NaN,2017
1447,1494.0,New York City,1.0,44,Just right,NaN,10,NaN,"Games, Explorer",Week 7,NaN,2017
1448,1495.0,New York City,1.0,44,Just right,NaN,10,NaN,"Apps, Explorer",Week 7,NaN,2017
1449,1496.0,New York City,0.0,44,Just right,NaN,8,NaN,"Apps, Explorer",Week 7,NaN,2017
1450,1497.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,NaN,2017
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,NaN,"Apps, Explorer",Week 7,NaN,2017
1452,1499.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 5,NaN,2017

In [120]:
df.describe()

                ID          NPS  NPS_2017_score         Year
count  1450.000000  2338.000000     2377.000000  2377.000000
mean    757.922069     0.359709       35.420278  2016.610013
std     430.382155     0.673632       10.732694     0.487850
min       8.000000    -1.000000       22.000000  2016.000000
25%     386.250000     0.000000       22.000000  2016.000000
50%     762.500000     0.000000       44.000000  2017.000000
75%    1129.750000     1.000000       44.000000  2017.000000
max    1499.000000     1.000000       44.000000  2017.000000

In [121]:
df = df.rename(index=str, columns={"NPS_2017_score": "NPS_Year_Score"})

In [122]:
df.describe()

                ID          NPS  NPS_Year_Score         Year
count  1450.000000  2338.000000     2377.000000  2377.000000
mean    757.922069     0.359709       35.420278  2016.610013
std     430.382155     0.673632       10.732694     0.487850
min       8.000000    -1.000000       22.000000  2016.000000
25%     386.250000     0.000000       22.000000  2016.000000
50%     762.500000     0.000000       44.000000  2017.000000
75%    1129.750000     1.000000       44.000000  2017.000000
max    1499.000000     1.000000       44.000000  2017.000000

In [ ]:
df.shape

In [123]:
df.head()

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,What track are you in?,Year
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,NaN,NaN,NaN,2016
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,NaN,NaN,NaN,2016
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,NaN,NaN,NaN,2016
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,NaN,NaN,NaN,2016
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,NaN,NaN,NaN,2016

In [ ]:
df["What track are you in?"].unique()

In [ ]:
df["Track"].unique()

In [124]:
df['Track'] = np.where(df['Track'].isna(), df["What track are you in?"], df['Track'])

In [ ]:
df

In [125]:
df = df.drop(['What track are you in?'], axis=1)

In [ ]:
df

In [126]:
df_backup = df
#backing up the data as I am...
#renaming pacing data from 2017 to be positive "Just right" = 1 or negative "A little too fast" / "A little too slow" = -1

In [ ]:
df["Schedule Pacing"].unique()

In [127]:
df["Pacing NPS"] = df["Schedule Pacing"].map({'Way too fast': -1, 'A little too fast': -1, 'Way too slow': -1, 'A little too slow': -1,'#REF!': 0, 'Just right': 1,'3': -1, '4': 0, '5': 1,'2': -1, 3.0: 1, 4: 0, 3: -1, 2: -1, 1: -1})

In [ ]:
df["Pacing NPS"].unique()

In [128]:
df["Pacing NPS"].isnull = df["Pacing NPS"].map({nan:0})

NameError: name 'nan' is not defined

In [129]:
df["Pacing NPS"].fillna(0, inplace=True)

In [ ]:
df["Pacing NPS"].unique()

In [ ]:
df["Track"].unique()

In [130]:
df[(df["Track"].isna()== True)]# == 'Intro')

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,Year,Pacing NPS
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,NaN,NaN,2016,-1.0
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,NaN,NaN,2016,-1.0
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,NaN,NaN,2016,-1.0
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,NaN,NaN,2016,-1.0
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,NaN,NaN,2016,-1.0
5,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 22:01:53,NaN,NaN,2016,-1.0
0,NaN,Los Angeles,0.0,22,2,2,4,6/30/2016 14:09:14,NaN,NaN,2016,-1.0
1,NaN,Los Angeles,-1.0,22,3,3,3,6/30/2016 22:50:08,NaN,NaN,2016,-1.0
2,NaN,Los Angeles,0.0,22,4,4,4,7/1/2016 9:34:16,NaN,NaN,2016,0.0
3,NaN,Los Angeles,0.0,22,3,3,4,7/1/2016 10:42:17,NaN,NaN,2016,-1.0
4,NaN,Los Angeles,0.0,22,3,3,4,7/1/2016 11:25:53,NaN,NaN,2016,-1.0
5,NaN,Los Angeles,1.0,22,3,3,5,7/1/2016 11:57:11,NaN,NaN,2016,-1.0
6,NaN,Los Angeles,1.0,22,3,3,5,7/1/2016 11:58:37,NaN,NaN,2016,-1.0
17,NaN,Los Angeles,1.0,22,3,3,5,7/15/2016 13:20:35,NaN,NaN,2016,-1.0
18,NaN,Los Angeles,1.0,22,3,3,5,7/15/2016 13:22:22,NaN,NaN,2016,-1.0
19,NaN,Los Angeles,1.0,22,3,3,5,7/15/2016 14:35:15,NaN,NaN,2016,-1.0
20,NaN,Los Angeles,1.0,22,4,4,5,7/15/2016 15:05:10,NaN,NaN,2016,0.0
21,NaN,Los Angeles,-1.0,22,3,3,3,7/15/2016 15:12:36,NaN,NaN,2016,-1.0
22,NaN,Los Angeles,0.0,22,3,3,4,7/15/2016 16:59:37,NaN,NaN,2016,-1.0
23,NaN,Los Angeles,0.0,22,3,3,4,7/15/2016 17:10:52,NaN,NaN,2016,-1.0
24,NaN,Los Angeles,0.0,22,3,3,4,7/15/2016 19:32:26,NaN,NaN,2016,-1.0
25,NaN,Los Angeles,-1.0,22,4,NaN,3,6/23/2016 15:55:12,NaN,NaN,2016,0.0
26,NaN,Los Angeles,0.0,22,4,NaN,4,6/23/2016 16:14:04,NaN,NaN,2016,0.0
27,NaN,Los Angeles,0.0,22,4,NaN,4,6/24/2016 0:18:42,NaN,NaN,2016,0.0
28,NaN,Los Angeles,0.0,22,4,NaN,4,6/24/2016 6:59:42,NaN,NaN,2016,0.0
29,NaN,Los Angeles,0.0,22,5,NaN,4,6/24/2016 9:40:16,NaN,NaN,2016,0.0
30,NaN,Los Angeles,1.0,22,4,NaN,5,6/23/2016 22:07:29,NaN,NaN,2016,0.0
31,NaN,Los Angeles,1.0,22,3,NaN,5,6/24/2016 9:34:14,NaN,NaN,2016,-1.0
32,NaN,Los Angeles,0.0,22,2,2,4,7/8/2016 10:31:27,NaN,NaN,2016,-1.0
33,NaN,Los Angeles,0.0,22,4,4,4,7/8/2016 13:45:52,NaN,NaN,2016,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
556,587.0,NaN,0.0,44,Just right,NaN,8,NaN,NaN,Week 2,2017,1.0
569,600.0,NaN,-1.0,44,A little too fast,NaN,6,NaN,NaN,Week 2,2017,-1.0
577,608.0,NaN,NaN,44,Way too fast,NaN,0,NaN,NaN,Week 2,2017,-1.0
595,626.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 4,2017,1.0
704,739.0,NaN,0.0,44,A little too fast,NaN,7,NaN,NaN,Week 2,2017,-1.0
728,766.0,NaN,1.0,44,A little too fast,NaN,9,NaN,NaN,Week 1,2017,-1.0
808,846.0,NaN,0.0,44,A little too fast,NaN,7,NaN,NaN,Week 3,2017,-1.0
810,848.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 3,2017,1.0
881,919.0,NaN,1.0,44,A little too fast,NaN,9,NaN,NaN,Week 5,2017,-1.0
935,974.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 3,2017,1.0
940,979.0,NaN,0.0,44,Just right,NaN,7,NaN,NaN,Week 3,2017,1.0
959,1002.0,NaN,1.0,44,Just right,NaN,9,NaN,NaN,Week 2,2017,1.0
1102,1145.0,NaN,1.0,44,Just right,NaN,9,NaN,NaN,Week 1,2017,1.0
1104,1147.0,NaN,1.0,44,Just right,NaN,9,NaN,NaN,Week 1,2017,1.0
1106,1149.0,NaN,0.0,44,Just right,NaN,8,NaN,NaN,Week 1,2017,1.0
1108,1151.0,NaN,1.0,44,A little too fast,NaN,9,NaN,NaN,Week 1,2017,-1.0
1112,1155.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 1,2017,1.0
1120,1164.0,NaN,1.0,44,Just right,NaN,9,NaN,NaN,Week 1,2017,1.0
1121,1165.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 2,2017,1.0
1140,1185.0,NaN,0.0,44,Just right,NaN,7,NaN,NaN,Week 4,2017,1.0
1141,1186.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 4,2017,1.0
1157,1202.0,NaN,0.0,44,Way too slow,NaN,7,NaN,NaN,Week 4,2017,-1.0
1178,1224.0,NaN,0.0,44,A little too fast,NaN,7,NaN,NaN,Week 2,2017,-1.0
1187,1233.0,NaN,1.0,44,Way too fast,NaN,10,NaN,NaN,Week 2,2017,-1.0
1189,1235.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 3,2017,1.0
1235,1281.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 5,2017,1.0
1335,1382.0,NaN,-1.0,44,Just right,NaN,5,NaN,NaN,Week 5,2017,1.0
1340,1387.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 2,2017,1.0
1405,1452.0,NaN,0.0,44,Just right,NaN,7,NaN,NaN,Week 7,2017,1.0
1410,1457.0,NaN,1.0,44,Just right,NaN,10,NaN,NaN,Week 6,2017,1.0

In [131]:
df['Track'] = np.where(df['Track'].isna(), 'Intro', df['Track'])

In [132]:
df['Track'] = np.where(df['Track'] == "Games, Explorer", 'Games', df['Track'])

In [133]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,Year,Pacing NPS
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,Intro,NaN,2016,-1.0
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,Intro,NaN,2016,-1.0
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,Intro,NaN,2016,-1.0
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,Intro,NaN,2016,-1.0
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,Intro,NaN,2016,-1.0
5,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 22:01:53,Intro,NaN,2016,-1.0
0,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:46:28,Apps,NaN,2016,-1.0
1,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 13:52:16,Apps,NaN,2016,-1.0
2,NaN,Sunnyvale,1.0,22,4,4,5,7/29/2016 16:10:41,Apps,NaN,2016,0.0
3,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:10:27,Apps,NaN,2016,-1.0
4,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 14:18:21,Apps,NaN,2016,-1.0
5,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 15:25:45,Apps,NaN,2016,-1.0
6,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 16:41:48,Apps,NaN,2016,-1.0
7,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:26:20,Apps,NaN,2016,-1.0
8,NaN,Sunnyvale,-1.0,22,2,2,2,7/29/2016 13:20:33,Apps,NaN,2016,-1.0
9,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:24:45,Apps,NaN,2016,-1.0
10,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:47:43,Apps,NaN,2016,-1.0
11,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:31:26,Apps,NaN,2016,-1.0
12,NaN,Sunnyvale,1.0,22,2,2,5,7/29/2016 15:28:06,Apps,NaN,2016,-1.0
13,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:44:38,Games,NaN,2016,-1.0
14,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:36:04,Games,NaN,2016,-1.0
15,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:26:06,Games,NaN,2016,-1.0
16,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:02:27,Games,NaN,2016,-1.0
17,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:15:48,Games,NaN,2016,-1.0
18,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:35:17,Games,NaN,2016,0.0
19,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:27:19,Games,NaN,2016,0.0
20,NaN,Sunnyvale,-1.0,22,4,4,3,7/29/2016 14:40:29,Games,NaN,2016,0.0
21,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:06:33,Games,NaN,2016,-1.0
22,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 15:17:23,Games,NaN,2016,0.0
23,NaN,Sunnyvale,0.0,22,2,2,4,7/29/2016 13:23:48,Games,NaN,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0
1424,1471.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0
1425,1472.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0
1426,1473.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0
1427,1474.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0
1428,1475.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,NaN,Apps,Week 7,2017,-1.0
1430,1477.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0
1431,1478.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1432,1479.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0
1433,1480.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0
1434,1481.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1435,1482.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,NaN,"Apps, Explorer",Week 7,2017,-1.0
1438,1485.0,New York City,0.0,44,Just right,NaN,7,NaN,Apps,Week 7,2017,1.0
1439,1486.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0
1440,1487.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0
1441,1488.0,New York City,0.0,44,Just right,NaN,7,NaN,Games,Week 7,2017,1.0
1442,1489.0,New York City,1.0,44,Just right,NaN,10,NaN,"Apps, Explorer",Week 7,2017,1.0
1443,1490.0,New York City,1.0,44,Just right,NaN,10,NaN,"Apps, Explorer",Week 7,2017,1.0
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,NaN,Games,Week 7,2017,-1.0
1445,1492.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,NaN,Apps,Week 7,2017,1.0
1447,1494.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0
1448,1495.0,New York City,1.0,44,Just right,NaN,10,NaN,"Apps, Explorer",Week 7,2017,1.0
1449,1496.0,New York City,0.0,44,Just right,NaN,8,NaN,"Apps, Explorer",Week 7,2017,1.0
1450,1497.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,NaN,"Apps, Explorer",Week 7,2017,-1.0
1452,1499.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 5,2017,1.0

In [134]:
df['Track'] = np.where(df['Track'] == "Apps, Explorer", 'Apps', df['Track'])

In [135]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,Year,Pacing NPS
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,Intro,NaN,2016,-1.0
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,Intro,NaN,2016,-1.0
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,Intro,NaN,2016,-1.0
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,Intro,NaN,2016,-1.0
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,Intro,NaN,2016,-1.0
5,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 22:01:53,Intro,NaN,2016,-1.0
0,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:46:28,Apps,NaN,2016,-1.0
1,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 13:52:16,Apps,NaN,2016,-1.0
2,NaN,Sunnyvale,1.0,22,4,4,5,7/29/2016 16:10:41,Apps,NaN,2016,0.0
3,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:10:27,Apps,NaN,2016,-1.0
4,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 14:18:21,Apps,NaN,2016,-1.0
5,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 15:25:45,Apps,NaN,2016,-1.0
6,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 16:41:48,Apps,NaN,2016,-1.0
7,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:26:20,Apps,NaN,2016,-1.0
8,NaN,Sunnyvale,-1.0,22,2,2,2,7/29/2016 13:20:33,Apps,NaN,2016,-1.0
9,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:24:45,Apps,NaN,2016,-1.0
10,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:47:43,Apps,NaN,2016,-1.0
11,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:31:26,Apps,NaN,2016,-1.0
12,NaN,Sunnyvale,1.0,22,2,2,5,7/29/2016 15:28:06,Apps,NaN,2016,-1.0
13,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:44:38,Games,NaN,2016,-1.0
14,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:36:04,Games,NaN,2016,-1.0
15,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:26:06,Games,NaN,2016,-1.0
16,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:02:27,Games,NaN,2016,-1.0
17,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:15:48,Games,NaN,2016,-1.0
18,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:35:17,Games,NaN,2016,0.0
19,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:27:19,Games,NaN,2016,0.0
20,NaN,Sunnyvale,-1.0,22,4,4,3,7/29/2016 14:40:29,Games,NaN,2016,0.0
21,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:06:33,Games,NaN,2016,-1.0
22,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 15:17:23,Games,NaN,2016,0.0
23,NaN,Sunnyvale,0.0,22,2,2,4,7/29/2016 13:23:48,Games,NaN,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0
1424,1471.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0
1425,1472.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0
1426,1473.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0
1427,1474.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0
1428,1475.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,NaN,Apps,Week 7,2017,-1.0
1430,1477.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0
1431,1478.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1432,1479.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0
1433,1480.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0
1434,1481.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1435,1482.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0
1438,1485.0,New York City,0.0,44,Just right,NaN,7,NaN,Apps,Week 7,2017,1.0
1439,1486.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0
1440,1487.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0
1441,1488.0,New York City,0.0,44,Just right,NaN,7,NaN,Games,Week 7,2017,1.0
1442,1489.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1443,1490.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,NaN,Games,Week 7,2017,-1.0
1445,1492.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,NaN,Apps,Week 7,2017,1.0
1447,1494.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0
1448,1495.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1449,1496.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0
1450,1497.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,NaN,Apps,Week 7,2017,-1.0
1452,1499.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 5,2017,1.0

In [136]:
df['Date'] = df.Timestamp.str[:9]

In [137]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,Year,Pacing NPS,Date
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,Intro,NaN,2016,-1.0,7/29/2016
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,Intro,NaN,2016,-1.0,7/29/2016
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,Intro,NaN,2016,-1.0,7/29/2016
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,Intro,NaN,2016,-1.0,7/21/2016
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,Intro,NaN,2016,-1.0,7/21/2016
5,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 22:01:53,Intro,NaN,2016,-1.0,7/21/2016
0,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:46:28,Apps,NaN,2016,-1.0,7/29/2016
1,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 13:52:16,Apps,NaN,2016,-1.0,7/29/2016
2,NaN,Sunnyvale,1.0,22,4,4,5,7/29/2016 16:10:41,Apps,NaN,2016,0.0,7/29/2016
3,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:10:27,Apps,NaN,2016,-1.0,7/29/2016
4,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 14:18:21,Apps,NaN,2016,-1.0,7/29/2016
5,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 15:25:45,Apps,NaN,2016,-1.0,7/29/2016
6,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 16:41:48,Apps,NaN,2016,-1.0,7/29/2016
7,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:26:20,Apps,NaN,2016,-1.0,7/29/2016
8,NaN,Sunnyvale,-1.0,22,2,2,2,7/29/2016 13:20:33,Apps,NaN,2016,-1.0,7/29/2016
9,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:24:45,Apps,NaN,2016,-1.0,7/29/2016
10,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:47:43,Apps,NaN,2016,-1.0,7/29/2016
11,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:31:26,Apps,NaN,2016,-1.0,7/29/2016
12,NaN,Sunnyvale,1.0,22,2,2,5,7/29/2016 15:28:06,Apps,NaN,2016,-1.0,7/29/2016
13,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:44:38,Games,NaN,2016,-1.0,7/29/2016
14,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:36:04,Games,NaN,2016,-1.0,7/29/2016
15,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:26:06,Games,NaN,2016,-1.0,7/29/2016
16,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:02:27,Games,NaN,2016,-1.0,7/29/2016
17,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:15:48,Games,NaN,2016,-1.0,7/29/2016
18,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:35:17,Games,NaN,2016,0.0,7/29/2016
19,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:27:19,Games,NaN,2016,0.0,7/29/2016
20,NaN,Sunnyvale,-1.0,22,4,4,3,7/29/2016 14:40:29,Games,NaN,2016,0.0,7/29/2016
21,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:06:33,Games,NaN,2016,-1.0,7/29/2016
22,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 15:17:23,Games,NaN,2016,0.0,7/29/2016
23,NaN,Sunnyvale,0.0,22,2,2,4,7/29/2016 13:23:48,Games,NaN,2016,-1.0,7/29/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN
1424,1471.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN
1425,1472.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN
1426,1473.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN
1427,1474.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN
1428,1475.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,NaN,Apps,Week 7,2017,-1.0,NaN
1430,1477.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN
1431,1478.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1432,1479.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN
1433,1480.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN
1434,1481.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1435,1482.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0,NaN
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0,NaN
1438,1485.0,New York City,0.0,44,Just right,NaN,7,NaN,Apps,Week 7,2017,1.0,NaN
1439,1486.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN
1440,1487.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN
1441,1488.0,New York City,0.0,44,Just right,NaN,7,NaN,Games,Week 7,2017,1.0,NaN
1442,1489.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1443,1490.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,NaN,Games,Week 7,2017,-1.0,NaN
1445,1492.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,NaN,Apps,Week 7,2017,1.0,NaN
1447,1494.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN
1448,1495.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1449,1496.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN
1450,1497.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,NaN,Apps,Week 7,2017,-1.0,NaN
1452,1499.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 5,2017,1.0,NaN

In [ ]:
df["Date"].unique()

In [138]:
# week1 = 6/23/2016 - 6/27/2016
# week2 = 6/30/2016 - 7/5/2016
# week3 = 7/8/2016 - 7/11/2016
# week4 = 7/14/2016 - 7/19/2016
# week5 = 7/21/2016 - 7/24/2016
# week6 = 7/29/2016 - 8/5/2016
# week7 = 8/5/2016 - 8/8/2016
# week8 = 9/7/2016 - 9/26/2016
df["Weeks"] = df["Date"].map({'6/29/2016':'Week 1', '6/30/2016':'Week 2', '8/1/2016 ':'Week 6', '7/24/2016':'Week 5','7/11/2016': 'Week 3', '6/23/2016': 'Week 1', '6/25/2016': 'Week 1', '6/27/2016': 'Week 1', '6/26/2016': 'Week 1','7/31/2016': 'Week 6', '7/30/2016': 'Week 6', '7/3/2016 ': 'Week 2', '7/5/2016 ': 'Week 2', '8/8/2016 ': 'Week 7','7/10/2016': 'Week 3', '7/16/2016': 'Week 4', '7/14/2016': 'Week 4', '7/19/2016': 'Week 4','7/22/2016':'Week 5', '7/23/2016':'Week 5', '6/24/2016':'Week 1', '7/8/2016 ':'Week 3', '7/9/2016 ':'Week 3', '7/1/2016 ':'Week 2', '7/2/2016 ':'Week 2', '7/4/2016 ': 'Week 2', '8/5/2016 ': 'Week 7', '8/7/2016 ':'Week 7','7/29/2016':'Week 6', '7/21/2016':'Week 5', '7/15/2016':'Week 4', '7/17/2016':'Week 4', '7/18/2016':'Week 4'})

In [139]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,Year,Pacing NPS,Date,Weeks
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,Intro,NaN,2016,-1.0,7/29/2016,Week 6
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,Intro,NaN,2016,-1.0,7/29/2016,Week 6
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,Intro,NaN,2016,-1.0,7/29/2016,Week 6
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,Intro,NaN,2016,-1.0,7/21/2016,Week 5
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,Intro,NaN,2016,-1.0,7/21/2016,Week 5
5,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 22:01:53,Intro,NaN,2016,-1.0,7/21/2016,Week 5
0,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:46:28,Apps,NaN,2016,-1.0,7/29/2016,Week 6
1,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 13:52:16,Apps,NaN,2016,-1.0,7/29/2016,Week 6
2,NaN,Sunnyvale,1.0,22,4,4,5,7/29/2016 16:10:41,Apps,NaN,2016,0.0,7/29/2016,Week 6
3,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:10:27,Apps,NaN,2016,-1.0,7/29/2016,Week 6
4,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 14:18:21,Apps,NaN,2016,-1.0,7/29/2016,Week 6
5,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 15:25:45,Apps,NaN,2016,-1.0,7/29/2016,Week 6
6,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 16:41:48,Apps,NaN,2016,-1.0,7/29/2016,Week 6
7,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:26:20,Apps,NaN,2016,-1.0,7/29/2016,Week 6
8,NaN,Sunnyvale,-1.0,22,2,2,2,7/29/2016 13:20:33,Apps,NaN,2016,-1.0,7/29/2016,Week 6
9,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:24:45,Apps,NaN,2016,-1.0,7/29/2016,Week 6
10,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:47:43,Apps,NaN,2016,-1.0,7/29/2016,Week 6
11,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:31:26,Apps,NaN,2016,-1.0,7/29/2016,Week 6
12,NaN,Sunnyvale,1.0,22,2,2,5,7/29/2016 15:28:06,Apps,NaN,2016,-1.0,7/29/2016,Week 6
13,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:44:38,Games,NaN,2016,-1.0,7/29/2016,Week 6
14,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:36:04,Games,NaN,2016,-1.0,7/29/2016,Week 6
15,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:26:06,Games,NaN,2016,-1.0,7/29/2016,Week 6
16,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:02:27,Games,NaN,2016,-1.0,7/29/2016,Week 6
17,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:15:48,Games,NaN,2016,-1.0,7/29/2016,Week 6
18,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:35:17,Games,NaN,2016,0.0,7/29/2016,Week 6
19,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:27:19,Games,NaN,2016,0.0,7/29/2016,Week 6
20,NaN,Sunnyvale,-1.0,22,4,4,3,7/29/2016 14:40:29,Games,NaN,2016,0.0,7/29/2016,Week 6
21,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:06:33,Games,NaN,2016,-1.0,7/29/2016,Week 6
22,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 15:17:23,Games,NaN,2016,0.0,7/29/2016,Week 6
23,NaN,Sunnyvale,0.0,22,2,2,4,7/29/2016 13:23:48,Games,NaN,2016,-1.0,7/29/2016,Week 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1424,1471.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1425,1472.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1426,1473.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1427,1474.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1428,1475.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1430,1477.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1431,1478.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1432,1479.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1433,1480.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1434,1481.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1435,1482.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1438,1485.0,New York City,0.0,44,Just right,NaN,7,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1439,1486.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1440,1487.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1441,1488.0,New York City,0.0,44,Just right,NaN,7,NaN,Games,Week 7,2017,1.0,NaN,NaN
1442,1489.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1443,1490.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,NaN,Games,Week 7,2017,-1.0,NaN,NaN
1445,1492.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1447,1494.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1448,1495.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1449,1496.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1450,1497.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1452,1499.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 5,2017,1.0,NaN,NaN

In [141]:
df['Week'] = np.where(df['Week'].isna(), df["Weeks"], df['Week'])

In [142]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,Year,Pacing NPS,Date,Weeks
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,Intro,Week 6,2016,-1.0,7/29/2016,Week 6
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,Intro,Week 6,2016,-1.0,7/29/2016,Week 6
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,Intro,Week 6,2016,-1.0,7/29/2016,Week 6
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,Intro,Week 5,2016,-1.0,7/21/2016,Week 5
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,Intro,Week 5,2016,-1.0,7/21/2016,Week 5
5,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 22:01:53,Intro,Week 5,2016,-1.0,7/21/2016,Week 5
0,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:46:28,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
1,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 13:52:16,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
2,NaN,Sunnyvale,1.0,22,4,4,5,7/29/2016 16:10:41,Apps,Week 6,2016,0.0,7/29/2016,Week 6
3,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:10:27,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
4,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 14:18:21,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
5,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 15:25:45,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
6,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 16:41:48,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
7,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:26:20,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
8,NaN,Sunnyvale,-1.0,22,2,2,2,7/29/2016 13:20:33,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
9,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:24:45,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
10,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:47:43,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
11,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:31:26,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
12,NaN,Sunnyvale,1.0,22,2,2,5,7/29/2016 15:28:06,Apps,Week 6,2016,-1.0,7/29/2016,Week 6
13,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:44:38,Games,Week 6,2016,-1.0,7/29/2016,Week 6
14,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:36:04,Games,Week 6,2016,-1.0,7/29/2016,Week 6
15,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:26:06,Games,Week 6,2016,-1.0,7/29/2016,Week 6
16,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:02:27,Games,Week 6,2016,-1.0,7/29/2016,Week 6
17,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:15:48,Games,Week 6,2016,-1.0,7/29/2016,Week 6
18,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:35:17,Games,Week 6,2016,0.0,7/29/2016,Week 6
19,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:27:19,Games,Week 6,2016,0.0,7/29/2016,Week 6
20,NaN,Sunnyvale,-1.0,22,4,4,3,7/29/2016 14:40:29,Games,Week 6,2016,0.0,7/29/2016,Week 6
21,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:06:33,Games,Week 6,2016,-1.0,7/29/2016,Week 6
22,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 15:17:23,Games,Week 6,2016,0.0,7/29/2016,Week 6
23,NaN,Sunnyvale,0.0,22,2,2,4,7/29/2016 13:23:48,Games,Week 6,2016,-1.0,7/29/2016,Week 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1424,1471.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1425,1472.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1426,1473.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1427,1474.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1428,1475.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1430,1477.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1431,1478.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1432,1479.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN,NaN
1433,1480.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1434,1481.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1435,1482.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1438,1485.0,New York City,0.0,44,Just right,NaN,7,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1439,1486.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1440,1487.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1441,1488.0,New York City,0.0,44,Just right,NaN,7,NaN,Games,Week 7,2017,1.0,NaN,NaN
1442,1489.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1443,1490.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,NaN,Games,Week 7,2017,-1.0,NaN,NaN
1445,1492.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1447,1494.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN,NaN
1448,1495.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1449,1496.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1450,1497.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,NaN,Apps,Week 7,2017,-1.0,NaN,NaN
1452,1499.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 5,2017,1.0,NaN,NaN

In [143]:
df = df.drop(['Weeks'], axis=1)

In [144]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Timestamp,Track,Week,Year,Pacing NPS,Date
0,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:19:08,Intro,Week 6,2016,-1.0,7/29/2016
1,NaN,Hong Kong,0.0,22,3,3,4,7/29/2016 0:22:41,Intro,Week 6,2016,-1.0,7/29/2016
2,NaN,Hong Kong,1.0,22,3,3,5,7/29/2016 0:23:17,Intro,Week 6,2016,-1.0,7/29/2016
3,NaN,Hong Kong,0.0,22,3,NaN,4,7/21/2016 21:57:59,Intro,Week 5,2016,-1.0,7/21/2016
4,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 21:59:37,Intro,Week 5,2016,-1.0,7/21/2016
5,NaN,Hong Kong,1.0,22,3,NaN,5,7/21/2016 22:01:53,Intro,Week 5,2016,-1.0,7/21/2016
0,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:46:28,Apps,Week 6,2016,-1.0,7/29/2016
1,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 13:52:16,Apps,Week 6,2016,-1.0,7/29/2016
2,NaN,Sunnyvale,1.0,22,4,4,5,7/29/2016 16:10:41,Apps,Week 6,2016,0.0,7/29/2016
3,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:10:27,Apps,Week 6,2016,-1.0,7/29/2016
4,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 14:18:21,Apps,Week 6,2016,-1.0,7/29/2016
5,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 15:25:45,Apps,Week 6,2016,-1.0,7/29/2016
6,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 16:41:48,Apps,Week 6,2016,-1.0,7/29/2016
7,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:26:20,Apps,Week 6,2016,-1.0,7/29/2016
8,NaN,Sunnyvale,-1.0,22,2,2,2,7/29/2016 13:20:33,Apps,Week 6,2016,-1.0,7/29/2016
9,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:24:45,Apps,Week 6,2016,-1.0,7/29/2016
10,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:47:43,Apps,Week 6,2016,-1.0,7/29/2016
11,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:31:26,Apps,Week 6,2016,-1.0,7/29/2016
12,NaN,Sunnyvale,1.0,22,2,2,5,7/29/2016 15:28:06,Apps,Week 6,2016,-1.0,7/29/2016
13,NaN,Sunnyvale,-1.0,22,3,3,3,7/29/2016 13:44:38,Games,Week 6,2016,-1.0,7/29/2016
14,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:36:04,Games,Week 6,2016,-1.0,7/29/2016
15,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 13:26:06,Games,Week 6,2016,-1.0,7/29/2016
16,NaN,Sunnyvale,1.0,22,3,3,5,7/29/2016 15:02:27,Games,Week 6,2016,-1.0,7/29/2016
17,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:15:48,Games,Week 6,2016,-1.0,7/29/2016
18,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:35:17,Games,Week 6,2016,0.0,7/29/2016
19,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 13:27:19,Games,Week 6,2016,0.0,7/29/2016
20,NaN,Sunnyvale,-1.0,22,4,4,3,7/29/2016 14:40:29,Games,Week 6,2016,0.0,7/29/2016
21,NaN,Sunnyvale,0.0,22,3,3,4,7/29/2016 15:06:33,Games,Week 6,2016,-1.0,7/29/2016
22,NaN,Sunnyvale,0.0,22,4,4,4,7/29/2016 15:17:23,Games,Week 6,2016,0.0,7/29/2016
23,NaN,Sunnyvale,0.0,22,2,2,4,7/29/2016 13:23:48,Games,Week 6,2016,-1.0,7/29/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN
1424,1471.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN
1425,1472.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN
1426,1473.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN
1427,1474.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN
1428,1475.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,NaN,Apps,Week 7,2017,-1.0,NaN
1430,1477.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN
1431,1478.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1432,1479.0,New York City,1.0,44,Just right,NaN,9,NaN,Games,Week 7,2017,1.0,NaN
1433,1480.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN
1434,1481.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1435,1482.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0,NaN
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,NaN,Apps,Week 7,2017,-1.0,NaN
1438,1485.0,New York City,0.0,44,Just right,NaN,7,NaN,Apps,Week 7,2017,1.0,NaN
1439,1486.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN
1440,1487.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN
1441,1488.0,New York City,0.0,44,Just right,NaN,7,NaN,Games,Week 7,2017,1.0,NaN
1442,1489.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1443,1490.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,NaN,Games,Week 7,2017,-1.0,NaN
1445,1492.0,New York City,1.0,44,Just right,NaN,9,NaN,Apps,Week 7,2017,1.0,NaN
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,NaN,Apps,Week 7,2017,1.0,NaN
1447,1494.0,New York City,1.0,44,Just right,NaN,10,NaN,Games,Week 7,2017,1.0,NaN
1448,1495.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1449,1496.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 7,2017,1.0,NaN
1450,1497.0,New York City,1.0,44,Just right,NaN,10,NaN,Apps,Week 7,2017,1.0,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,NaN,Apps,Week 7,2017,-1.0,NaN
1452,1499.0,New York City,0.0,44,Just right,NaN,8,NaN,Apps,Week 5,2017,1.0,NaN

In [145]:
df = df.drop(['Timestamp'], axis=1)

In [146]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS,Date
0,NaN,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0,7/29/2016
1,NaN,Hong Kong,0.0,22,3,3,4,Intro,Week 6,2016,-1.0,7/29/2016
2,NaN,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0,7/29/2016
3,NaN,Hong Kong,0.0,22,3,NaN,4,Intro,Week 5,2016,-1.0,7/21/2016
4,NaN,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0,7/21/2016
5,NaN,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0,7/21/2016
0,NaN,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0,7/29/2016
1,NaN,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0,7/29/2016
2,NaN,Sunnyvale,1.0,22,4,4,5,Apps,Week 6,2016,0.0,7/29/2016
3,NaN,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0,7/29/2016
4,NaN,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0,7/29/2016
5,NaN,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0,7/29/2016
6,NaN,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0,7/29/2016
7,NaN,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0,7/29/2016
8,NaN,Sunnyvale,-1.0,22,2,2,2,Apps,Week 6,2016,-1.0,7/29/2016
9,NaN,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0,7/29/2016
10,NaN,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0,7/29/2016
11,NaN,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0,7/29/2016
12,NaN,Sunnyvale,1.0,22,2,2,5,Apps,Week 6,2016,-1.0,7/29/2016
13,NaN,Sunnyvale,-1.0,22,3,3,3,Games,Week 6,2016,-1.0,7/29/2016
14,NaN,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0,7/29/2016
15,NaN,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0,7/29/2016
16,NaN,Sunnyvale,1.0,22,3,3,5,Games,Week 6,2016,-1.0,7/29/2016
17,NaN,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0,7/29/2016
18,NaN,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0,7/29/2016
19,NaN,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0,7/29/2016
20,NaN,Sunnyvale,-1.0,22,4,4,3,Games,Week 6,2016,0.0,7/29/2016
21,NaN,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0,7/29/2016
22,NaN,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0,7/29/2016
23,NaN,Sunnyvale,0.0,22,2,2,4,Games,Week 6,2016,-1.0,7/29/2016
...,...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0,NaN
1424,1471.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0,NaN
1425,1472.0,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0,NaN
1426,1473.0,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0,NaN
1427,1474.0,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0,NaN
1428,1475.0,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0,NaN
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,Apps,Week 7,2017,-1.0,NaN
1430,1477.0,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0,NaN
1431,1478.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0,NaN
1432,1479.0,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0,NaN
1433,1480.0,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0,NaN
1434,1481.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0,NaN
1435,1482.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0,NaN
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,Apps,Week 7,2017,-1.0,NaN
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,Apps,Week 7,2017,-1.0,NaN
1438,1485.0,New York City,0.0,44,Just right,NaN,7,Apps,Week 7,2017,1.0,NaN
1439,1486.0,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0,NaN
1440,1487.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0,NaN
1441,1488.0,New York City,0.0,44,Just right,NaN,7,Games,Week 7,2017,1.0,NaN
1442,1489.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0,NaN
1443,1490.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0,NaN
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,Games,Week 7,2017,-1.0,NaN
1445,1492.0,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0,NaN
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,Apps,Week 7,2017,1.0,NaN
1447,1494.0,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0,NaN
1448,1495.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0,NaN
1449,1496.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0,NaN
1450,1497.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0,NaN
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,Apps,Week 7,2017,-1.0,NaN
1452,1499.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 5,2017,1.0,NaN

In [147]:
df = df.drop(['Date'], axis=1)

In [148]:
df

,ID,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
0,NaN,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
1,NaN,Hong Kong,0.0,22,3,3,4,Intro,Week 6,2016,-1.0
2,NaN,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
3,NaN,Hong Kong,0.0,22,3,NaN,4,Intro,Week 5,2016,-1.0
4,NaN,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
5,NaN,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
0,NaN,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
1,NaN,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
2,NaN,Sunnyvale,1.0,22,4,4,5,Apps,Week 6,2016,0.0
3,NaN,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
4,NaN,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
5,NaN,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
6,NaN,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
7,NaN,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
8,NaN,Sunnyvale,-1.0,22,2,2,2,Apps,Week 6,2016,-1.0
9,NaN,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
10,NaN,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
11,NaN,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
12,NaN,Sunnyvale,1.0,22,2,2,5,Apps,Week 6,2016,-1.0
13,NaN,Sunnyvale,-1.0,22,3,3,3,Games,Week 6,2016,-1.0
14,NaN,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
15,NaN,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
16,NaN,Sunnyvale,1.0,22,3,3,5,Games,Week 6,2016,-1.0
17,NaN,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
18,NaN,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
19,NaN,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
20,NaN,Sunnyvale,-1.0,22,4,4,3,Games,Week 6,2016,0.0
21,NaN,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
22,NaN,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
23,NaN,Sunnyvale,0.0,22,2,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...,...
1423,1470.0,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1424,1471.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1425,1472.0,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1426,1473.0,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1427,1474.0,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1428,1475.0,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1429,1476.0,New York City,0.0,44,A little too fast,NaN,8,Apps,Week 7,2017,-1.0
1430,1477.0,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1431,1478.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1432,1479.0,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1433,1480.0,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1434,1481.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1435,1482.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1436,1483.0,New York City,0.0,44,A little too fast,NaN,7,Apps,Week 7,2017,-1.0
1437,1484.0,New York City,0.0,44,Way too fast,NaN,7,Apps,Week 7,2017,-1.0
1438,1485.0,New York City,0.0,44,Just right,NaN,7,Apps,Week 7,2017,1.0
1439,1486.0,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1440,1487.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1441,1488.0,New York City,0.0,44,Just right,NaN,7,Games,Week 7,2017,1.0
1442,1489.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1443,1490.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1444,1491.0,New York City,1.0,44,A little too fast,NaN,9,Games,Week 7,2017,-1.0
1445,1492.0,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1446,1493.0,New York City,-1.0,44,Just right,NaN,3,Apps,Week 7,2017,1.0
1447,1494.0,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1448,1495.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1449,1496.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1450,1497.0,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1451,1498.0,New York City,-1.0,44,A little too slow,NaN,1,Apps,Week 7,2017,-1.0
1452,1499.0,New York City,0.0,44,Just right,NaN,8,Apps,Week 5,2017,1.0

In [149]:
df = df.drop(['ID'], axis=1)

In [150]:
df

,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,NaN,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,NaN,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,NaN,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,NaN,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,NaN,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,NaN,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,NaN,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,NaN,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,NaN,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,NaN,8,Apps,Week 5,2017,1.0

In [151]:
df["Week"].unique()

array(['Week 6', 'Week 5', 'Week 4', 'Week 2', 'Week 7', 'Week 1',
       'Week 3', nan, 'Week 8'], dtype=object)

In [152]:
df[(df["Week"] == nan)]

NameError: name 'nan' is not defined

In [153]:
df[df["Week"].isna()]

,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
310,Sunnyvale,NaN,22,#REF!,#REF!,#REF!,Average:,NaN,2016,0.0
118,San Francisco,-1.0,22,3,3,3,Apps,NaN,2016,-1.0
119,San Francisco,0.0,22,3,3,4,Apps,NaN,2016,-1.0
120,San Francisco,0.0,22,3,3,4,Apps,NaN,2016,-1.0
121,San Francisco,0.0,22,4,4,4,Apps,NaN,2016,0.0
122,San Francisco,-1.0,22,3,3,3,Apps,NaN,2016,-1.0
123,San Francisco,1.0,22,3,3,5,Apps,NaN,2016,-1.0
124,San Francisco,-1.0,22,2,2,3,Apps,NaN,2016,-1.0
125,San Francisco,1.0,22,3,3,5,Apps,NaN,2016,-1.0
126,San Francisco,-1.0,22,3,3,1,Apps,NaN,2016,-1.0
127,San Francisco,0.0,22,3,3,4,Apps,NaN,2016,-1.0
128,San Francisco,1.0,22,3,3,5,Apps,NaN,2016,-1.0
129,San Francisco,0.0,22,4,4,4,Apps,NaN,2016,0.0
130,San Francisco,-1.0,22,4,4,3,Apps,NaN,2016,0.0
131,San Francisco,0.0,22,3,3,4,Games,NaN,2016,-1.0
132,San Francisco,1.0,22,3,3,5,Games,NaN,2016,-1.0
133,San Francisco,-1.0,22,5,5,1,Games,NaN,2016,0.0
134,San Francisco,1.0,22,3,3,5,Games,NaN,2016,-1.0
135,San Francisco,0.0,22,3,3,4,Games,NaN,2016,-1.0
136,San Francisco,1.0,22,3,3,5,Games,NaN,2016,-1.0
137,San Francisco,1.0,22,2,2,5,Intro,NaN,2016,-1.0
138,San Francisco,0.0,22,3,3,4,Intro,NaN,2016,-1.0
139,San Francisco,-1.0,22,5,5,3,Intro,NaN,2016,0.0
140,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
141,San Francisco,1.0,22,4,4,5,Intro,NaN,2016,0.0
142,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
143,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
144,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
145,San Francisco,1.0,22,2,2,5,Intro,NaN,2016,-1.0
146,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
147,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
148,San Francisco,0.0,22,3,3,4,Intro,NaN,2016,-1.0
149,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
150,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
151,San Francisco,0.0,22,4,4,4,Intro,NaN,2016,0.0
152,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
153,San Francisco,1.0,22,3,3,5,Intro,NaN,2016,-1.0
154,San Francisco,1.0,22,4,4,5,VR,NaN,2016,0.0
155,San Francisco,1.0,22,4,4,5,VR,NaN,2016,0.0
156,San Francisco,0.0,22,4,4,4,VR,NaN,2016,0.0
157,San Francisco,1.0,22,3,3,5,VR,NaN,2016,-1.0
158,San Francisco,-1.0,22,3,3,3,Intro,NaN,2016,-1.0
159,San Francisco,-1.0,22,3,3,3,Intro,NaN,2016,-1.0

In [154]:
df['Week'] = np.where(df['Week'].isna(), 'Week 5', df['Week'])

In [155]:
df["Week"].unique()

array(['Week 6', 'Week 5', 'Week 4', 'Week 2', 'Week 7', 'Week 1',
       'Week 3', 'Week 8'], dtype=object)

In [156]:
df[df["Week"]=="Week 8"].count()

Location            9
NPS                 9
NPS_Year_Score      9
Schedule Pacing     9
Schedule Pacing1    0
Score               9
Track               9
Week                9
Year                9
Pacing NPS          9
dtype: int64

In [157]:
df_backup = df

In [158]:
df = df[df.Week != "Week 8"]

In [159]:
df["Week"].unique()

array(['Week 6', 'Week 5', 'Week 4', 'Week 2', 'Week 7', 'Week 1',
       'Week 3'], dtype=object)

In [160]:
df

,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,NaN,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,NaN,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,NaN,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,NaN,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,NaN,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,NaN,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,NaN,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,NaN,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,NaN,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,NaN,8,Apps,Week 5,2017,1.0

In [161]:
df["Location"].unique()

array(['Hong Kong', 'Sunnyvale', 'San Francisco', 'New York',
       'Los Angeles', 'Singapore', 'Taipei', 'Tokyo', nan,
       'New York City', 'Redwood City', 'Santa Clara', 'Oakland',
       'Washington DC', 'Chicago', 'Atlanta', 'Beijing'], dtype=object)

In [162]:
df[df["Location"].isna()]

,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
3,NaN,-1.0,44,A little too fast,NaN,4,Intro,Week 2,2017,-1.0
15,NaN,-1.0,44,A little too slow,NaN,5,Intro,Week 3,2017,-1.0
33,NaN,-1.0,44,A little too slow,NaN,6,Intro,Week 1,2017,-1.0
43,NaN,-1.0,44,A little too slow,NaN,6,Intro,Week 1,2017,-1.0
93,NaN,0.0,44,Just right,NaN,7,Intro,Week 3,2017,1.0
169,NaN,0.0,44,A little too fast,NaN,8,Intro,Week 2,2017,-1.0
205,NaN,0.0,44,Just right,NaN,8,Intro,Week 1,2017,1.0
232,NaN,0.0,44,Just right,NaN,8,Intro,Week 3,2017,1.0
312,NaN,1.0,44,A little too fast,NaN,9,Intro,Week 2,2017,-1.0
439,NaN,1.0,44,Just right,NaN,10,Intro,Week 1,2017,1.0
508,NaN,0.0,44,A little too fast,NaN,7,Intro,Week 2,2017,-1.0
510,NaN,0.0,44,Just right,NaN,7,Intro,Week 1,2017,1.0
548,NaN,1.0,44,A little too fast,NaN,10,Intro,Week 2,2017,-1.0
550,NaN,-1.0,44,A little too fast,NaN,4,Intro,Week 2,2017,-1.0
556,NaN,0.0,44,Just right,NaN,8,Intro,Week 2,2017,1.0
569,NaN,-1.0,44,A little too fast,NaN,6,Intro,Week 2,2017,-1.0
577,NaN,NaN,44,Way too fast,NaN,0,Intro,Week 2,2017,-1.0
595,NaN,1.0,44,Just right,NaN,10,Intro,Week 4,2017,1.0
704,NaN,0.0,44,A little too fast,NaN,7,Intro,Week 2,2017,-1.0
728,NaN,1.0,44,A little too fast,NaN,9,Intro,Week 1,2017,-1.0
808,NaN,0.0,44,A little too fast,NaN,7,Intro,Week 3,2017,-1.0
810,NaN,1.0,44,Just right,NaN,10,Intro,Week 3,2017,1.0
881,NaN,1.0,44,A little too fast,NaN,9,Intro,Week 5,2017,-1.0
935,NaN,1.0,44,Just right,NaN,10,Intro,Week 3,2017,1.0
940,NaN,0.0,44,Just right,NaN,7,Intro,Week 3,2017,1.0
959,NaN,1.0,44,Just right,NaN,9,Intro,Week 2,2017,1.0
1102,NaN,1.0,44,Just right,NaN,9,Intro,Week 1,2017,1.0
1104,NaN,1.0,44,Just right,NaN,9,Intro,Week 1,2017,1.0
1106,NaN,0.0,44,Just right,NaN,8,Intro,Week 1,2017,1.0
1108,NaN,1.0,44,A little too fast,NaN,9,Intro,Week 1,2017,-1.0
1112,NaN,1.0,44,Just right,NaN,10,Intro,Week 1,2017,1.0
1120,NaN,1.0,44,Just right,NaN,9,Intro,Week 1,2017,1.0
1121,NaN,1.0,44,Just right,NaN,10,Intro,Week 2,2017,1.0
1140,NaN,0.0,44,Just right,NaN,7,Intro,Week 4,2017,1.0
1141,NaN,1.0,44,Just right,NaN,10,Intro,Week 4,2017,1.0
1157,NaN,0.0,44,Way too slow,NaN,7,Intro,Week 4,2017,-1.0
1178,NaN,0.0,44,A little too fast,NaN,7,Intro,Week 2,2017,-1.0
1187,NaN,1.0,44,Way too fast,NaN,10,Intro,Week 2,2017,-1.0
1189,NaN,1.0,44,Just right,NaN,10,Intro,Week 3,2017,1.0
1235,NaN,1.0,44,Just right,NaN,10,Intro,Week 5,2017,1.0
1335,NaN,-1.0,44,Just right,NaN,5,Intro,Week 5,2017,1.0
1340,NaN,1.0,44,Just right,NaN,10,Intro,Week 2,2017,1.0
1405,NaN,0.0,44,Just right,NaN,7,Intro,Week 7,2017,1.0
1410,NaN,1.0,44,Just right,NaN,10,Intro,Week 6,2017,1.0

In [163]:
df["Track"].unique()

array(['Intro', 'Apps', 'Games', 'Average:', 'VR'], dtype=object)

In [164]:
df[df['Track']=='Average:']

,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
310,Sunnyvale,NaN,22,#REF!,#REF!,#REF!,Average:,Week 5,2016,0.0

In [165]:
df[310]#.drop([0, 1])

KeyError: 310

In [166]:
df_backup = df
#df.drop(df.index[[310]])

In [167]:
df_backup

,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,NaN,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,NaN,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,NaN,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,NaN,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,NaN,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,NaN,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,NaN,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,NaN,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,NaN,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,NaN,8,Apps,Week 5,2017,1.0

In [168]:
df['Track'].unique()

array(['Intro', 'Apps', 'Games', 'Average:', 'VR'], dtype=object)

In [169]:

# Data Dictionary:

# Location: 'Hong Kong', 'Sunnyvale', 'San Francisco', 'New York', 'Los Angeles', 'Singapore', 'Taipei', 'Tokyo', nan, 'New York City', 'Redwood City', 'Santa Clara', 'Oakland', 'Washington DC', 'Chicago', 'Atlanta', 'Beijing'

# NPS: (1, 0, -1) influenced by the “Score” column. A score of 9 or 10 was a 1 (promoter), a score of 7 or 8 was a 0 (passive), and a score of 6 or less was -1 (detractor). The score column for the year of 2016 was on a 1 to 5 scale so all values were multiplied by 2 to determine their NPS number.

# NPS_YEAR_SCORE: The overall score of the program per year based on that year’s collective NPS scores (the sum of all the 1’s, 0’s, and -1’s) divided by that year’s total number of participants multiplied by 100.
# 	22 and 44 are good scores, which indicate most participants were “promoters.”

# Schedule Pacing: Either a number between 1 and 5 (2016) or a descriptive statement regarding the pacing of the program (2017).

# Score: The score of the program, where a score of ‘1’ is the worst, and a score of ’10’ is the best. (2016 had scores between ‘1’ and ‘5’ see note above under ‘NPS’.

# Track: The self-declared track or academic focus of the student, including 'Intro',  'Apps', 'Games', and ’VR’.

# Week: The survey was given at the close of each week. The program spanned 7 weeks. Week 8 for both the 2016 and 2017 year were omitted. (Less than 20 rows of data).

# Year: The year attended, either 2016 or 2017.

# Pacing NPS: The NPS score (1, 0, -1) influenced by the “Schedule Pacing” column (values from 1 to 5). All values were multiplied by 2 to determine their NPS number. The descriptive statements regarding the pacing of the program were scored as well and given either a score of 1 (for ‘Just right’) or a score of -1 for anything else.

In [170]:
df_backup = df

In [171]:
df

,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,NaN,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,NaN,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,NaN,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,NaN,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,NaN,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,NaN,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,NaN,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,NaN,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,NaN,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,NaN,8,Apps,Week 5,2017,1.0

In [172]:
df_backup

,Location,NPS,NPS_Year_Score,Schedule Pacing,Schedule Pacing1,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,NaN,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,NaN,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,NaN,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,NaN,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,NaN,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,NaN,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,NaN,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,NaN,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,NaN,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,NaN,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,NaN,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,NaN,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,NaN,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,NaN,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,NaN,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,NaN,8,Apps,Week 5,2017,1.0

In [173]:
df = df.drop(['Schedule Pacing1'], axis=1)

In [174]:
df

,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,8,Apps,Week 5,2017,1.0

In [177]:
df[df["NPS"].isna()]

,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
277,Sunnyvale,NaN,22,2,5,Games,Week 3,2016,-1.0
278,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
279,Sunnyvale,NaN,22,3,4,Games,Week 3,2016,-1.0
280,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
281,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
282,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
283,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
284,Sunnyvale,NaN,22,4,3,Apps,Week 3,2016,0.0
285,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
286,Sunnyvale,NaN,22,4,3,Apps,Week 3,2016,0.0
287,Sunnyvale,NaN,22,2,3,Apps,Week 3,2016,-1.0
288,Sunnyvale,NaN,22,4,5,Apps,Week 3,2016,0.0
289,Sunnyvale,NaN,22,5,5,Games,Week 3,2016,1.0
290,Sunnyvale,NaN,22,3,4,Games,Week 3,2016,-1.0
291,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
292,Sunnyvale,NaN,22,3,5,Intro,Week 3,2016,-1.0
293,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
294,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
295,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
296,Sunnyvale,NaN,22,2,5,Games,Week 3,2016,-1.0
297,Sunnyvale,NaN,22,3,3,Apps,Week 3,2016,-1.0
298,Sunnyvale,NaN,22,3,3,Games,Week 3,2016,-1.0
299,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
300,Sunnyvale,NaN,22,2,4,Apps,Week 3,2016,-1.0
301,Sunnyvale,NaN,22,5,4,Games,Week 3,2016,1.0
302,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
303,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
304,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
305,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
306,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
307,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
308,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
309,Sunnyvale,NaN,22,4,4,Games,Week 3,2016,0.0
310,Sunnyvale,NaN,22,#REF!,#REF!,Average:,Week 5,2016,0.0
311,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
312,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
313,Sunnyvale,NaN,22,3,5,Intro,Week 3,2016,-1.0
577,NaN,NaN,44,Way too fast,0,Intro,Week 2,2017,-1.0
1215,New York City,NaN,44,A little too fast,0,Apps,Week 5,2017,-1.0

In [178]:
df_backup = df

In [182]:
df.iloc[310]
#df.iloc[1]
#df.drop([310, 1])

Location           Sunnyvale
NPS                      NaN
NPS_Year_Score            22
Schedule Pacing            3
Score                      4
Track                  Intro
Week                  Week 3
Year                    2016
Pacing NPS                -1
Name: 304, dtype: object

In [183]:
#df.iloc[310]
df.iloc[1]

Location           Hong Kong
NPS                        0
NPS_Year_Score            22
Schedule Pacing            3
Score                      4
Track                  Intro
Week                  Week 6
Year                    2016
Pacing NPS                -1
Name: 1, dtype: object

In [189]:
df.drop(df.index[[310]])

,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,8,Apps,Week 5,2017,1.0

In [192]:
df[df["NPS"].isna()]

,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
277,Sunnyvale,NaN,22,2,5,Games,Week 3,2016,-1.0
278,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
279,Sunnyvale,NaN,22,3,4,Games,Week 3,2016,-1.0
280,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
281,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
282,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
283,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
284,Sunnyvale,NaN,22,4,3,Apps,Week 3,2016,0.0
285,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
286,Sunnyvale,NaN,22,4,3,Apps,Week 3,2016,0.0
287,Sunnyvale,NaN,22,2,3,Apps,Week 3,2016,-1.0
288,Sunnyvale,NaN,22,4,5,Apps,Week 3,2016,0.0
289,Sunnyvale,NaN,22,5,5,Games,Week 3,2016,1.0
290,Sunnyvale,NaN,22,3,4,Games,Week 3,2016,-1.0
291,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
292,Sunnyvale,NaN,22,3,5,Intro,Week 3,2016,-1.0
293,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
294,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
295,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
296,Sunnyvale,NaN,22,2,5,Games,Week 3,2016,-1.0
297,Sunnyvale,NaN,22,3,3,Apps,Week 3,2016,-1.0
298,Sunnyvale,NaN,22,3,3,Games,Week 3,2016,-1.0
299,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
300,Sunnyvale,NaN,22,2,4,Apps,Week 3,2016,-1.0
301,Sunnyvale,NaN,22,5,4,Games,Week 3,2016,1.0
302,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
303,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
304,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
305,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
306,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
307,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
308,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
309,Sunnyvale,NaN,22,4,4,Games,Week 3,2016,0.0
310,Sunnyvale,NaN,22,#REF!,#REF!,Average:,Week 5,2016,0.0
311,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
312,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
313,Sunnyvale,NaN,22,3,5,Intro,Week 3,2016,-1.0
577,NaN,NaN,44,Way too fast,0,Intro,Week 2,2017,-1.0
1215,New York City,NaN,44,A little too fast,0,Apps,Week 5,2017,-1.0

In [193]:
df = df[df['Schedule Pacing'] != '#REF!']

In [194]:
df[df["NPS"].isna()]

,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
277,Sunnyvale,NaN,22,2,5,Games,Week 3,2016,-1.0
278,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
279,Sunnyvale,NaN,22,3,4,Games,Week 3,2016,-1.0
280,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
281,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
282,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
283,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
284,Sunnyvale,NaN,22,4,3,Apps,Week 3,2016,0.0
285,Sunnyvale,NaN,22,4,4,Apps,Week 3,2016,0.0
286,Sunnyvale,NaN,22,4,3,Apps,Week 3,2016,0.0
287,Sunnyvale,NaN,22,2,3,Apps,Week 3,2016,-1.0
288,Sunnyvale,NaN,22,4,5,Apps,Week 3,2016,0.0
289,Sunnyvale,NaN,22,5,5,Games,Week 3,2016,1.0
290,Sunnyvale,NaN,22,3,4,Games,Week 3,2016,-1.0
291,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
292,Sunnyvale,NaN,22,3,5,Intro,Week 3,2016,-1.0
293,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
294,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
295,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
296,Sunnyvale,NaN,22,2,5,Games,Week 3,2016,-1.0
297,Sunnyvale,NaN,22,3,3,Apps,Week 3,2016,-1.0
298,Sunnyvale,NaN,22,3,3,Games,Week 3,2016,-1.0
299,Sunnyvale,NaN,22,3,4,Apps,Week 3,2016,-1.0
300,Sunnyvale,NaN,22,2,4,Apps,Week 3,2016,-1.0
301,Sunnyvale,NaN,22,5,4,Games,Week 3,2016,1.0
302,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
303,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
304,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
305,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
306,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
307,Sunnyvale,NaN,22,3,4,Intro,Week 3,2016,-1.0
308,Sunnyvale,NaN,22,4,4,Intro,Week 3,2016,0.0
309,Sunnyvale,NaN,22,4,4,Games,Week 3,2016,0.0
311,Sunnyvale,NaN,22,3,5,Apps,Week 3,2016,-1.0
312,Sunnyvale,NaN,22,3,5,Games,Week 3,2016,-1.0
313,Sunnyvale,NaN,22,3,5,Intro,Week 3,2016,-1.0
577,NaN,NaN,44,Way too fast,0,Intro,Week 2,2017,-1.0
1215,New York City,NaN,44,A little too fast,0,Apps,Week 5,2017,-1.0

In [195]:
df['NPS'] = np.where(df['NPS'].isna(), df["Score"].map({'Way too fast': -1, 'A little too fast': -1, 'Way too slow': -1, 'A little too slow': -1,'#REF!': 0, 'Just right': 1,'3': -1, '4': 0, '5': 1,'2': -1, 3.0: 1, 4: 0, 3: -1, 2: -1, 1: -1}), df['NPS'])

/Users/jamesmccrory/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [196]:
df[df["NPS"].isna()]

,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
577,NaN,NaN,44,Way too fast,0,Intro,Week 2,2017,-1.0
1215,New York City,NaN,44,A little too fast,0,Apps,Week 5,2017,-1.0

In [197]:
df['NPS'] = np.where(df['NPS'].isna(), "-1", df['NPS'])

/Users/jamesmccrory/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [198]:
df[df["NPS"].isna()]

Empty DataFrame
Columns: [Location, NPS, NPS_Year_Score, Schedule Pacing, Score, Track, Week, Year, Pacing NPS]
Index: []

In [199]:
df

,Location,NPS,NPS_Year_Score,Schedule Pacing,Score,Track,Week,Year,Pacing NPS
0,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
1,Hong Kong,0.0,22,3,4,Intro,Week 6,2016,-1.0
2,Hong Kong,1.0,22,3,5,Intro,Week 6,2016,-1.0
3,Hong Kong,0.0,22,3,4,Intro,Week 5,2016,-1.0
4,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
5,Hong Kong,1.0,22,3,5,Intro,Week 5,2016,-1.0
0,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
1,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
2,Sunnyvale,1.0,22,4,5,Apps,Week 6,2016,0.0
3,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
4,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
5,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
6,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
7,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
8,Sunnyvale,-1.0,22,2,2,Apps,Week 6,2016,-1.0
9,Sunnyvale,0.0,22,3,4,Apps,Week 6,2016,-1.0
10,Sunnyvale,-1.0,22,3,3,Apps,Week 6,2016,-1.0
11,Sunnyvale,1.0,22,3,5,Apps,Week 6,2016,-1.0
12,Sunnyvale,1.0,22,2,5,Apps,Week 6,2016,-1.0
13,Sunnyvale,-1.0,22,3,3,Games,Week 6,2016,-1.0
14,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
15,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
16,Sunnyvale,1.0,22,3,5,Games,Week 6,2016,-1.0
17,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
18,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
19,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
20,Sunnyvale,-1.0,22,4,3,Games,Week 6,2016,0.0
21,Sunnyvale,0.0,22,3,4,Games,Week 6,2016,-1.0
22,Sunnyvale,0.0,22,4,4,Games,Week 6,2016,0.0
23,Sunnyvale,0.0,22,2,4,Games,Week 6,2016,-1.0
...,...,...,...,...,...,...,...,...,...
1423,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1424,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1425,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1426,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1427,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1428,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1429,New York City,0.0,44,A little too fast,8,Apps,Week 7,2017,-1.0
1430,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1431,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1432,New York City,1.0,44,Just right,9,Games,Week 7,2017,1.0
1433,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1434,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1435,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1436,New York City,0.0,44,A little too fast,7,Apps,Week 7,2017,-1.0
1437,New York City,0.0,44,Way too fast,7,Apps,Week 7,2017,-1.0
1438,New York City,0.0,44,Just right,7,Apps,Week 7,2017,1.0
1439,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1440,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1441,New York City,0.0,44,Just right,7,Games,Week 7,2017,1.0
1442,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1443,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1444,New York City,1.0,44,A little too fast,9,Games,Week 7,2017,-1.0
1445,New York City,1.0,44,Just right,9,Apps,Week 7,2017,1.0
1446,New York City,-1.0,44,Just right,3,Apps,Week 7,2017,1.0
1447,New York City,1.0,44,Just right,10,Games,Week 7,2017,1.0
1448,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1449,New York City,0.0,44,Just right,8,Apps,Week 7,2017,1.0
1450,New York City,1.0,44,Just right,10,Apps,Week 7,2017,1.0
1451,New York City,-1.0,44,A little too slow,1,Apps,Week 7,2017,-1.0
1452,New York City,0.0,44,Just right,8,Apps,Week 5,2017,1.0

In [202]:
df["Score"].unique()

array([5, 4, 3, 2, '5', '4', '3', 1, '6', '7', '8', '9', '10', '0', '1',
       '2'], dtype=object)

In [203]:
df["Score"] = np.where(type(df["Score"]) != int, int(df["Score"]), df["Score"])

TypeError: cannot convert the series to <class 'int'>

In [206]:
for s in df["Score"]:
    if type(s) != int:
        s = int(s)

In [207]:
df["Score"].unique()

array([5, 4, 3, 2, '5', '4', '3', 1, '6', '7', '8', '9', '10', '0', '1',
       '2'], dtype=object)

In [209]:
df_backup = df
#df["Score"] = df["Score"].apply(pd.to_numeric)

In [210]:
df["Score"] = df["Score"].apply(pd.to_numeric)

/Users/jamesmccrory/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [211]:
df["Score"].unique()

array([ 5,  4,  3,  2,  1,  6,  7,  8,  9, 10,  0])

In [212]:
df["Track"].unique()

array(['Intro', 'Apps', 'Games', 'VR'], dtype=object)

In [213]:
df['Week'].unique()

array(['Week 6', 'Week 5', 'Week 4', 'Week 2', 'Week 7', 'Week 1',
       'Week 3'], dtype=object)

In [214]:
df['Year'].unique()

array([2016, 2017])

In [215]:
df['Pacing NPS'].unique()

array([-1.,  0.,  1.])